{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class='flex space-x-6 {% if class %} {{ class}}{% endif %}' role='list'>
  {%- if settings.social_amazon_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_amazon_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
          <path d="M15.93 17.09C15.75 17.25 15.5 17.26 15.3 17.15C14.41 16.41 14.25 16.07 13.76 15.36C12.29 16.86 11.25 17.31 9.34003 17.31C7.09003 17.31 5.33003 15.92 5.33003 13.14C5.33003 10.96 6.50003 9.5 8.19003 8.76C9.65003 8.12 11.68 8 13.23 7.83V7.5C13.23 6.84 13.28 6.09 12.9 5.54C12.58 5.05 11.95 4.84 11.4 4.84C10.38 4.84 9.47003 5.37 9.25003 6.45C9.20003 6.69 9.00003 6.93 8.78003 6.94L6.18003 6.66C5.96003 6.61 5.72003 6.44 5.78003 6.1C6.38003 2.95 9.23003 2 11.78 2C13.08 2 14.78 2.35 15.81 3.33C17.11 4.55 17 6.18 17 7.95V12.12C17 13.37 17.5 13.93 18 14.6C18.17 14.85 18.21 15.14 18 15.31L15.94 17.09H15.93ZM13.23 10.56V10C11.29 10 9.24003 10.39 9.24003 12.67C9.24003 13.83 9.85003 14.62 10.87 14.62C11.63 14.62 12.3 14.15 12.73 13.4C13.25 12.47 13.23 11.6 13.23 10.56ZM20.16 19.54C18 21.14 14.82 22 12.1 22C8.29003 22 4.85003 20.59 2.25003 18.24C2.05003 18.06 2.23003 17.81 2.50003 17.95C5.28003 19.58 8.75003 20.56 12.33 20.56C14.74 20.56 17.4 20.06 19.84 19.03C20.21 18.87 20.5 19.27 20.16 19.54ZM21.07 18.5C20.79 18.14 19.22 18.33 18.5 18.42C18.31 18.44 18.28 18.26 18.47 18.12C19.71 17.24 21.76 17.5 22 17.79C22.24 18.09 21.93 20.14 20.76 21.11C20.58 21.27 20.41 21.18 20.5 21C20.76 20.33 21.35 18.86 21.07 18.5Z"/>
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.amazon' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_facebook_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24' aria-hidden='true'>
          <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_instagram_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24' aria-hidden='true'>
          <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_youtube_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24' aria-hidden='true'>
          <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_tiktok_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 512 512' aria-hidden='true'>
          <path d="M412.19,118.66a109.27,109.27,0,0,1-9.45-5.5,132.87,132.87,0,0,1-24.27-20.62c-18.1-20.71-24.86-41.72-27.35-56.43h.1C349.14,23.9,350,16,350.13,16H267.69V334.78c0,4.28,0,8.51-.18,12.69,0,.52-.05,1-.08,1.56,0,.23,0,.47-.05.71,0,.06,0,.12,0,.18a70,70,0,0,1-35.22,55.56,68.8,68.8,0,0,1-34.11,9c-38.41,0-69.54-31.32-69.54-70s31.13-70,69.54-70a68.9,68.9,0,0,1,21.41,3.39l.1-83.94a153.14,153.14,0,0,0-118,34.52,161.79,161.79,0,0,0-35.3,43.53c-3.48,6-16.61,30.11-18.2,69.24-1,22.21,5.67,45.22,8.85,54.73v.2c2,5.6,9.75,24.71,22.38,40.82A167.53,167.53,0,0,0,115,470.66v-.2l.2.2C155.11,497.78,199.36,496,199.36,496c7.66-.31,33.32,0,62.46-13.81,32.32-15.31,50.72-38.12,50.72-38.12a158.46,158.46,0,0,0,27.64-45.93c7.46-19.61,9.95-43.13,9.95-52.53V176.49c1,.6,14.32,9.41,14.32,9.41s19.19,12.3,49.13,20.31c21.48,5.7,50.42,6.9,50.42,6.9V131.27C453.86,132.37,433.27,129.17,412.19,118.66Z"/>
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li class=''>
      <a href='{{ settings.social_twitter_link }}' class='text-tan-50 hover:text-tan-100'>
        <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24' aria-hidden='true'>
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg>
        <span class='visually-hidden'>{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
