
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539510752042550419.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539510752042550419.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539510752042550419.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539510752042550419.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539510752042550419.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539510752042550419.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539510752042550419.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539510752042550419.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539510752042550419.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539510752042550419.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539510752042550419.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-539510752042550419.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539510752042550419.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539510752042550419.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539510752042550419.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539510752042550419.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539510752042550419.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539510752042550419.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539510752042550419.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539510752042550419.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-539510752042550419.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539510752042550419.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539510752042550419.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539510752042550419.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539510752042550419.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539510752042550419.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539510752042550419.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539510752042550419.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539510752042550419.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539510752042550419.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539510752042550419.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-539510752042550419.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539510752042550419.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539510752042550419.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539510752042550419.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539510752042550419.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539510752042550419.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539510752042550419.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539510752042550419.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539510752042550419.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539510752042550419.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539510752042550419 .gp-relative{position:relative}.gps-539510752042550419 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539510752042550419 .gp-mb-0{margin-bottom:0}.gps-539510752042550419 .\!gp-inline{display:inline!important}.gps-539510752042550419 .gp-flex{display:flex}.gps-539510752042550419 .gp-grid{display:grid}.gps-539510752042550419 .\!gp-hidden{display:none!important}.gps-539510752042550419 .gp-hidden{display:none}.gps-539510752042550419 .gp-h-full{height:100%}.gps-539510752042550419 .gp-w-full{width:100%}.gps-539510752042550419 .gp-max-w-full{max-width:100%}.gps-539510752042550419 .gp-flex-col{flex-direction:column}.gps-539510752042550419 .gp-gap-y-0{row-gap:0}.gps-539510752042550419 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539510752042550419 .gp-duration-200{transition-duration:.2s}.gps-539510752042550419 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539510752042550419 .tablet\:\!gp-hidden{display:none!important}.gps-539510752042550419 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-539510752042550419 .mobile\:\!gp-hidden{display:none!important}.gps-539510752042550419 .mobile\:gp-hidden{display:none}}.gps-539510752042550419 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gP8zysfAwD" data-id="gP8zysfAwD"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP8zysfAwD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giTIms-e9D gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFOfmJXczD"
    role="presentation"
    class="gp-group/image gFOfmJXczD"
    style="--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:4500/675;--aspect-tablet:4500/675;--aspect-mobile:4500/675;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:4500/675;--aspect-tablet:4500/675;--aspect-mobile:4500/675;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div><div
    
     data-id="gaH_6d6FUO"
    role="presentation"
    class="gp-group/image gaH_6d6FUO"
    style="--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_484137708004836523-a8ca681b-a39a-4c7a-921c-1c1c88cf357c_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:4500/675;--aspect-tablet:4500/675;--aspect-mobile:4500/1125;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-a8ca681b-a39a-4c7a-921c-1c1c88cf357c_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_484137708004836523-0973fc19-7d0b-4704-8623-1b389b695df7.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:4500/675;--aspect-tablet:4500/675;--aspect-mobile:4500/1125;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Section - Nov 8 15:57:45" }],
    "name": "Section - Nov 8 15:57:45",
    "tag": "section",
    "class": "gps-539510752042550419 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=539510752042550419)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{}}
  }
{% endschema %}
