
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574756630327985264.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-574756630327985264.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574756630327985264.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574756630327985264.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574756630327985264.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574756630327985264.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574756630327985264.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574756630327985264.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574756630327985264.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574756630327985264.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574756630327985264.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-574756630327985264.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574756630327985264.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574756630327985264.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574756630327985264.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574756630327985264.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574756630327985264.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574756630327985264.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574756630327985264.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574756630327985264.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574756630327985264.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574756630327985264.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574756630327985264.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574756630327985264.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574756630327985264.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574756630327985264.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-574756630327985264.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574756630327985264.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574756630327985264.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574756630327985264.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574756630327985264.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574756630327985264.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574756630327985264.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574756630327985264.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574756630327985264.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574756630327985264.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-574756630327985264.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574756630327985264.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-574756630327985264.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-574756630327985264.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-574756630327985264.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574756630327985264.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-574756630327985264.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574756630327985264.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-574756630327985264.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574756630327985264.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574756630327985264.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-574756630327985264.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-574756630327985264.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-574756630327985264.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-574756630327985264.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574756630327985264.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-574756630327985264.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-574756630327985264.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574756630327985264.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-574756630327985264.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574756630327985264.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574756630327985264.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-574756630327985264.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-574756630327985264 .gp-relative{position:relative}.gps-574756630327985264 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574756630327985264 .gp-mb-0{margin-bottom:0}.gps-574756630327985264 .gp-flex{display:flex}.gps-574756630327985264 .gp-grid{display:grid}.gps-574756630327985264 .gp-contents{display:contents}.gps-574756630327985264 .\!gp-hidden{display:none!important}.gps-574756630327985264 .gp-hidden{display:none}.gps-574756630327985264 .gp-h-auto{height:auto}.gps-574756630327985264 .gp-h-full{height:100%}.gps-574756630327985264 .gp-w-full{width:100%}.gps-574756630327985264 .gp-max-w-full{max-width:100%}.gps-574756630327985264 .gp-flex-none{flex:none}.gps-574756630327985264 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574756630327985264 .gp-flex-col{flex-direction:column}.gps-574756630327985264 .gp-gap-y-0{row-gap:0}.gps-574756630327985264 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574756630327985264 .gp-duration-200{transition-duration:.2s}.gps-574756630327985264 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574756630327985264 .tablet\:\!gp-hidden{display:none!important}.gps-574756630327985264 .tablet\:gp-hidden{display:none}.gps-574756630327985264 .tablet\:gp-h-auto{height:auto}.gps-574756630327985264 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-574756630327985264 .mobile\:\!gp-hidden{display:none!important}.gps-574756630327985264 .mobile\:gp-hidden{display:none}.gps-574756630327985264 .mobile\:gp-h-auto{height:auto}.gps-574756630327985264 .mobile\:gp-flex-none{flex:none}}.gps-574756630327985264 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574756630327985264 .\[\&_p\]\:gp-inline p{display:inline}.gps-574756630327985264 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574756630327985264 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gohGJlQySi" data-id="gohGJlQySi"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7FCFD;--bgc-mobile:#F7FCFD;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gohGJlQySi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpF50knoSI gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gEEV2eCzXm" data-id="gEEV2eCzXm"
        style="--mb:15px;--mb-tablet:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:50%;--w-tablet:70%;--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEEV2eCzXm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvPdptu2xG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g02Muuu26R" data-id="g02Muuu26R"
        style="--mb:30px;--mb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:90%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g02Muuu26R gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gX39pmFLep gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWBa-Ulqj6"
    role="presentation"
    class="gp-group/image gWBa-Ulqj6 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}" srcset="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}" srcset="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-9081bdb9-795b-4cc3-9fba-216730f44e03.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gM6Uy4ir-V">
    <div
      parentTag="Col"
        class="gM6Uy4ir-V "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM6Uy4ir-V_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g4Bbvrpi4k gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guaIaNE_ZS"
    role="presentation"
    class="gp-group/image guaIaNE_ZS gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}" srcset="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}" srcset="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-f0dff4eb-8004-41a5-b1f7-68969b0231aa.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZ4sj1c26M">
    <div
      parentTag="Col"
        class="gZ4sj1c26M "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZ4sj1c26M_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gO6XK9B_1k" data-id="gO6XK9B_1k"
        style="--mb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:5px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:90%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gO6XK9B_1k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFP6HOX1nk gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gs50l3-t9a"
    role="presentation"
    class="gp-group/image gs50l3-t9a gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}" srcset="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}" srcset="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-495faf7d-7f79-4b86-9e56-2f51e13c387e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRxd6IK0zo">
    <div
      parentTag="Col"
        class="gRxd6IK0zo "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRxd6IK0zo_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjJkC3fUQy gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsq8nYnJBx"
    role="presentation"
    class="gp-group/image gsq8nYnJBx gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}" srcset="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}" srcset="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-e3f1feab-4167-423c-8402-fda58f1ad9e8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHJLPLXz57">
    <div
      parentTag="Col"
        class="gHJLPLXz57 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:13px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHJLPLXz57_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gU9wg5mfay gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="goaFhbiVdo" data-id="goaFhbiVdo"
        style="--mb:30px;--mb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:5px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:90%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goaFhbiVdo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gu80uRNPVJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="geCOn6UAHr"
    role="presentation"
    class="gp-group/image geCOn6UAHr gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}" srcset="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}" srcset="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-09558f16-84ad-43c9-9548-77410a58c4fe.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpc8B67hgq">
    <div
      parentTag="Col"
        class="gpc8B67hgq "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpc8B67hgq_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gcvO31JpeN gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYfu9tFuwL"
    role="presentation"
    class="gp-group/image gYfu9tFuwL gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}" srcset="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}" srcset="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-fad63f10-054b-4ddb-be90-a810cc3ca829.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRTsvxl4da">
    <div
      parentTag="Col"
        class="gRTsvxl4da "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRTsvxl4da_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gH-38oclD1" data-id="gH-38oclD1"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:5px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:90%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH-38oclD1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLEvAyCYxn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gODm2wLXQR"
    role="presentation"
    class="gp-group/image gODm2wLXQR gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}" srcset="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}" srcset="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-836b37c9-6ed4-40a4-b8a3-5463bc8df4ef.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVS8-_0pVC">
    <div
      parentTag="Col"
        class="gVS8-_0pVC "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:13px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVS8-_0pVC_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gihS0dzHCe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqhgl-HdZe"
    role="presentation"
    class="gp-group/image gqhgl-HdZe gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}" srcset="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}" srcset="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}"
        data-src="{{ "gempages_484137708004836523-e4c9bac7-12e2-44f5-8da4-53d764909f5d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g95L9mKpt2">
    <div
      parentTag="Col"
        class="g95L9mKpt2 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg95L9mKpt2_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "PDP - TEA - Badges" }],
    "name": "PDP - TEA - Badges",
    "tag": "section",
    "class": "gps-574756630327985264 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=574756630327985264)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggM6Uy4ir-V_text","label":"ggM6Uy4ir-V_text","default":"Science backed"},{"type":"html","id":"ggZ4sj1c26M_text","label":"ggZ4sj1c26M_text","default":"No sugar"},{"type":"html","id":"ggRxd6IK0zo_text","label":"ggRxd6IK0zo_text","default":"3rd party tested"},{"type":"html","id":"ggHJLPLXz57_text","label":"ggHJLPLXz57_text","default":"organic ingredients"},{"type":"html","id":"ggpc8B67hgq_text","label":"ggpc8B67hgq_text","default":"Plant based"},{"type":"html","id":"ggRTsvxl4da_text","label":"ggRTsvxl4da_text","default":"gluten free"},{"type":"html","id":"ggVS8-_0pVC_text","label":"ggVS8-_0pVC_text","default":"built for routine"},{"type":"html","id":"gg95L9mKpt2_text","label":"gg95L9mKpt2_text","default":"Naturally Calming"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
