
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485854940149973900 .gp-rotate-0,.gps-485854940149973900 .gp-rotate-180,.gps-485854940149973900 .mobile\:gp-rotate-0,.gps-485854940149973900 .mobile\:gp-rotate-180,.gps-485854940149973900 .tablet\:gp-rotate-0,.gps-485854940149973900 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485854940149973900 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485854940149973900 .gp-invisible{visibility:hidden}.gps-485854940149973900 .\!gp-absolute{position:absolute!important}.gps-485854940149973900 .gp-absolute{position:absolute}.gps-485854940149973900 .gp-relative{position:relative}.gps-485854940149973900 .gp-left-0{left:0}.gps-485854940149973900 .gp-right-0{right:0}.gps-485854940149973900 .gp-z-1{z-index:1}.gps-485854940149973900 .gp-z-2{z-index:2}.gps-485854940149973900 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940149973900 .gp-my-0{margin-bottom:0;margin-top:0}.gps-485854940149973900 .gp-mb-0{margin-bottom:0}.gps-485854940149973900 .gp-block{display:block}.gps-485854940149973900 .\!gp-inline{display:inline!important}.gps-485854940149973900 .\!gp-flex{display:flex!important}.gps-485854940149973900 .gp-flex{display:flex}.gps-485854940149973900 .gp-inline-flex{display:inline-flex}.gps-485854940149973900 .gp-grid{display:grid}.gps-485854940149973900 .\!gp-hidden{display:none!important}.gps-485854940149973900 .gp-hidden{display:none}.gps-485854940149973900 .gp-aspect-square{aspect-ratio:1/1}.gps-485854940149973900 .gp-h-5{height:20px}.gps-485854940149973900 .gp-h-full{height:100%}.gps-485854940149973900 .\!gp-min-h-full{min-height:100%!important}.gps-485854940149973900 .gp-w-5{width:20px}.gps-485854940149973900 .gp-w-\[12px\]{width:12px}.gps-485854940149973900 .gp-w-full{width:100%}.gps-485854940149973900 .gp-max-w-full{max-width:100%}.gps-485854940149973900 .gp-shrink-0{flex-shrink:0}.gps-485854940149973900 .gp-rotate-0{--tw-rotate:0deg}.gps-485854940149973900 .gp-rotate-0,.gps-485854940149973900 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940149973900 .gp-rotate-180{--tw-rotate:180deg}.gps-485854940149973900 .gp-cursor-pointer{cursor:pointer}.gps-485854940149973900 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-485854940149973900 .\!gp-flex-row{flex-direction:row!important}.gps-485854940149973900 .gp-flex-row{flex-direction:row}.gps-485854940149973900 .gp-flex-col{flex-direction:column}.gps-485854940149973900 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940149973900 .gp-items-center{align-items:center}.gps-485854940149973900 .gp-justify-center{justify-content:center}.gps-485854940149973900 .gp-justify-between{justify-content:space-between}.gps-485854940149973900 .gp-gap-2{gap:8px}.gps-485854940149973900 .gp-gap-y-0{row-gap:0}.gps-485854940149973900 .gp-overflow-hidden{overflow:hidden}.gps-485854940149973900 .gp-break-words{overflow-wrap:break-word}.gps-485854940149973900 .gp-rounded-full{border-radius:9999px}.gps-485854940149973900 .gp-rounded-none{border-radius:0}.gps-485854940149973900 .gp-text-center{text-align:center}.gps-485854940149973900 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485854940149973900 .gp-no-underline{text-decoration-line:none}.gps-485854940149973900 .gp-opacity-25{opacity:.25}.gps-485854940149973900 .gp-opacity-75{opacity:.75}.gps-485854940149973900 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485854940149973900 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940149973900 .gp-duration-200{transition-duration:.2s}.gps-485854940149973900 .gp-duration-300{transition-duration:.3s}.gps-485854940149973900 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940149973900 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485854940149973900 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485854940149973900 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485854940149973900 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485854940149973900 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485854940149973900 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485854940149973900 .tablet\:\!gp-absolute{position:absolute!important}.gps-485854940149973900 .tablet\:gp-left-0{left:0}.gps-485854940149973900 .tablet\:gp-right-0{right:0}.gps-485854940149973900 .tablet\:gp-z-2{z-index:2}.gps-485854940149973900 .tablet\:gp-block{display:block}.gps-485854940149973900 .tablet\:\!gp-flex{display:flex!important}.gps-485854940149973900 .tablet\:\!gp-hidden{display:none!important}.gps-485854940149973900 .tablet\:gp-hidden{display:none}.gps-485854940149973900 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-485854940149973900 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-485854940149973900 .tablet\:gp-rotate-0,.gps-485854940149973900 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940149973900 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-485854940149973900 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-485854940149973900 .tablet\:gp-flex-row{flex-direction:row}.gps-485854940149973900 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940149973900 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-485854940149973900 .mobile\:\!gp-absolute{position:absolute!important}.gps-485854940149973900 .mobile\:gp-left-0{left:0}.gps-485854940149973900 .mobile\:gp-right-0{right:0}.gps-485854940149973900 .mobile\:gp-z-2{z-index:2}.gps-485854940149973900 .mobile\:gp-block{display:block}.gps-485854940149973900 .mobile\:\!gp-flex{display:flex!important}.gps-485854940149973900 .mobile\:\!gp-hidden{display:none!important}.gps-485854940149973900 .mobile\:gp-hidden{display:none}.gps-485854940149973900 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-485854940149973900 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-485854940149973900 .mobile\:gp-rotate-0,.gps-485854940149973900 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940149973900 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-485854940149973900 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-485854940149973900 .mobile\:gp-flex-row{flex-direction:row}.gps-485854940149973900 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940149973900 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-485854940149973900 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-485854940149973900 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-485854940149973900 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485854940149973900 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gQ1R6wJKl6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:#F7FCFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ1R6wJKl6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0DGk4Q9uX gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel  id="gp-root-carousel-g_-_v1NhJm-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"g_-_v1NhJm-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7FCFC","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":""}},"childItem":["Slide 2","Slide 1","Slide 3"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":true,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"outside","mobile":"none","tablet":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":1,"tablet":2},"loop":{"desktop":false,"mobile":true},"navigationStyle":{"desktop":"inside","mobile":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"default"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16,"mobile":"0"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block g_-_v1NhJm"
        style="--b:solid;--bc:#EFEFEF;--bw:0px 0px 1px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:30px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:calc(100% - 12px - 16px);--h-tablet:calc(100% - 12px - 16px);--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous g_-_v1NhJm-{{section.id}} gp-carousel-arrow-g_-_v1NhJm gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-g_-_v1NhJm {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g_-_v1NhJm::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-g_-_v1NhJm {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g_-_v1NhJm::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g_-_v1NhJm {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g_-_v1NhJm::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-g_-_v1NhJm-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:0px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gnD1DSlwmk"
    >
      <div
    
    role="presentation"
    class="gp-group/image gGJr25vWvu"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: 'master' }} 1440w" width="2250" height="2250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:1/1;--objf:cover;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-144a0e25-50e2-4b3b-8ae3-1c47a65a9947.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2250" height="2250" alt="Alt image"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:1/1;--objf:cover;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pt-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .guyanfB-5b.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .guyanfB-5b:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="guyanfB-5b" aria-label="Build My Subscription"
      
      data-state="idle"
      class="guyanfB-5b gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:30%;--w-tablet:30%;--w-mobile:80%;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gguyanfB-5b_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gjrGPftvFH"
    >
      <div
    
    role="presentation"
    class="gp-group/image gsX0hohtsh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: 'master' }} 1440w" width="2250" height="2250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:1/1;--objf:cover;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-d52fa94d-f06c-4777-8233-770a65d24d66.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2250" height="2250" alt="Alt image"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:1/1;--objf:cover;--w-mobile:400px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pt-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .g4G6iEDKli.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .g4G6iEDKli:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="g4G6iEDKli" aria-label="Build My Subscription"
      
      data-state="idle"
      class="g4G6iEDKli gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:30%;--w-tablet:30%;--w-mobile:80%;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg4G6iEDKli_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g76YDMNTDY"
    >
      <div
    
    role="presentation"
    class="gp-group/image gJt2NmJWfC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: 'master' }} 1440w" width="2250" height="2250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:2250/2250;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:400px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-981620cf-724b-41ea-9b30-c6e2538f3b1b.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2250" height="2250" alt="Alt image"
      sizes="100vw"
      style="--aspect:2250/2250;--aspect-tablet:2250/2250;--aspect-mobile:2250/2250;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:400px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pt-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .g2vlG2JdJP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .g2vlG2JdJP:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="g2vlG2JdJP" aria-label="Build My Subscription"
      
      data-state="idle"
      class="g2vlG2JdJP gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DF8619;--w:30%;--w-tablet:30%;--w-mobile:80%;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg2vlG2JdJP_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next g_-_v1NhJm-{{section.id}} gp-carousel-arrow-g_-_v1NhJm gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-g_-_v1NhJm {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g_-_v1NhJm::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-g_-_v1NhJm {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g_-_v1NhJm::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g_-_v1NhJm {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g_-_v1NhJm::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-g_-_v1NhJm-{{section.id}} gp-flex-row gp-left-0 gp-right-0 tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 6",
      "tag": "section",
      "class": "gps-485854940149973900 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940149973900)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"gguyanfB-5b_label","label":"gguyanfB-5b_label","default":"Build My Subscription"},{"type":"html","id":"gg4G6iEDKli_label","label":"gg4G6iEDKli_label","default":"Build My Subscription"},{"type":"html","id":"gg2vlG2JdJP_label","label":"gg2vlG2JdJP_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
