
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590828359681377110.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-590828359681377110.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-590828359681377110.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590828359681377110.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590828359681377110.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590828359681377110.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590828359681377110.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590828359681377110.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590828359681377110.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590828359681377110.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590828359681377110.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590828359681377110.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590828359681377110.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590828359681377110.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590828359681377110.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-590828359681377110.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590828359681377110.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590828359681377110.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590828359681377110.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590828359681377110.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590828359681377110.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590828359681377110.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590828359681377110.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590828359681377110.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590828359681377110.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590828359681377110.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590828359681377110.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590828359681377110.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590828359681377110.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590828359681377110.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590828359681377110.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590828359681377110.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590828359681377110.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590828359681377110.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590828359681377110.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-590828359681377110.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-590828359681377110.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-590828359681377110.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590828359681377110.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590828359681377110.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590828359681377110.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590828359681377110.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590828359681377110.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590828359681377110.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590828359681377110.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590828359681377110.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-590828359681377110.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590828359681377110.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590828359681377110.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-590828359681377110.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590828359681377110.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-590828359681377110.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-590828359681377110.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-590828359681377110.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590828359681377110.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-590828359681377110.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590828359681377110.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590828359681377110.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-590828359681377110.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590828359681377110.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590828359681377110.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590828359681377110.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590828359681377110.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-590828359681377110.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-590828359681377110.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-590828359681377110.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-590828359681377110.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-590828359681377110.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590828359681377110.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-590828359681377110.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-590828359681377110.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590828359681377110.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590828359681377110.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-590828359681377110.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590828359681377110.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590828359681377110.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590828359681377110.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590828359681377110.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-590828359681377110.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590828359681377110.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-590828359681377110 .gp-relative{position:relative}.gps-590828359681377110 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590828359681377110 .gp-mb-0{margin-bottom:0}.gps-590828359681377110 .gp-inline-block{display:inline-block}.gps-590828359681377110 .gp-flex{display:flex}.gps-590828359681377110 .gp-inline-flex{display:inline-flex}.gps-590828359681377110 .gp-grid{display:grid}.gps-590828359681377110 .gp-contents{display:contents}.gps-590828359681377110 .\!gp-hidden{display:none!important}.gps-590828359681377110 .gp-hidden{display:none}.gps-590828359681377110 .gp-h-auto{height:auto}.gps-590828359681377110 .gp-h-full{height:100%}.gps-590828359681377110 .gp-w-full{width:100%}.gps-590828359681377110 .gp-max-w-full{max-width:100%}.gps-590828359681377110 .gp-flex-none{flex:none}.gps-590828359681377110 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590828359681377110 .gp-flex-col{flex-direction:column}.gps-590828359681377110 .gp-items-center{align-items:center}.gps-590828359681377110 .gp-justify-center{justify-content:center}.gps-590828359681377110 .gp-overflow-hidden{overflow:hidden}.gps-590828359681377110 .gp-break-words{overflow-wrap:break-word}.gps-590828359681377110 .gp-text-center{text-align:center}.gps-590828359681377110 .gp-no-underline{text-decoration-line:none}.gps-590828359681377110 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590828359681377110 .gp-duration-200{transition-duration:.2s}.gps-590828359681377110 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590828359681377110 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-590828359681377110 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-590828359681377110 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-590828359681377110 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-590828359681377110 .tablet\:\!gp-hidden{display:none!important}.gps-590828359681377110 .tablet\:gp-hidden{display:none}.gps-590828359681377110 .tablet\:gp-h-auto{height:auto}.gps-590828359681377110 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-590828359681377110 .mobile\:\!gp-hidden{display:none!important}.gps-590828359681377110 .mobile\:gp-hidden{display:none}.gps-590828359681377110 .mobile\:gp-h-auto{height:auto}.gps-590828359681377110 .mobile\:gp-flex-none{flex:none}}.gps-590828359681377110 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-590828359681377110 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#5D969E","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#5D969E","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"tablet":{"attachment":"scroll","color":"#5D969E","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfYYb2QuIj"}' data-id="gfYYb2QuIj" id="gfYYb2QuIj" data-same-height-subgrid-container class="gfYYb2QuIj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mb:0px;--pt:80px;--pl:0px;--pb:60px;--pr:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:0px;--pb-mobile:60px;--pr-mobile:0px;--mt-tablet:0px;--pt-tablet:60px;--pl-tablet:0px;--pb-tablet:40px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#5D969E;--bgc-tablet:#5D969E;--bgc-mobile:#5D969E;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goL_LkRABD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gDnx8lZzeG"}' data-id="gDnx8lZzeG" id="gDnx8lZzeG" data-same-height-subgrid-container class="gDnx8lZzeG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:40%;--w-tablet:60%;--w-mobile:95%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsMeGcV2tu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gje9Wgdwce"}' data-id="gje9Wgdwce" id="gje9Wgdwce" data-same-height-subgrid-container class="gje9Wgdwce gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 1px 0px 0px;--bc:#FFFFFF;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8XAxJyLoC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gNcfEq1DVx"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763161380972 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNcfEq1DVx"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "11_c845ec29-3c84-4eab-8728-0d5c2507c844.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "11_c845ec29-3c84-4eab-8728-0d5c2507c844.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "11_c845ec29-3c84-4eab-8728-0d5c2507c844.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "11_c845ec29-3c84-4eab-8728-0d5c2507c844.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:40%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGzJuj8q0k"
        class="gGzJuj8q0k"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:5px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763161380973"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:20px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGzJuj8q0k_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNEsAv2b6R"
        class="gNEsAv2b6R"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763161380975"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:600;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNEsAv2b6R_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gHWu-qKIpl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g2tFeHGh6J"}' data-id="g2tFeHGh6J" id="g2tFeHGh6J" data-same-height-subgrid-container class="g2tFeHGh6J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsk8jEwv6- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZAKWbSa-R"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--mb-mobile:15px;--mb-tablet:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763161380978 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZAKWbSa-R"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "12_aa03e188-b586-4ddf-a141-7847dc650c17.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "12_aa03e188-b586-4ddf-a141-7847dc650c17.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "12_aa03e188-b586-4ddf-a141-7847dc650c17.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTE4MDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxODAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xODAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "12_aa03e188-b586-4ddf-a141-7847dc650c17.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:40%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDIIB_XO1w"
        class="gDIIB_XO1w"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:6px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763161380980"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:20px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDIIB_XO1w_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gm1N39aWDg"
        class="gm1N39aWDg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763161380981"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:600;--size:15px;--size-tablet:15px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggm1N39aWDg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"/collections/subscribe-save","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="ggQRkcvGak"].gp-button-base::before, [data-id="ggQRkcvGak-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FDB153;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="ggQRkcvGak"]:hover::before, [data-id="ggQRkcvGak-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="ggQRkcvGak" dataId="ggQRkcvGak" data-state="idle" aria-label="<p>Subscribe Now</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/subscribe-save" target="_self"
          style="--w:45%;--w-tablet:60%;--w-mobile:90%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--bgi:;--bg:#FFF6EB;--c:#FDB153;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="ggQRkcvGak gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gggQRkcvGak_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-590828359681377110 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590828359563346774&sectionId=590828359681377110)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggGzJuj8q0k_text","label":"ggGzJuj8q0k_text","default":"Risk Free"},{"type":"html","id":"ggNEsAv2b6R_text","label":"ggNEsAv2b6R_text","default":"100% Satisfaction<br>Guarantee"},{"type":"html","id":"ggDIIB_XO1w_text","label":"ggDIIB_XO1w_text","default":"Full control"},{"type":"html","id":"ggm1N39aWDg_text","label":"ggm1N39aWDg_text","default":"Edit, Skip, &amp; Add<br>Items Anytime"},{"type":"html","id":"gggQRkcvGak_label","label":"gggQRkcvGak_label","default":"<p>Subscribe Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}