
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-590828359680852822.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-590828359680852822.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-590828359680852822.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-590828359680852822.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-590828359680852822.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-590828359680852822.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-590828359680852822.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-590828359680852822.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-590828359680852822.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-590828359680852822.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-590828359680852822.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-590828359680852822.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-590828359680852822.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-590828359680852822.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-590828359680852822.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-590828359680852822.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-590828359680852822.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-590828359680852822.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-590828359680852822.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-590828359680852822.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-590828359680852822.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-590828359680852822.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-590828359680852822.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-590828359680852822.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-590828359680852822.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-590828359680852822.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-590828359680852822.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-590828359680852822.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-590828359680852822.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-590828359680852822.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-590828359680852822.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-590828359680852822.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-590828359680852822.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-590828359680852822.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-590828359680852822.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-590828359680852822.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-590828359680852822.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-590828359680852822.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-590828359680852822.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-590828359680852822.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-590828359680852822.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-590828359680852822.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-590828359680852822.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-590828359680852822.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-590828359680852822.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-590828359680852822.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-590828359680852822.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-590828359680852822.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-590828359680852822.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-590828359680852822.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-590828359680852822.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-590828359680852822.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-590828359680852822.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-590828359680852822.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-590828359680852822.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-590828359680852822.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-590828359680852822.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-590828359680852822.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-590828359680852822.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-590828359680852822.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-590828359680852822.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-590828359680852822.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-590828359680852822.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-590828359680852822.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-590828359680852822.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-590828359680852822.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-590828359680852822.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-590828359680852822.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-590828359680852822.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-590828359680852822.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-590828359680852822.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-590828359680852822.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-590828359680852822.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-590828359680852822.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-590828359680852822.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-590828359680852822.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-590828359680852822 .gp-invisible{visibility:hidden}.gps-590828359680852822 .gp-absolute{position:absolute}.gps-590828359680852822 .gp-relative{position:relative}.gps-590828359680852822 .gp-inset-0{inset:0}.gps-590828359680852822 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-590828359680852822 .gp-top-0{top:0}.gps-590828359680852822 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-590828359680852822 .-gp-z-1{z-index:-1}.gps-590828359680852822 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-590828359680852822 .gp-mb-0{margin-bottom:0}.gps-590828359680852822 .gp-flex{display:flex}.gps-590828359680852822 .gp-inline-flex{display:inline-flex}.gps-590828359680852822 .gp-grid{display:grid}.gps-590828359680852822 .\!gp-hidden{display:none!important}.gps-590828359680852822 .gp-hidden{display:none}.gps-590828359680852822 .gp-h-full{height:100%}.gps-590828359680852822 .gp-w-full{width:100%}.gps-590828359680852822 .gp-max-w-full{max-width:100%}.gps-590828359680852822 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-590828359680852822 .gp-flex-col{flex-direction:column}.gps-590828359680852822 .gp-items-center{align-items:center}.gps-590828359680852822 .gp-justify-center{justify-content:center}.gps-590828359680852822 .\!gp-self-center{align-self:center!important}.gps-590828359680852822 .gp-self-center{align-self:center}.gps-590828359680852822 .gp-overflow-hidden{overflow:hidden}.gps-590828359680852822 .gp-break-words{overflow-wrap:break-word}.gps-590828359680852822 .gp-text-center{text-align:center}.gps-590828359680852822 .gp-no-underline{text-decoration-line:none}.gps-590828359680852822 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590828359680852822 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590828359680852822 .gp-duration-200{transition-duration:.2s}.gps-590828359680852822 .gp-duration-300{transition-duration:.3s}.gps-590828359680852822 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-590828359680852822 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-590828359680852822 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-590828359680852822 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-590828359680852822 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-590828359680852822 .tablet\:\!gp-relative{position:relative!important}.gps-590828359680852822 .tablet\:\!gp-hidden{display:none!important}.gps-590828359680852822 .tablet\:gp-hidden{display:none}.gps-590828359680852822 .tablet\:gp-h-full{height:100%}.gps-590828359680852822 .tablet\:gp-justify-center{justify-content:center}.gps-590828359680852822 .tablet\:\!gp-self-center{align-self:center!important}.gps-590828359680852822 .tablet\:gp-object-cover{-o-object-fit:cover;object-fit:cover}}@media (max-width:767px){.gps-590828359680852822 .mobile\:\!gp-relative{position:relative!important}.gps-590828359680852822 .mobile\:\!gp-hidden{display:none!important}.gps-590828359680852822 .mobile\:gp-hidden{display:none}.gps-590828359680852822 .mobile\:\!gp-h-auto{height:auto!important}.gps-590828359680852822 .mobile\:gp-h-full{height:100%}.gps-590828359680852822 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-590828359680852822 .mobile\:gp-justify-center{justify-content:center}.gps-590828359680852822 .mobile\:\!gp-self-center{align-self:center!important}.gps-590828359680852822 .mobile\:gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-590828359680852822 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-590828359680852822 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-590828359680852822 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAulGu3QRQ"}' data-id="gAulGu3QRQ" id="gAulGu3QRQ" data-same-height-subgrid-container class="gAulGu3QRQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGmNQ9deRR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkmKoLX3CL"}' data-id="gkmKoLX3CL" id="gkmKoLX3CL" data-same-height-subgrid-container class="gkmKoLX3CL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gN3h1uT8OM gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gS3gtJyQMS"
        class="gS3gtJyQMS gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:none;--d-tablet:flex;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect-mobile:auto;--h:600px;--h-tablet:600px;--h-mobile:fit-content"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Copy_of_Desktop_Header.jpg","width":2000,"height":659,"storage":"FILE_CONTENT","backupFileKey":"gempages_484137708004836523-7d1d0af0-2cb2-43e9-8e0f-d6f0eeeece0b.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","videoType":"html5","video":"https://youtu.be/KOxfzBp72uk"},"tablet":{"attachment":"scroll","image":{"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Copy_of_Desktop_Header.jpg","width":2000,"height":659,"storage":"FILE_CONTENT","backupFileKey":"gempages_484137708004836523-7d1d0af0-2cb2-43e9-8e0f-d6f0eeeece0b.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","videoType":"html5","video":"https://youtu.be/KOxfzBp72uk"},"mobile":{"attachment":"scroll","image":{"src":""},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"video","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/fc3faea50a724cad90854e4bcefb422c.mp4","videoType":"html5","video":"https://youtu.be/KOxfzBp72uk"}},"uid":"gS3gtJyQMS","enableParallax":true,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:600px;--h-tablet:600px;--h-mobile:fit-content;--aspect-mobile:auto">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIwMDAtNjU5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMDAwIiBoZWlnaHQ9IjY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIGZpbGw9InVybCgjZy0yMDAwLTY1OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIwMDAiIHRvPSIyMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Copy_of_Desktop_Header.jpg" | file_url }}" data-src="{{ "Copy_of_Desktop_Header.jpg" | file_url }}" data-srcset="{{ "Copy_of_Desktop_Header.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Copy_of_Desktop_Header.jpg" | file_url }}" data-src="{{ "Copy_of_Desktop_Header.jpg" | file_url }}" data-srcset="{{ "Copy_of_Desktop_Header.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gS3gtJyQMS" title="Video" preload="metadata" data-src poster data-poster
      style="--aspect:16/9;--aspect-mobile:auto"
      class="gp-w-full gp-relative tablet:gp-h-full tablet:gp-object-cover mobile:gp-h-full mobile:gp-object-cover gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#121212;--op:50%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="g7jI_4l5FO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glNdYxFh5Q"
        class="glNdYxFh5Q"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#d63837;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:50px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:29px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:50px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761826170326"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:25px;--size-tablet:23px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;--pb:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglNdYxFh5Q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gz_Wb6wn9D"
        class="gz_Wb6wn9D"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:10px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761826170327"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:39px;--size-mobile:25px;--lh:110%;--lh-tablet:110%;--lh-mobile:110%;--ls:0px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggz_Wb6wn9D_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOQOTDkItW"
        class="gOQOTDkItW"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:60px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:60px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761826170336"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:700;--size:20px;--size-tablet:19px;--size-mobile:14px;--lh:200%;--lh-tablet:150%;--lh-mobile:150%;--ls:0px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOQOTDkItW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/collections/subscribe-save","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:14px;--ta:left" >
        <style>[data-id="giEJ3R-Eud"].gp-button-base::before, [data-id="giEJ3R-Eud-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FDB153;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="giEJ3R-Eud"]:hover::before, [data-id="giEJ3R-Eud-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="giEJ3R-Eud" dataId="giEJ3R-Eud" data-state="idle" aria-label="<p>Subscribe</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/subscribe-save" target="_self"
          style="--w:90%;--w-tablet:90%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--bgi:;--bg:#FFF6EB;--c:#FDB153;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="giEJ3R-Eud gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggiEJ3R-Eud_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://longrun.co/apps/loyalty","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_INDEX;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:14px;--ta:left" >
        <style>[data-id="gmqPxvI70w"].gp-button-base::before, [data-id="gmqPxvI70w-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #217A85;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gmqPxvI70w"]:hover::before, [data-id="gmqPxvI70w-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gmqPxvI70w" dataId="gmqPxvI70w" data-state="idle" aria-label="<p>View your points</p>"
          
          href="https://longrun.co/apps/loyalty" target="_self"
          style="--w:90%;--w-tablet:90%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--bgi:;--bg:#D8F2F5;--c:#217A85;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
          class="gmqPxvI70w gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggmqPxvI70w_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--d-mobile:none"
      class="gDa9h_a000 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIwMDAtNjU5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMDAwIiBoZWlnaHQ9IjY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIGZpbGw9InVybCgjZy0yMDAwLTY1OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIwMDAiIHRvPSIyMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Copy_of_Desktop_Header.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIwMDAtNjU5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMDAwIiBoZWlnaHQ9IjY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIGZpbGw9InVybCgjZy0yMDAwLTY1OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIwMDAiIHRvPSIyMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTIwMDAtNjU5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyMDAwIiBoZWlnaHQ9IjY1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSI2NTkiIGZpbGw9InVybCgjZy0yMDAwLTY1OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTIwMDAiIHRvPSIyMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Copy_of_Desktop_Header.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:600px;--h-tablet:600px;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-590828359680852822 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=590828359563346774&sectionId=590828359680852822)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gglNdYxFh5Q_text","label":"gglNdYxFh5Q_text","default":"<p>The Long Run Club</p>"},{"type":"html","id":"ggz_Wb6wn9D_text","label":"ggz_Wb6wn9D_text","default":"<strong>Earn Gear &amp; Savings</strong>"},{"type":"html","id":"ggOQOTDkItW_text","label":"ggOQOTDkItW_text","default":"<p>Earn points &amp; get free Long Run gear.</p><p>Save more with subscriptions.</p>"},{"type":"html","id":"ggiEJ3R-Eud_label","label":"ggiEJ3R-Eud_label","default":"<p>Subscribe</p>"},{"type":"html","id":"ggmqPxvI70w_label","label":"ggmqPxvI70w_label","default":"<p>View your points</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  