

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573945868093228080.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-573945868093228080.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573945868093228080.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-573945868093228080.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573945868093228080.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573945868093228080.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573945868093228080.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573945868093228080.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573945868093228080.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573945868093228080.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573945868093228080.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-573945868093228080.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573945868093228080.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573945868093228080.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573945868093228080.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573945868093228080.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573945868093228080.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-573945868093228080.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573945868093228080.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573945868093228080.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573945868093228080.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573945868093228080.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573945868093228080.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573945868093228080.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573945868093228080.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573945868093228080.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-573945868093228080.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573945868093228080.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-573945868093228080.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-573945868093228080.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573945868093228080.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-573945868093228080.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573945868093228080.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-573945868093228080.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-573945868093228080.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573945868093228080.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573945868093228080.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-573945868093228080.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-573945868093228080.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573945868093228080.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573945868093228080.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573945868093228080.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573945868093228080.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573945868093228080.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573945868093228080.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573945868093228080.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573945868093228080.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573945868093228080.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-573945868093228080.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-573945868093228080.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573945868093228080.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-573945868093228080.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-573945868093228080.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-573945868093228080.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573945868093228080.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-573945868093228080.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-573945868093228080.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-573945868093228080.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-573945868093228080.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-573945868093228080.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573945868093228080.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573945868093228080.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-573945868093228080.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-573945868093228080.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-573945868093228080.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-573945868093228080.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-573945868093228080.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573945868093228080.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-573945868093228080.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-573945868093228080.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-573945868093228080.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-573945868093228080.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-573945868093228080.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-573945868093228080.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-573945868093228080.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573945868093228080.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573945868093228080.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-573945868093228080.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-573945868093228080.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-573945868093228080.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-573945868093228080 .gp-relative{position:relative}.gps-573945868093228080 .gp-z-1{z-index:1}.gps-573945868093228080 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573945868093228080 .gp-mb-0{margin-bottom:0}.gps-573945868093228080 .gp-flex{display:flex}.gps-573945868093228080 .gp-inline-flex{display:inline-flex}.gps-573945868093228080 .gp-grid{display:grid}.gps-573945868093228080 .gp-contents{display:contents}.gps-573945868093228080 .\!gp-hidden{display:none!important}.gps-573945868093228080 .gp-hidden{display:none}.gps-573945868093228080 .gp-h-auto{height:auto}.gps-573945868093228080 .gp-h-full{height:100%}.gps-573945868093228080 .gp-w-full{width:100%}.gps-573945868093228080 .gp-max-w-full{max-width:100%}.gps-573945868093228080 .gp-flex-none{flex:none}.gps-573945868093228080 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573945868093228080 .gp-flex-col{flex-direction:column}.gps-573945868093228080 .gp-items-center{align-items:center}.gps-573945868093228080 .gp-justify-center{justify-content:center}.gps-573945868093228080 .gp-gap-y-0{row-gap:0}.gps-573945868093228080 .gp-overflow-hidden{overflow:hidden}.gps-573945868093228080 .gp-break-words{overflow-wrap:break-word}.gps-573945868093228080 .gp-rounded-none{border-radius:0}.gps-573945868093228080 .gp-text-center{text-align:center}.gps-573945868093228080 .gp-no-underline{text-decoration-line:none}.gps-573945868093228080 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573945868093228080 .gp-duration-200{transition-duration:.2s}.gps-573945868093228080 .gp-duration-300{transition-duration:.3s}.gps-573945868093228080 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573945868093228080 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-573945868093228080 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-573945868093228080 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-573945868093228080 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-573945868093228080 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-573945868093228080 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-573945868093228080 .tablet\:\!gp-hidden{display:none!important}.gps-573945868093228080 .tablet\:gp-hidden{display:none}.gps-573945868093228080 .tablet\:gp-h-auto{height:auto}.gps-573945868093228080 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-573945868093228080 .mobile\:\!gp-hidden{display:none!important}.gps-573945868093228080 .mobile\:gp-hidden{display:none}.gps-573945868093228080 .mobile\:gp-h-auto{height:auto}.gps-573945868093228080 .mobile\:gp-flex-none{flex:none}}.gps-573945868093228080 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573945868093228080 .\[\&_p\]\:gp-inline p{display:inline}.gps-573945868093228080 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-573945868093228080 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-573945868093228080 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g9qGyxSbd5" data-id="g9qGyxSbd5"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:25px;--pt:0px;--pl:0px;--pb:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DEF2F9;--bgc-mobile:#DEF2F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g9qGyxSbd5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZKDxt5jIA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1N8gseuaQ" data-id="g1N8gseuaQ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:10px;--pl:0px;--pb:10px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:70px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:65%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1N8gseuaQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXBXdoi2jU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gn5hYsOPzM">
    <div
      parentTag="Col"
        class="gn5hYsOPzM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:25px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:normal;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn5hYsOPzM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gF7dDZCR6P">
    <div
      parentTag="Col"
        class="gF7dDZCR6P "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:10px;--pt:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggF7dDZCR6P_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG_VcU_E3m">
    <div
      parentTag="Col"
        class="gG_VcU_E3m "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--ls:normal;--size:50px;--size-tablet:57px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG_VcU_E3m_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMBJm_B8x8">
    <div
      parentTag="Col"
        class="gMBJm_B8x8 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMBJm_B8x8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:25px;--ta:center"
    
  >
    <style>
    .g_KkwqkjH4.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #CC7913;
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .g_KkwqkjH4:hover::before {
      
      
    }

    .g_KkwqkjH4:hover .gp-button-icon {
      color: undefined;
    }

     .g_KkwqkjH4 .gp-button-icon {
      color: #CC7913;
    }

    .g_KkwqkjH4:hover .gp-button-price {
      color: undefined;
    }

    .g_KkwqkjH4 .gp-button-price {
      color: #CC7913;
    }

    .g_KkwqkjH4 .gp-product-dot-price {
       color: #CC7913;
    }

    .g_KkwqkjH4:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://longruncoffee.com/products/ready-to-run" target="_self" data-id="g_KkwqkjH4" aria-label="<p>Shop Now</p>"
      
      data-state="idle"
      class="g_KkwqkjH4 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#f8daae;--bg:#ffe8cc;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--w:1000%;--w-tablet:Auto;--w-mobile:95%;--h:55px;--h-tablet:Auto;--h-mobile:50px;--c:#CC7913;--size:17px;--size-tablet:16px;--size-mobile:16px;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:0px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:17px;--size-tablet:16px;--size-mobile:16px;--c:#CC7913"
      >
        {{ section.settings.gg_KkwqkjH4_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHdc-CS_GU gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gdmcsSPZYq"
    role="presentation"
    class="gp-group/image gdmcsSPZYq gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:10px;--mb:10px;--pt:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-89e7c708-aa96-4b96-b3f3-e89e7d67a5cf.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-89e7c708-aa96-4b96-b3f3-e89e7d67a5cf.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTIwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMjAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIyMDAwIiBmaWxsPSJ1cmwoI2ctMjAwMC0yMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_484137708004836523-89e7c708-aa96-4b96-b3f3-e89e7d67a5cf.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-573945868093228080 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=573945867942233136&sectionId=573945868093228080)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggn5hYsOPzM_text","label":"ggn5hYsOPzM_text","default":"<p>Ready to Run</p>"},{"type":"html","id":"ggF7dDZCR6P_text","label":"ggF7dDZCR6P_text","default":"<p>Electrolyte Powder + Natural Caffeine</p>"},{"type":"html","id":"ggG_VcU_E3m_text","label":"ggG_VcU_E3m_text","default":"Buy One Get One Free"},{"type":"html","id":"ggMBJm_B8x8_text","label":"ggMBJm_B8x8_text","default":"<p><strong>Add 2 or more to your cart,</strong> and the discount is automatically applied at checkout.</p>"},{"type":"html","id":"gg_KkwqkjH4_label","label":"gg_KkwqkjH4_label","default":"<p>Shop Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
