
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485854940099511180 .gp-invisible{visibility:hidden}.gps-485854940099511180 .gp-absolute{position:absolute}.gps-485854940099511180 .gp-relative{position:relative}.gps-485854940099511180 .gp-inset-0{inset:0}.gps-485854940099511180 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-485854940099511180 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-485854940099511180 .gp-z-1{z-index:1}.gps-485854940099511180 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940099511180 .gp-mb-0{margin-bottom:0}.gps-485854940099511180 .gp-flex{display:flex}.gps-485854940099511180 .gp-inline-flex{display:inline-flex}.gps-485854940099511180 .gp-grid{display:grid}.gps-485854940099511180 .\!gp-hidden{display:none!important}.gps-485854940099511180 .gp-hidden{display:none}.gps-485854940099511180 .gp-h-5{height:20px}.gps-485854940099511180 .gp-h-full{height:100%}.gps-485854940099511180 .gp-w-5{width:20px}.gps-485854940099511180 .gp-w-full{width:100%}.gps-485854940099511180 .gp-max-w-full{max-width:100%}.gps-485854940099511180 .gp-flex-col{flex-direction:column}.gps-485854940099511180 .gp-items-center{align-items:center}.gps-485854940099511180 .\!gp-justify-center{justify-content:center!important}.gps-485854940099511180 .gp-justify-center{justify-content:center}.gps-485854940099511180 .gp-gap-y-0{row-gap:0}.gps-485854940099511180 .gp-overflow-hidden{overflow:hidden}.gps-485854940099511180 .gp-break-words{overflow-wrap:break-word}.gps-485854940099511180 .gp-rounded-none{border-radius:0}.gps-485854940099511180 .gp-bg-clip-content{background-clip:content-box}.gps-485854940099511180 .gp-no-underline{text-decoration-line:none}.gps-485854940099511180 .gp-opacity-25{opacity:.25}.gps-485854940099511180 .gp-opacity-75{opacity:.75}.gps-485854940099511180 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940099511180 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940099511180 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940099511180 .gp-duration-200{transition-duration:.2s}.gps-485854940099511180 .gp-duration-300{transition-duration:.3s}.gps-485854940099511180 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940099511180 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485854940099511180 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485854940099511180 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-485854940099511180 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-485854940099511180 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-485854940099511180 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485854940099511180 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485854940099511180 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485854940099511180 .tablet\:gp-relative{position:relative}.gps-485854940099511180 .tablet\:\!gp-hidden{display:none!important}.gps-485854940099511180 .tablet\:gp-hidden{display:none}.gps-485854940099511180 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-485854940099511180 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-485854940099511180 .mobile\:gp-relative{position:relative}.gps-485854940099511180 .mobile\:\!gp-hidden{display:none!important}.gps-485854940099511180 .mobile\:gp-hidden{display:none}.gps-485854940099511180 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-485854940099511180 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-485854940099511180 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-485854940099511180 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-485854940099511180 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485854940099511180 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gAulGu3QRQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:20px;--pt-mobile:20px;--pb-mobile:20px;--pt-tablet:0px;--pb-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAulGu3QRQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGmNQ9deRR gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:500px;--h-tablet:300px;--h-mobile:300px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":824,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/long-run-club.png?v=1716057880","width":3500},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=ktsFdCND3wM"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png","height":824,"src":"https://ucarecdn.com/17f5ee6b-29ba-41c5-8e74-e78827d48474/","width":3500},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=ktsFdCND3wM"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png","height":824,"src":"https://ucarecdn.com/17f5ee6b-29ba-41c5-8e74-e78827d48474/","width":3500},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=ktsFdCND3wM"}},"uid":"gr4V1cWWnl","enableParallax":false,"speedParallax":0.6}'
        
        class="gr4V1cWWnl gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:500px;--h-tablet:300px;--h-mobile:300px;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:500px;--h-tablet:300px;--h-mobile:300px"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
      assign mediaIndex = 1
      if forloop
        assign mediaIndex = forloop.index
      endif
      assign sectionPreload = "false"

      if section.settings.section_preload == 'true'
        assign sectionPreload = "true"
      elsif section.settings.section_preload == 'global' and section.index == 1
        assign sectionPreload = "true"
      endif
      if sectionPreload == "true" and mediaIndex == 1
        assign isFetchPriorityHigh = 'true'
      endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "long-run-club.png" | asset_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3500/824;--aspect-tablet:3500/824;--aspect-mobile:3500/824;--d:none;--d-tablet:none;--d-mobile:none;--h:500px;--h-tablet:300px;--h-mobile:300px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "long-run-club.png" | asset_img_url: 'master' }}"
        alt=""
        style="--aspect:3500/824;--aspect-tablet:3500/824;--aspect-mobile:3500/824;--d:none;--d-tablet:none;--d-mobile:none;--h:500px;--h-tablet:300px;--h-mobile:300px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://cdn.shopify.com/s/files/1/0761/6924/9081/files/long-run-club.png?v=1716057880);--bgi-tablet:url({{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_url }});--bgi-mobile:url({{ "484137708004836523-68177149-e11e-4ba8-903e-5a263c518ab8.png" | asset_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              > </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%"
          > </div>
          </div>
          
          
      
      
    <div
      id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6u4OmZVvj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:350px;--mb-mobile:27px;--pt-mobile:0px;--mb-tablet:0px;--pt-tablet:220px;--ta:center"
    class=""
  >
    <style>
    .gd1i6iIA0q.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gd1i6iIA0q:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gd1i6iIA0q" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gd1i6iIA0q gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FEEAD1;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DF8619;--w:80%;--w-tablet:400px;--w-mobile:70%;--h:55px;--h-tablet:40px;--h-mobile:40px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:19px;--size-tablet:17px;--size-mobile:15px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggd1i6iIA0q_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-485854940099511180 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940099511180)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"ggd1i6iIA0q_label","label":"ggd1i6iIA0q_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
