
  
  
  <style>
    .gps-504272322337703018 .relative{position:relative}.gps-504272322337703018 .mx-auto{margin-left:auto;margin-right:auto}.gps-504272322337703018 .mb-0{margin-bottom:0}.gps-504272322337703018 .block{display:block}.gps-504272322337703018 .flex{display:flex}.gps-504272322337703018 .grid{display:grid}.gps-504272322337703018 .max-w-full{max-width:100%}.gps-504272322337703018 .flex-col{flex-direction:column}.gps-504272322337703018 .gap-y-0{row-gap:0}.gps-504272322337703018 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504272322337703018 .duration-200{transition-duration:.2s}.gps-504272322337703018 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504272322337703018 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g_xpHkss4t"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 0%;--bgs:contain;--bgr:no-repeat;--bga:scroll"
        class="g_xpHkss4t mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g42qvt8wNv relative flex flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gpOY-UN4jY ">
      
    <div
      class=""
      style="--ta:left"
    >
      <div>
        {% assign widget = 'reviews_carousel' %}
        {% case widget %}
          {% when "single_product_preview_badge" %}
            <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge'  data-id='{{ product.id }}'>
              {{ product.metafields.judgeme.badge }}
            </div>  
          {% when "review_widget" %}
            <div style='clear:both'></div>
            <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
                {{ product.metafields.judgeme.widget }}
            </div>
          {% when "reviews_carousel" %}
            <div class='jdgm-carousel-wrapper'>
              {% assign jm_metafields = shop.metafields.judgeme %}  
              <div class='jdgm-carousel-title-and-link'>
                <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
                <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
                  <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
                  <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
                    from {{ shop.metafields.judgeme.all_reviews_count }} reviews
                  </span>
                </span>  
              </div>
              {{ jm_metafields.featured_carousel }}
            </div>
          {% when "reviews_text" %}
            <div style='text-align: center'>
              <div class='jdgm-widget jdgm-all-reviews-text'>
                <a href='javascript:void(0)'>
                  <span data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' class='jdgm-all-reviews-rating'></span>
                  <span class='jdgm-all-reviews-text__text' data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' data-number-of-reviews='{{ shop.metafields.judgeme.all_reviews_count }}'>
                    Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
                  </span>
                </a>
              </div>  
            </div>
          {% when "section_for_medals" %}
            {{ shop.metafields.judgeme.medals }}
          {% when "ugc_media_grid" %}
            <div class='jdgm-widget jdgm-ugc-media-wrapper'>
              {{ shop.metafields.judgeme.ugc_media_grid }}
            </div> 
          {% when "verified_reviews_count_badge" %}
            <div style='clear:both'></div>
            <div style='text-align: center'>
              <a class='jdgm-verified-count-badget' href='javascript:void(0)'>
                {{ shop.metafields.judgeme.verified_badge }}
              </a>
            </div>
        {% endcase %}
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-504272322337703018 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=487646738010604413&sectionId=504272322337703018)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
