
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-505030517679195242 .gp-relative{position:relative}.gps-505030517679195242 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-505030517679195242 .gp-mb-0{margin-bottom:0}.gps-505030517679195242 .\!gp-inline{display:inline!important}.gps-505030517679195242 .gp-flex{display:flex}.gps-505030517679195242 .gp-grid{display:grid}.gps-505030517679195242 .\!gp-hidden{display:none!important}.gps-505030517679195242 .gp-hidden{display:none}.gps-505030517679195242 .gp-h-full{height:100%}.gps-505030517679195242 .gp-w-full{width:100%}.gps-505030517679195242 .gp-max-w-full{max-width:100%}.gps-505030517679195242 .gp-flex-col{flex-direction:column}.gps-505030517679195242 .gp-gap-y-0{row-gap:0}.gps-505030517679195242 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505030517679195242 .gp-duration-200{transition-duration:.2s}.gps-505030517679195242 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-505030517679195242 .tablet\:\!gp-hidden{display:none!important}.gps-505030517679195242 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-505030517679195242 .mobile\:\!gp-hidden{display:none!important}.gps-505030517679195242 .mobile\:gp-hidden{display:none}}.gps-505030517679195242 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-505030517679195242 .\[\&_p\]\:gp-inline p{display:inline}.gps-505030517679195242 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505030517679195242 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lbcc37889f7"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:60px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:50px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2lbcc37889f7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l9b14c4c25c gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="i2l9b14c4c25c"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2l9b14c4c25c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lae82fe0148 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image vYoSyboeScQN"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp" | file_url }}" srcset="{{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 768w, {{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 1024w, {{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 1440w" width="640" height="640" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp" | file_url }}" data-srcset="{{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 768w, {{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 1024w, {{ '484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp' | file_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="640" height="640" alt="Alt image"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="RVrhuztuQjzL "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:21px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRVrhuztuQjzL_text | downcase }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l5f7cc6779b gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image VlqKYtVhSbJG"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp" | file_url }}" srcset="{{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 768w, {{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 1024w, {{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 1440w" width="640" height="640" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp" | file_url }}" data-srcset="{{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 768w, {{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 1024w, {{ '484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp' | file_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="640" height="640" alt="Alt image"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="DzSvJDmcAIqu "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:21px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDzSvJDmcAIqu_text | downcase }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lbda2588fc6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image uhzrDggfIxJH"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp" | file_url }}" srcset="{{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 768w, {{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 1024w, {{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 1440w" width="640" height="640" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp" | file_url }}" data-srcset="{{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 768w, {{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 1024w, {{ '484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp' | file_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="640" height="640" alt="Alt image"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="dpAattocManj "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:21px;--size-tablet:18px;--size-mobile:16px;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gdpAattocManj_text | downcase }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-505030517679195242 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=505030517628863594&sectionId=505030517679195242)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gRVrhuztuQjzL_text","label":"gRVrhuztuQjzL_text","default":"TRAIN HARDER, WITH EASE"},{"type":"text","id":"gDzSvJDmcAIqu_text","label":"gDzSvJDmcAIqu_text","default":"FEEL LIGHT ON YOUR FEET"},{"type":"text","id":"gdpAattocManj_text","label":"gdpAattocManj_text","default":"ENJOY REDUCED FATIGUE"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
