
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,400|Inter:600,700&display=swap'); </style>
  <style> .gps-511836147316425760 .gp-g-s-small{padding:4px 16px}.gps-511836147316425760 .gp-invisible{visibility:hidden}.gps-511836147316425760 .gp-absolute{position:absolute}.gps-511836147316425760 .gp-relative{position:relative}.gps-511836147316425760 .gp-inset-0{inset:0}.gps-511836147316425760 .gp-z-1{z-index:1}.gps-511836147316425760 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511836147316425760 .gp-mb-0{margin-bottom:0}.gps-511836147316425760 .\!gp-inline{display:inline!important}.gps-511836147316425760 .gp-flex{display:flex}.gps-511836147316425760 .gp-inline-flex{display:inline-flex}.gps-511836147316425760 .gp-grid{display:grid}.gps-511836147316425760 .\!gp-hidden{display:none!important}.gps-511836147316425760 .gp-hidden{display:none}.gps-511836147316425760 .gp-h-5{height:20px}.gps-511836147316425760 .gp-h-full{height:100%}.gps-511836147316425760 .gp-w-5{width:20px}.gps-511836147316425760 .gp-w-full{width:100%}.gps-511836147316425760 .gp-w-max{width:-moz-max-content;width:max-content}.gps-511836147316425760 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-511836147316425760 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-511836147316425760 .gp-max-w-full{max-width:100%}.gps-511836147316425760 .gp-flex-1{flex:1 1 0%}.gps-511836147316425760 .gp-flex-col{flex-direction:column}.gps-511836147316425760 .gp-flex-wrap{flex-wrap:wrap}.gps-511836147316425760 .gp-items-center{align-items:center}.gps-511836147316425760 .gp-justify-center{justify-content:center}.gps-511836147316425760 .gp-gap-y-0{row-gap:0}.gps-511836147316425760 .gp-overflow-hidden{overflow:hidden}.gps-511836147316425760 .gp-break-words{overflow-wrap:break-word}.gps-511836147316425760 .gp-rounded-none{border-radius:0}.gps-511836147316425760 .gp-text-center{text-align:center}.gps-511836147316425760 .gp-no-underline{text-decoration-line:none}.gps-511836147316425760 .gp-opacity-25{opacity:.25}.gps-511836147316425760 .gp-opacity-75{opacity:.75}.gps-511836147316425760 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511836147316425760 .gp-duration-200{transition-duration:.2s}.gps-511836147316425760 .gp-duration-300{transition-duration:.3s}.gps-511836147316425760 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511836147316425760 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-511836147316425760 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511836147316425760 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511836147316425760 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-511836147316425760 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-511836147316425760 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-511836147316425760 .tablet\:\!gp-hidden{display:none!important}.gps-511836147316425760 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511836147316425760 .mobile\:\!gp-hidden{display:none!important}.gps-511836147316425760 .mobile\:gp-hidden{display:none}}.gps-511836147316425760 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511836147316425760 .\[\&_p\]\:gp-inline p{display:inline}.gps-511836147316425760 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511836147316425760 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511836147316425760 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="giMrVuzxqX"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:80px;--pl:15px;--pb:32px;--pr:15px;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giMrVuzxqX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG5qxAcx_5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWLBhwg_Kv"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:970px;--w-tablet:970px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWLBhwg_Kv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqHd1Cka7E gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gW5AjmRuMM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:25px;--weight:bold;--c:#45C2D1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >Free Bonuses</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gNvKIYQDCS "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:600;--ls:0px;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:18px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:60px;--pr-mobile:60px;overflow:hidden"
        >Order today and we'll toss in a little something extra.</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g8jaP4wedq"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:50px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:970px;--w-tablet:970px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8jaP4wedq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gogjZ9nAod gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4ekM-Cpls"
        style="--animation:[object Object];--b:solid;--bc:#257A84;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:32px;--pt:32px;--pl:24px;--pb:16px;--pr:24px;--mb-mobile:20px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F6FAFF;--bgc-mobile:#DCEFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4ekM-Cpls gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpbjZgTSwt gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4ufLSjsM_"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:24px;--cg-mobile:15px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4ufLSjsM_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbKcPtlqQS gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gY_72vJTzo"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: 'master' }} 1440w" width="3000" height="3000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-fd119944-7a34-4689-9270-94eff1288fc1.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="3000" alt="Alt image"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8cxJ2SZqJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gyiRM6IcxQ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:21px;--weight:bold;--c:#195158;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Free Flavor Sample</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glnn6CNZ8a "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:15px;--c:#195158;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Included banana bread flavor sample. Ships today.</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBh4V7Gtxo gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5FhD8DyeO"
        style="--animation:[object Object];--b:solid;--bc:#257A84;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:32px;--pt:32px;--pl:24px;--pb:16px;--pr:24px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F6FAFF;--bgc-mobile:#DCEFF2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5FhD8DyeO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIBZHTvrLY gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gtefX7k0Yg"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:24px;--cg-mobile:15px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtefX7k0Yg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8lC8vnayB gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gHFWBMuSG7"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: 'master' }} 1440w" width="2500" height="2500" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2500/2500;--aspect-tablet:2500/2500;--aspect-mobile:2500/2500;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-6aa6c43e-4002-467d-80b1-098a50502fc9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2500" height="2500" alt="Alt image"
      sizes="100vw"
      style="--aspect:2500/2500;--aspect-tablet:2500/2500;--aspect-mobile:2500/2500;--objf:cover;--w:70px;--w-tablet:70px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0g54bDRNx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gximm6igbA "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:0px;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:21px;--weight:bold;--c:#195158;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Free LRC x BOCO Run Hat</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gPYGTeGTWQ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:15px;--c:#195158;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Welcome gear included with your second order.&nbsp;</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--pt-mobile:20px;--pb-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gMSXpGu70g ">
      
    <gp-countdown-timer
     class="gp-flex "
     gp-data='{"behaviour":"evergreen","dateStandard":1715208639200,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":24,"mins":0,"endTime":1714695338184,"startTime":1714603839200},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"},"uid":"gMSXpGu70g","builderData":{"uid":"gMSXpGu70g","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1715208639200,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":24,"mins":0,"endTime":1714695338184,"startTime":1714603839200},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"}},"styles":{"numTypo":{"type":"heading-2","attrs":{"color":"#257A84","bold":true},"custom":{"fontSize":{"desktop":"41px","tablet":"41px","mobile":"24px"},"fontWeight":"400","lineHeight":"130%","fontFamily":"Montserrat","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"]}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-1","attrs":{"color":"#42ABB7","bold":true},"custom":{"fontSize":{"desktop":"16px","tablet":"16px","mobile":"11px"},"lineHeight":"180%","fontWeight":"400","fontFamily":"Montserrat","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"]}},"colorLabel":"text-1","textAlign":{"desktop":"left","mobile":"center"},"backgroundItemColor":"#D9F2F5","verticalGap":"0px","horizontalGap":"10px","itemPadding":{"type":"small"},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"radiusType":"none"}}},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":0}},"mobile":{"margin":{"bottom":0},"link":false,"padding":{"top":"20px","bottom":"20px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"borderType":"none","border":"solid","borderWidth":"1px","width":"0px","color":"#121212","isCustom":true,"position":"all"},"rounded":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hasBoxShadow":false,"boxShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":[],"type":"component"}}'
     style="--jc:left;--jc-mobile:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:10px;--jc:left;--jc-mobile:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9F2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
    <div
      id="day"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--lh:130%;--size:41px;--size-tablet:41px;--size-mobile:24px;--weight:bold;--c:#257A84;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:#42ABB7;word-break:break-word;overflow:hidden"
        >Days</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9F2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
    <div
      id="hour"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--lh:130%;--size:41px;--size-tablet:41px;--size-mobile:24px;--weight:bold;--c:#257A84;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:#42ABB7;word-break:break-word;overflow:hidden"
        >Hours</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9F2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
    <div
      id="minute"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--lh:130%;--size:41px;--size-tablet:41px;--size-mobile:24px;--weight:bold;--c:#257A84;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:#42ABB7;word-break:break-word;overflow:hidden"
        >Minutes</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9F2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-small">
    
    <div
      id="second"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--lh:130%;--size:41px;--size-tablet:41px;--size-mobile:24px;--weight:bold;--c:#257A84;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:11px;--weight:bold;--c:#42ABB7;word-break:break-word;overflow:hidden"
        >Seconds</div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:20px;--pt:20px;--mt-mobile:0px;--mb-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .gvSnj5h0Ud.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gvSnj5h0Ud:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }
  </style>
    <a
      href="#gD41IxN0eC" target="_self" data-id="gvSnj5h0Ud" aria-label="Start for $3"
      
      data-state="idle"
      class="gvSnj5h0Ud gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EB;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--hvr-c:#FBB662;--c:#FBB662;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:70px;--h-tablet:70px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:20px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Start for $3
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-511836147316425760 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=511834293702493122&sectionId=511836147316425760)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
