

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554278293219181428.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-554278293219181428.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-554278293219181428.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554278293219181428.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-554278293219181428.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554278293219181428.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554278293219181428.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554278293219181428.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554278293219181428.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554278293219181428.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554278293219181428.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554278293219181428.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-554278293219181428.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-554278293219181428.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554278293219181428.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-554278293219181428.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-554278293219181428.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554278293219181428.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-554278293219181428.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-554278293219181428.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-554278293219181428.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554278293219181428.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554278293219181428.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554278293219181428.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-554278293219181428.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554278293219181428.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-554278293219181428.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-554278293219181428.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-554278293219181428.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554278293219181428.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-554278293219181428.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554278293219181428.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-554278293219181428.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-554278293219181428.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-554278293219181428.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-554278293219181428.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-554278293219181428.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-554278293219181428.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-554278293219181428.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-554278293219181428.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-554278293219181428.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554278293219181428.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554278293219181428.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554278293219181428.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554278293219181428.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554278293219181428.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554278293219181428.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554278293219181428.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554278293219181428.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554278293219181428.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-554278293219181428.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-554278293219181428.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554278293219181428.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-554278293219181428.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-554278293219181428.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-554278293219181428.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-554278293219181428.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-554278293219181428.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-554278293219181428.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-554278293219181428.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-554278293219181428.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-554278293219181428.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-554278293219181428.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554278293219181428.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554278293219181428.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-554278293219181428.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-554278293219181428.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-554278293219181428.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-554278293219181428.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-554278293219181428.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-554278293219181428.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-554278293219181428.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-554278293219181428.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-554278293219181428.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-554278293219181428.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-554278293219181428.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-554278293219181428.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-554278293219181428.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-554278293219181428.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-554278293219181428.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-554278293219181428.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554278293219181428.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554278293219181428.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-554278293219181428.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-554278293219181428.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-554278293219181428.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-554278293219181428 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-554278293219181428 .gp-relative{position:relative}.gps-554278293219181428 .gp-z-1{z-index:1}.gps-554278293219181428 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554278293219181428 .gp-mb-0{margin-bottom:0}.gps-554278293219181428 .\!gp-inline{display:inline!important}.gps-554278293219181428 .gp-flex{display:flex}.gps-554278293219181428 .gp-inline-flex{display:inline-flex}.gps-554278293219181428 .gp-grid{display:grid}.gps-554278293219181428 .\!gp-hidden{display:none!important}.gps-554278293219181428 .gp-hidden{display:none}.gps-554278293219181428 .gp-h-auto{height:auto}.gps-554278293219181428 .gp-h-full{height:100%}.gps-554278293219181428 .gp-w-full{width:100%}.gps-554278293219181428 .gp-max-w-full{max-width:100%}.gps-554278293219181428 .gp-flex-none{flex:none}.gps-554278293219181428 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-554278293219181428 .gp-flex-col{flex-direction:column}.gps-554278293219181428 .gp-flex-wrap{flex-wrap:wrap}.gps-554278293219181428 .gp-items-center{align-items:center}.gps-554278293219181428 .gp-justify-center{justify-content:center}.gps-554278293219181428 .gp-gap-y-0{row-gap:0}.gps-554278293219181428 .gp-overflow-hidden{overflow:hidden}.gps-554278293219181428 .gp-break-words{overflow-wrap:break-word}.gps-554278293219181428 .gp-rounded-none{border-radius:0}.gps-554278293219181428 .gp-text-center{text-align:center}.gps-554278293219181428 .gp-leading-\[0\]{line-height:0}.gps-554278293219181428 .gp-no-underline{text-decoration-line:none}.gps-554278293219181428 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554278293219181428 .gp-duration-200{transition-duration:.2s}.gps-554278293219181428 .gp-duration-300{transition-duration:.3s}.gps-554278293219181428 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554278293219181428 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-554278293219181428 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-554278293219181428 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-554278293219181428 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-554278293219181428 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-554278293219181428 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-554278293219181428 .tablet\:\!gp-hidden{display:none!important}.gps-554278293219181428 .tablet\:gp-hidden{display:none}.gps-554278293219181428 .tablet\:gp-h-auto{height:auto}.gps-554278293219181428 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-554278293219181428 .mobile\:\!gp-hidden{display:none!important}.gps-554278293219181428 .mobile\:gp-hidden{display:none}.gps-554278293219181428 .mobile\:gp-h-auto{height:auto}.gps-554278293219181428 .mobile\:gp-flex-none{flex:none}}.gps-554278293219181428 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-554278293219181428 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-554278293219181428 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-554278293219181428 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-554278293219181428 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-554278293219181428 .\[\&_p\]\:gp-inline p{display:inline}.gps-554278293219181428 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-554278293219181428 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-554278293219181428 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gsbqRv94CH" data-id="gsbqRv94CH"
        style="--d:grid;--d-mobile:none;--d-tablet:grid;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F8FF;--bgc-mobile:#F2F8FF;--bgi:url();--bgi-mobile:url();--bgp-mobile:;--bgs-mobile:;--bgr-mobile:;--bga-mobile:"
        class="gsbqRv94CH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQfGMZHNlu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTmbqG5XQV" data-id="gTmbqG5XQV"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:40px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:97%;--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTmbqG5XQV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ge_d0mWYLl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ggpvLnU9ZV" data-id="ggpvLnU9ZV"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:20px;--mb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggpvLnU9ZV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9N6jB7LMJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxYZe4AbhJ">
    <div
      parentTag="Col"
        class="gxYZe4AbhJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxYZe4AbhJ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grHmT9BXGl">
    <div
      parentTag="Col"
        class="grHmT9BXGl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:40px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:25px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrHmT9BXGl_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="iACkOGjvmaQu">
    <div
      parentTag="Col"
        class="iACkOGjvmaQu "
        style="--ta:left;--mt:0px;--ml:0px;--mb:50px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:20px;--size-mobile:16px;--c:rgb(6, 6, 6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.giACkOGjvmaQu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g-6cupzGUm" data-id="g-6cupzGUm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:15px;--mb-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-6cupzGUm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gpI_5vwJCq gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="geaVzMUJGT"
      
      data-id="geaVzMUJGT"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:4px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gMi8lLaGpc ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] g-kOGUo6o-"
    >
      <div 
      data-id="g-kOGUo6o-"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#53c2d1;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gasQXQsS82 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] ggmNsWRIiM"
    >
      <div 
      data-id="ggmNsWRIiM"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#53c2d1;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gr9juXlh2A ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] grXTSYMyEN"
    >
      <div 
      data-id="grXTSYMyEN"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#53c2d1;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gN6BB3hSdM ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gInKqhXeDB"
    >
      <div 
      data-id="gInKqhXeDB"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#53c2d1;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper  class="g0b6v4EUj3 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] g_HXxiwQw_"
    >
      <div 
      data-id="g_HXxiwQw_"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#53c2d1;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gsPbS6Ip0i gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvIJCTq74F">
    <div
      parentTag="Col"
        class="gvIJCTq74F "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0.75px;--size:15px;--size-tablet:17px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvIJCTq74F_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g93ir9-LDH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CC7814;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .g93ir9-LDH:hover::before {
      
      
    }

    .g93ir9-LDH:hover .gp-button-icon {
      color: #ffffff;
    }

     .g93ir9-LDH .gp-button-icon {
      color: #ffffff;
    }

    .g93ir9-LDH:hover .gp-button-price {
      color: #ffffff;
    }

    .g93ir9-LDH .gp-button-price {
      color: #ffffff;
    }

    .g93ir9-LDH .gp-product-dot-price {
       color: #ffffff;
    }

    .g93ir9-LDH:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="#gIJrMwros2" target="_self" data-id="g93ir9-LDH" aria-label="<p>Claim Your Free Travel Set</p>"
      
      data-state="idle"
      class="g93ir9-LDH gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFC37A;--bg:#FFC37A;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:90%;--w-tablet:100%;--w-mobile:100%;--h:60px;--h-tablet:60px;--h-mobile:50px;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#ffffff;--c:#ffffff;--size:22px;--size-tablet:18px;--size-mobile:20px;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--weight:bold;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:22px;--size-tablet:18px;--size-mobile:20px;--hvr-c:#ffffff;--c:#ffffff"
      >
        {{ section.settings.gg93ir9-LDH_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guc4DvLCYl gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ghpsliSV-n"
    role="presentation"
    class="gp-group/image ghpsliSV-n gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Travel_Set_for_Races_Landing_Page.png?v=1740439305" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/Travel_Set_for_Races_Landing_Page.png?v=1740439305" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzYwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDAwLTEzNjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwMDAiIGhlaWdodD0iMTM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjAwMCIgaGVpZ2h0PSIxMzYwIiBmaWxsPSJ1cmwoI2ctMjAwMC0xMzYwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjAwMCIgdG89IjIwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2000" height="1360" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:2000/1360;--aspect-tablet:2000/1360;--aspect-mobile:2000/1360;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v5/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpg.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v5/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbFFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* vietnamese */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v5/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbPFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v5/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbOFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v5/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpgjQ70a32I.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-554278293219181428 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554278293134639988&sectionId=554278293219181428)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggxYZe4AbhJ_text","label":"ggxYZe4AbhJ_text","default":"Free Travel Set"},{"type":"html","id":"ggrHmT9BXGl_text","label":"ggrHmT9BXGl_text","default":"With Any Purchase"},{"type":"html","id":"giACkOGjvmaQu_text","label":"giACkOGjvmaQu_text","default":"<p>Our hydrating coffee with essential electrolytes helps athletes reduce morning fatigue, train consistently, and build a routine they love.</p>"},{"type":"html","id":"ggvIJCTq74F_text","label":"ggvIJCTq74F_text","default":"4.9/5 out of 10k+ athletes"},{"type":"html","id":"gg93ir9-LDH_label","label":"gg93ir9-LDH_label","default":"<p>Claim Your Free Travel Set</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
