
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-505612812685411434 .gp-relative{position:relative}.gps-505612812685411434 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-505612812685411434 .gp-mb-0{margin-bottom:0}.gps-505612812685411434 .\!gp-inline{display:inline!important}.gps-505612812685411434 .gp-flex{display:flex}.gps-505612812685411434 .gp-grid{display:grid}.gps-505612812685411434 .\!gp-hidden{display:none!important}.gps-505612812685411434 .gp-hidden{display:none}.gps-505612812685411434 .gp-h-full{height:100%}.gps-505612812685411434 .gp-w-full{width:100%}.gps-505612812685411434 .gp-max-w-full{max-width:100%}.gps-505612812685411434 .gp-flex-col{flex-direction:column}.gps-505612812685411434 .gp-gap-y-0{row-gap:0}.gps-505612812685411434 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505612812685411434 .gp-duration-200{transition-duration:.2s}.gps-505612812685411434 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-505612812685411434 .tablet\:\!gp-hidden{display:none!important}.gps-505612812685411434 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-505612812685411434 .mobile\:\!gp-hidden{display:none!important}.gps-505612812685411434 .mobile\:gp-hidden{display:none}}.gps-505612812685411434 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-505612812685411434 .\[\&_p\]\:gp-inline p{display:inline}.gps-505612812685411434 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505612812685411434 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:0px;--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:0px;--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gTlMAAl_Iz"
        style="--b:solid;--bc:#06395C;--bw:0px 0px 0px 0px;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--mt:0px;--ml:auto;--mb:40px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:30px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:35px;--mr-tablet:auto;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(247, 250, 252);--bgc-mobile:#F0F4F8"
        class="gTlMAAl_Iz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXK48VFyOq gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gbYVTok-Bi"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbYVTok-Bi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9c2FD2Y4q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gG2O4qv9o1 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:21px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:30px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:15px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:-1px;--lh:130%;--size:30px;--size-tablet:27px;--size-mobile:25px;--weight:bold;--c:rgb(1, 58, 93);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG2O4qv9o1_text | downcase }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gk6aPVGC2s"
        style="--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:50px;--cg-tablet:0px;--pc:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(247, 251, 252);--bgc-mobile:#F0F4F8"
        class="gk6aPVGC2s gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3OCyOilKV gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gSxvmJFgjr"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 1440w" width="3000" height="3000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-1.webp?v=1716058077 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="3000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gKFSrRpBT8 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-1px;--lh:130%;--size:22px;--size-tablet:17px;--size-mobile:20px;--weight:bold;--c:rgb(1, 59, 94);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKFSrRpBT8_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gKw7z008xB "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:50px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:5px;--pr-mobile:5px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:150%;--size:18px;--size-tablet:14px;--size-mobile:17px;--weight:bold;--c:rgb(78, 78, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKw7z008xB_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8DTt7Rv1n gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gmufYgVmLT"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 1440w" width="3000" height="3000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/how-it-works-2.webp?v=1716058077 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="3000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gVe0LifdbJ "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-1px;--lh:130%;--size:22px;--size-tablet:17px;--size-mobile:20px;--weight:bold;--c:rgb(1, 59, 94);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVe0LifdbJ_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHPDIO0561 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:50px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:5px;--pb-mobile:0px;--pr-mobile:5px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:150%;--size:18px;--size-tablet:14px;--size-mobile:17px;--weight:bold;--c:rgb(78, 78, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHPDIO0561_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqr-0aljyP gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g2oQHPMBaI"
    style="--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: 'master' }} 1440w" width="1500" height="1500" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1500/1500;--aspect-tablet:1500/1500;--aspect-mobile:1500/1500;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-0d90621b-f3e1-4624-a455-daa38820d7af.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1500" height="1500" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1500/1500;--aspect-tablet:1500/1500;--aspect-mobile:1500/1500;--objf:cover;--w:250px;--w-mobile:190px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gN7yqhat99 "
        style="--ta:center;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:130%;--size:20px;--size-tablet:17px;--size-mobile:20px;--weight:bold;--c:rgb(1, 59, 94);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN7yqhat99_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g88L-kuUCy "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:50px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:5px;--pb-mobile:0px;--pr-mobile:5px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:150%;--size:17px;--size-tablet:14px;--size-mobile:17px;--weight:bold;--c:rgb(78, 78, 79);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg88L-kuUCy_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 3",
      "tag": "section",
      "class": "gps-505612812685411434 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=505612812685411434)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggG2O4qv9o1_text","label":"ggG2O4qv9o1_text","default":"<p>How it Works</p>"},{"type":"text","id":"ggKFSrRpBT8_text","label":"ggKFSrRpBT8_text","default":"<p>CHOOSE YOUR PLAN</p>"},{"type":"text","id":"ggKw7z008xB_text","label":"ggKw7z008xB_text","default":"<p>Save 10% - 25% on electrolyte infused&nbsp;</p><p>coffee plus free shipping.</p>"},{"type":"text","id":"ggVe0LifdbJ_text","label":"ggVe0LifdbJ_text","default":"<p>Customize Your Items</p>"},{"type":"text","id":"ggHPDIO0561_text","label":"ggHPDIO0561_text","default":"<p>Choose traditional and flavored&nbsp;</p><p>coffees to fit any training schedule.</p>"},{"type":"text","id":"ggN7yqhat99_text","label":"ggN7yqhat99_text","default":"<p>Free Gear &amp; Experimental Samples</p>"},{"type":"text","id":"gg88L-kuUCy_text","label":"gg88L-kuUCy_text","default":"<p>Club members enjoy experimental flavor samples <u>every order</u>, plus welcome gear.&nbsp;</p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
