
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-505030517712749674 .-gp-rotate-90,.gps-505030517712749674 .gp-rotate-180,.gps-505030517712749674 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-505030517712749674 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-505030517712749674 .gp-invisible{visibility:hidden}.gps-505030517712749674 .gp-absolute{position:absolute}.gps-505030517712749674 .gp-relative{position:relative}.gps-505030517712749674 .gp-z-1{z-index:1}.gps-505030517712749674 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-505030517712749674 .gp-mb-0{margin-bottom:0}.gps-505030517712749674 .gp-block{display:block}.gps-505030517712749674 .\!gp-inline{display:inline!important}.gps-505030517712749674 .gp-flex{display:flex}.gps-505030517712749674 .gp-inline-flex{display:inline-flex}.gps-505030517712749674 .gp-grid{display:grid}.gps-505030517712749674 .\!gp-hidden{display:none!important}.gps-505030517712749674 .gp-hidden{display:none}.gps-505030517712749674 .gp-h-5{height:20px}.gps-505030517712749674 .gp-h-full{height:100%}.gps-505030517712749674 .gp-min-h-0{min-height:0}.gps-505030517712749674 .gp-w-5{width:20px}.gps-505030517712749674 .gp-w-full{width:100%}.gps-505030517712749674 .gp-max-w-full{max-width:100%}.gps-505030517712749674 .gp-flex-none{flex:none}.gps-505030517712749674 .-gp-rotate-90{--tw-rotate:-90deg}.gps-505030517712749674 .-gp-rotate-90,.gps-505030517712749674 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505030517712749674 .gp-rotate-180{--tw-rotate:180deg}.gps-505030517712749674 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505030517712749674 .gp-cursor-pointer{cursor:pointer}.gps-505030517712749674 .gp-flex-col{flex-direction:column}.gps-505030517712749674 .gp-items-center{align-items:center}.gps-505030517712749674 .gp-justify-center{justify-content:center}.gps-505030517712749674 .gp-gap-y-0{row-gap:0}.gps-505030517712749674 .gp-overflow-hidden{overflow:hidden}.gps-505030517712749674 .gp-overflow-clip{overflow:clip}.gps-505030517712749674 .gp-break-words{overflow-wrap:break-word}.gps-505030517712749674 .gp-rounded-none{border-radius:0}.gps-505030517712749674 .gp-no-underline{text-decoration-line:none}.gps-505030517712749674 .gp-opacity-25{opacity:.25}.gps-505030517712749674 .gp-opacity-75{opacity:.75}.gps-505030517712749674 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505030517712749674 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505030517712749674 .gp-duration-200{transition-duration:.2s}.gps-505030517712749674 .gp-duration-300{transition-duration:.3s}.gps-505030517712749674 .gp-duration-500{transition-duration:.5s}.gps-505030517712749674 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505030517712749674 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-505030517712749674 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-505030517712749674 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-505030517712749674 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-505030517712749674 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-505030517712749674 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-505030517712749674 .tablet\:gp-block{display:block}.gps-505030517712749674 .tablet\:\!gp-hidden{display:none!important}.gps-505030517712749674 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-505030517712749674 .mobile\:gp-block{display:block}.gps-505030517712749674 .mobile\:\!gp-hidden{display:none!important}.gps-505030517712749674 .mobile\:gp-hidden{display:none}.gps-505030517712749674 .mobile\:gp-justify-center{justify-content:center}}.gps-505030517712749674 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-505030517712749674 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-505030517712749674 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-505030517712749674 .\[\&_p\]\:gp-inline p{display:inline}.gps-505030517712749674 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-505030517712749674 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505030517712749674 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lcef9d7d7ae"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2lcef9d7d7ae gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lcef9d7d7ae gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2lcef9d7d7ae"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lcef9d7d7ae gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l6ac94410fb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVrNbyhyre"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:10px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVrNbyhyre gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-hvTTaUKp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g553B3ITcI "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:30px;--pr-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--lh:130%;--size:38px;--size-tablet:46px;--size-mobile:30px;--weight:bold;--c:#257A84;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg553B3ITcI_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g4ExKDTqF7 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:5px;--pl-mobile:30px;--pr-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--lh:130%;--size:38px;--size-tablet:46px;--size-mobile:15px;--weight:bold;--c:#257A84;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4ExKDTqF7_text }}</h2>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image g844UfWyhk"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:0px;--pt:30px;--pl:0px;--pb:50px;--pr:0px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:20px;--pb-mobile:30px;--pr-mobile:20px;--mb-tablet:0px;--pt-tablet:30px;--pl-tablet:100px;--pb-tablet:50px;--pr-tablet:0px;--ta:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: 'master' }} 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:550px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-f7ca1e71-a982-427f-8bea-2595c2634816.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:550px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghMAr4M2Y4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gZgTeaDgcQ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:5px;--pt:50px;--pl:10px;--mb-mobile:0px;--pt-mobile:20px;--pl-mobile:20px;--pr-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--lh:130%;--size:45px;--size-tablet:25px;--size-mobile:19px;--weight:bold;--c:#257A84;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZgTeaDgcQ_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gUZM0NSHWd"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:40px;--ml:-15px;--mt-mobile:0px;--ml-mobile:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:80%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUZM0NSHWd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1d38f6ec6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHcGuf8aLv "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:30px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:17px;--weight:bold;--c:rgb(33, 121, 133);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:100px;--pr-mobile:0px;overflow:hidden"
        >{{ section.settings.ggHcGuf8aLv_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:15px;--pt:20px;--pb:20px;--mb-mobile:0px;--pt-mobile:60px;--pb-mobile:50px" class="g5qYDsXjUT ">
      
    <div
      class="gp-flex gp-justify-center mobile:gp-justify-center"
    >
      <div
        style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#477E84"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:#477E84;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:#477E84;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:#477E84;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px;--minw-mobile:100px"
    ></div>
  
      </div>
    </div>
  
      </div><div style="--mt:0px;--ml:0px;--mb:50px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px" class="i2l44f0350282 ">
      
    <gp-accordion
     uid="i2l44f0350282"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function repeat() { [native code] }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334320740041053\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334320740237661\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M212.24,164.24a6,6,0,0,1-8.48,0L128,88.49,52.24,164.24a6,6,0,0,1-8.48-8.48l80-80a6,6,0,0,1,8.48,0l80,80A6,6,0,0,1,212.24,164.24Z\" /></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"i2l44f0350282","childListNumber":[],"chidlrenUid":["g2mHakbARb","i2l676e688ed8","i2l1cac6c25d4","i2ld0f70b3df0"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"normal":"rgb(33, 121, 133)"},"headerBorder":{"active":{"border":"solid","borderWidth":"1px","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"1px","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#257A84","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"normal":"#257A84"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"gap":"","height":"auto","width":"60%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"95%"}}},"uid":"i2l44f0350282"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:60%;--w-tablet:60%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g2mHakbARb"
        id="g2mHakbARb"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#257A84;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#257A84;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(33, 121, 133);width:16px;height:16px"
            data-index="0"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:26px;--size-tablet:25px;--size-mobile:18px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g2mHakbARb"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g2mHakbARb"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gAfPXDXNmp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_ISdjDssc "
        style="--ta:left;--mt:0px;--ml:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:16px;--c:rgb(33, 121, 133);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_ISdjDssc_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:20px;--pt:20px;--mt-mobile:15px;--mb-mobile:15px;--ta:center"
    class=""
  >
    <style>
    .gvSnj5h0Ud.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8525;
  
      border-radius: var(--g-radius-small);
    }

    .gvSnj5h0Ud:hover::before {
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8525;
  
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gvSnj5h0Ud" aria-label="Join Now"
      
      data-state="idle"
      class="gvSnj5h0Ud gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EB;--radius:var(--g-radius-small);--shadow:none;--hvr-c:#DD8525;--c:#DD8525;--w:60%;--w-tablet:60%;--w-mobile:100%;--h:70px;--h-tablet:70px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggvSnj5h0Ud_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:60%;--w-tablet:60%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2l676e688ed8"
        id="i2l676e688ed8"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#257A84;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#257A84;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(33, 121, 133);width:16px;height:16px"
            data-index="1"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:26px;--size-tablet:25px;--size-mobile:18px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l676e688ed8"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2l676e688ed8"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l676e688ed8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gn0L5qLzb8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:16px;--c:rgb(33, 121, 133);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn0L5qLzb8_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:60%;--w-tablet:60%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2l1cac6c25d4"
        id="i2l1cac6c25d4"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#257A84;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#257A84;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(33, 121, 133);width:16px;height:16px"
            data-index="2"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:26px;--size-tablet:25px;--size-mobile:18px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l1cac6c25d4"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2l1cac6c25d4"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l1cac6c25d4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBUQw-ly9H "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:16px;--c:rgb(33, 121, 133);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBUQw-ly9H_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:60%;--w-tablet:60%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2ld0f70b3df0"
        id="i2ld0f70b3df0"
        data-index="3"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#257A84;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#257A84;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-3:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:rgb(33, 121, 133);width:16px;height:16px"
            data-index="3"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:26px;--size-tablet:25px;--size-mobile:18px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_3 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2ld0f70b3df0"
        data-index="3"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2ld0f70b3df0"
        data-index="3"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2ld0f70b3df0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIkeUuM8xU "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:16px;--c:rgb(33, 121, 133);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIkeUuM8xU_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-505030517712749674 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=505030517628863594&sectionId=505030517712749674)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gg553B3ITcI_text","label":"gg553B3ITcI_text","default":"Run Brunch"},{"type":"text","id":"gg4ExKDTqF7_text","label":"gg4ExKDTqF7_text","default":"Coming (very) soon."},{"type":"text","id":"ggZgTeaDgcQ_text","label":"ggZgTeaDgcQ_text","default":"Run Brunch Series"},{"type":"text","id":"ggHcGuf8aLv_text","label":"ggHcGuf8aLv_text","default":"<p>Long Run is launching three new flavors, as part of a series: Blueberry Pancake, Bottomless Mimosa, and Maple Bacon.&nbsp;</p><p>&nbsp;</p><p>Starting Sunday, May 19th, all runners will have the opportunity to get their choice of any Run Brunch flavor, <u>FREE</u> with a new subscription.</p>"},{"type":"text","id":"gi2l44f0350282_childItem_0","label":"gi2l44f0350282_childItem_0","default":"<p><span style=\"background-color:rgba(181,21,21,0);color:#4AC2D0;font-size:25px;\">Get It Free</span></p>"},{"type":"text","id":"gi2l44f0350282_childItem_1","label":"gi2l44f0350282_childItem_1","default":"<p><span style=\"font-size:20px;\">Run Brunch</span></p>"},{"type":"text","id":"gi2l44f0350282_childItem_2","label":"gi2l44f0350282_childItem_2","default":"<p><span style=\"font-size:20px;\">Supplement Facts</span></p>"},{"type":"text","id":"gi2l44f0350282_childItem_3","label":"gi2l44f0350282_childItem_3","default":"<p><span style=\"font-size:20px;\">How to Use</span></p>"},{"type":"text","id":"gg_ISdjDssc_text","label":"gg_ISdjDssc_text","default":"<p>Starting Sunday, May 19th, all runners who sign up for the Long Run Club (our monthly coffee program) will <strong>get to choose a Run Brunch Flavor that comes free in </strong>their first shipment.</p><p>&nbsp;</p><p>Additional member benefits include:</p><p>&nbsp;</p><p>- &nbsp;Save 10-25%</p><p>- &nbsp;Free Shipping</p><p>- &nbsp;New experimental samples every shipment</p><p>- &nbsp;Free welcome gear</p><p>&nbsp;</p><p>LR Club members can easily skip, edit, and manage orders any time.</p>"},{"type":"text","id":"ggvSnj5h0Ud_label","label":"ggvSnj5h0Ud_label","default":"Join Now"},{"type":"text","id":"ggn0L5qLzb8_text","label":"ggn0L5qLzb8_text","default":"<p>Runners love races. Runner's love getting their medals. And, runners LOVE scheduling brunch after their race.&nbsp;</p><p>&nbsp;</p><p>These three flavors are meant to remind us of that moment. Brew our Run Brunch flavors in training, to remind you of that great race day feeling you're preparing for.&nbsp;</p>"},{"type":"text","id":"ggBUQw-ly9H_text","label":"ggBUQw-ly9H_text","default":"<p>Ingredients: Coffee (11g), Sodium Bicarbonate (75mg, 3% DV), Potassium Gluconate (175mg, 4% DV), Calcium Citrate (13mg, 3% DV), Magnesium Citrate (12mg, 1% DV).</p><p>&nbsp;</p><p>There are no calories, carbs, or sugar.</p>"},{"type":"text","id":"ggIkeUuM8xU_text","label":"ggIkeUuM8xU_text","default":"<p>Long Run Coffee can be brewed with any traditional method (pour over, drip, French press, etc.). Consume 30-45 mins before your run.</p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
