

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-520486232220763059.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-520486232220763059.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-520486232220763059.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-520486232220763059.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-520486232220763059.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-520486232220763059.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-520486232220763059.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-520486232220763059.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-520486232220763059.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-520486232220763059.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-520486232220763059.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-520486232220763059.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-520486232220763059.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-520486232220763059.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-520486232220763059.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-520486232220763059.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-520486232220763059.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-520486232220763059.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-520486232220763059.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-520486232220763059.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-520486232220763059.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-520486232220763059.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-520486232220763059.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-520486232220763059.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-520486232220763059.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-520486232220763059.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-520486232220763059.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-520486232220763059.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-520486232220763059.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-520486232220763059.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-520486232220763059.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-520486232220763059.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-520486232220763059.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-520486232220763059.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-520486232220763059.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-520486232220763059.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-520486232220763059.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-520486232220763059.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-520486232220763059.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-520486232220763059.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-520486232220763059.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-520486232220763059.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-520486232220763059.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-520486232220763059.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-520486232220763059.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-520486232220763059.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-520486232220763059.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-520486232220763059 .gp-relative{position:relative}.gps-520486232220763059 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-520486232220763059 .gp-mb-0{margin-bottom:0}.gps-520486232220763059 .\!gp-inline{display:inline!important}.gps-520486232220763059 .gp-flex{display:flex}.gps-520486232220763059 .gp-grid{display:grid}.gps-520486232220763059 .\!gp-hidden{display:none!important}.gps-520486232220763059 .gp-hidden{display:none}.gps-520486232220763059 .gp-h-full{height:100%}.gps-520486232220763059 .gp-w-full{width:100%}.gps-520486232220763059 .gp-max-w-full{max-width:100%}.gps-520486232220763059 .gp-flex-col{flex-direction:column}.gps-520486232220763059 .gp-gap-y-0{row-gap:0}.gps-520486232220763059 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-520486232220763059 .gp-duration-200{transition-duration:.2s}.gps-520486232220763059 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-520486232220763059 .tablet\:\!gp-hidden{display:none!important}.gps-520486232220763059 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-520486232220763059 .mobile\:\!gp-hidden{display:none!important}.gps-520486232220763059 .mobile\:gp-hidden{display:none}}.gps-520486232220763059 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gx0deApkRl"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--op-mobile:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx0deApkRl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnVwWIjFjo gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gYmlyXNJFS"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-53cb53c2-dd57-4c0d-a21e-cbb4aed91790.png" | file_url }}" width="4000" height="1778" alt="Alt image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4000/1778;--aspect-tablet:4000/1778;--aspect-mobile:4000/1778;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-53cb53c2-dd57-4c0d-a21e-cbb4aed91790.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-53cb53c2-dd57-4c0d-a21e-cbb4aed91790.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-53cb53c2-dd57-4c0d-a21e-cbb4aed91790.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-53cb53c2-dd57-4c0d-a21e-cbb4aed91790.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4000" height="1778" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:4000/1778;--aspect-tablet:4000/1778;--aspect-mobile:4000/1778;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gYmlyXNJFS"
      >.gYmlyXNJFS {

}
.gYmlyXNJFS > figure > img {

}</style>
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-520486232220763059 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=520481981998302130&sectionId=520486232220763059)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
