

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-515878929718838123.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-515878929718838123.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-515878929718838123.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-515878929718838123.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-515878929718838123.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-515878929718838123.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-515878929718838123.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-515878929718838123.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-515878929718838123.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-515878929718838123.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-515878929718838123.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-515878929718838123.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-515878929718838123.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-515878929718838123.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-515878929718838123.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-515878929718838123.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-515878929718838123.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-515878929718838123.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-515878929718838123.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-515878929718838123.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-515878929718838123.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-515878929718838123.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-515878929718838123.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-515878929718838123.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-515878929718838123.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-515878929718838123.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-515878929718838123.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-515878929718838123.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-515878929718838123.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-515878929718838123.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-515878929718838123.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-515878929718838123.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-515878929718838123.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-515878929718838123.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-515878929718838123.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-515878929718838123.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-515878929718838123.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-515878929718838123.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-515878929718838123.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-515878929718838123.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-515878929718838123.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-515878929718838123.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-515878929718838123.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-515878929718838123.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-515878929718838123.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-515878929718838123.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-515878929718838123.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-515878929718838123.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-515878929718838123.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-515878929718838123.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-515878929718838123.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-515878929718838123.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-515878929718838123.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-515878929718838123.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-515878929718838123.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-515878929718838123.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-515878929718838123.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-515878929718838123.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-515878929718838123.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-515878929718838123.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-515878929718838123.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-515878929718838123.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-515878929718838123.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-515878929718838123.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-515878929718838123.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-515878929718838123.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-515878929718838123.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-515878929718838123.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-515878929718838123.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-515878929718838123.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-515878929718838123.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-515878929718838123.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-515878929718838123.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-515878929718838123.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-515878929718838123.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-515878929718838123.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-515878929718838123.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-515878929718838123.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-515878929718838123 .gp-relative{position:relative}.gps-515878929718838123 .gp-z-1{z-index:1}.gps-515878929718838123 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515878929718838123 .gp-mb-0{margin-bottom:0}.gps-515878929718838123 .\!gp-inline{display:inline!important}.gps-515878929718838123 .gp-flex{display:flex}.gps-515878929718838123 .gp-inline-flex{display:inline-flex}.gps-515878929718838123 .gp-grid{display:grid}.gps-515878929718838123 .\!gp-hidden{display:none!important}.gps-515878929718838123 .gp-hidden{display:none}.gps-515878929718838123 .gp-h-full{height:100%}.gps-515878929718838123 .gp-w-full{width:100%}.gps-515878929718838123 .gp-max-w-full{max-width:100%}.gps-515878929718838123 .gp-flex-col{flex-direction:column}.gps-515878929718838123 .gp-items-center{align-items:center}.gps-515878929718838123 .gp-justify-center{justify-content:center}.gps-515878929718838123 .gp-gap-y-0{row-gap:0}.gps-515878929718838123 .gp-overflow-hidden{overflow:hidden}.gps-515878929718838123 .gp-break-words{overflow-wrap:break-word}.gps-515878929718838123 .gp-rounded-none{border-radius:0}.gps-515878929718838123 .gp-text-center{text-align:center}.gps-515878929718838123 .gp-no-underline{text-decoration-line:none}.gps-515878929718838123 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929718838123 .gp-duration-200{transition-duration:.2s}.gps-515878929718838123 .gp-duration-300{transition-duration:.3s}.gps-515878929718838123 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929718838123 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-515878929718838123 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-515878929718838123 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-515878929718838123 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-515878929718838123 .tablet\:\!gp-hidden{display:none!important}.gps-515878929718838123 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515878929718838123 .mobile\:\!gp-hidden{display:none!important}.gps-515878929718838123 .mobile\:gp-hidden{display:none}}.gps-515878929718838123 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515878929718838123 .\[\&_p\]\:gp-inline p{display:inline}.gps-515878929718838123 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-515878929718838123 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515878929718838123 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lbcc37889f7"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:80px;--pl:0px;--pb:50px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:50px;--pl-mobile:0px;--pb-mobile:50px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2lbcc37889f7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l9b14c4c25c gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g52vkcw4VD "
        style="--ta:left;--animation:[object Object];--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:none;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:10px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--size:30px;--size-tablet:40px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#65C9D3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:400px;--pr:400px;--pl-mobile:40px;--pr-mobile:40px;overflow:hidden"
        >{{ section.settings.gg52vkcw4VD_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_MnbaEabG "
        style="--ta:left;--animation:[object Object];--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:none;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:30px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0px;--size:25px;--size-tablet:40px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#195158;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pl-mobile:40px;--pr-mobile:40px;overflow:hidden"
        >{{ section.settings.gg_MnbaEabG_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="i2l9b14c4c25c"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2l9b14c4c25c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lae82fe0148 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJjy611lZO "
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:35px;--size-tablet:18px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:40px;--pr-mobile:40px;overflow:hidden"
        >{{ section.settings.ggJjy611lZO_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g8BMoVk80k "
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:30px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:35px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#020202;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:40px;--pr-mobile:40px;overflow:hidden"
        >{{ section.settings.gg8BMoVk80k_text }}</div>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image vYoSyboeScQN"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--rounded:[object Object];--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-6abac410-0112-4254-8793-7e38bfcd1ca2.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="RVrhuztuQjzL "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:23px;--size-tablet:18px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRVrhuztuQjzL_text | downcase }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l5f7cc6779b gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image VlqKYtVhSbJG"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--rounded:[object Object];--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-2dd7e097-dee8-4dd7-b838-147f5d3473f1.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="DzSvJDmcAIqu "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:23px;--size-tablet:18px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gDzSvJDmcAIqu_text | downcase }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lbda2588fc6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image uhzrDggfIxJH"
    style="--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--rounded:[object Object];--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-7fb9b15a-f16e-4953-91cc-0b83a967e6d2.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="Col"
        class="dpAattocManj "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:22px;--size-tablet:18px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#69CDD8;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gdpAattocManj_text | downcase }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
  <gp-button >
  <div
    
    style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:40px;--mb:40px;--pt:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:40px;--ta:center"
    
  >
    <style>
    .g04mz9O0dd.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FCB25A;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .g04mz9O0dd:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }

    .g04mz9O0dd:hover .gp-button-icon {
      color: #FBB662;
    }

     .g04mz9O0dd .gp-button-icon {
      color: #FCB25A;
    }

    .g04mz9O0dd:hover .gp-button-price {
      color: #FBB662;
    }

    .g04mz9O0dd .gp-button-price {
      color: #FCB25A;
    }

    .g04mz9O0dd .gp-product-dot-price {
       color: #FCB25A;
    }

    .g04mz9O0dd:hover .gp-product-dot-price {
      color: #FBB662;
    }
  </style>
    <a
      href="#gWXxoV_Aya" target="_self" data-id="g04mz9O0dd" aria-label="Try It Free"
      
      data-state="idle"
      class="g04mz9O0dd gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EC;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:1100px;--w-tablet:1100px;--w-mobile:95%;--h:65px;--h-tablet:65px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#FBB662;--c:#FCB25A;--size:25px;--size-tablet:16px;--size-mobile:20px;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:25px;--size-tablet:16px;--size-mobile:20px"
      >
        {{ section.settings.gg04mz9O0dd_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-515878929718838123 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=515878929467179883&sectionId=515878929718838123)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg52vkcw4VD_text","label":"gg52vkcw4VD_text","default":"Fuel Your Passion"},{"type":"html","id":"gg_MnbaEabG_text","label":"gg_MnbaEabG_text","default":"Long Run Coffee is electrolyte infused so you<br>can do what you love - running faster &amp; farther."},{"type":"html","id":"ggJjy611lZO_text","label":"ggJjy611lZO_text","default":"<p>The Benefits</p>"},{"type":"html","id":"gg8BMoVk80k_text","label":"gg8BMoVk80k_text","default":"<p>Electrolytes Infused Coffee</p>"},{"type":"html","id":"gRVrhuztuQjzL_text","label":"gRVrhuztuQjzL_text","default":"TRAIN HARDER, WITH EASE"},{"type":"html","id":"gDzSvJDmcAIqu_text","label":"gDzSvJDmcAIqu_text","default":"FEEL LIGHT ON YOUR FEET"},{"type":"html","id":"gdpAattocManj_text","label":"gdpAattocManj_text","default":"ENJOY REDUCED FATIGUE"},{"type":"html","id":"gg04mz9O0dd_label","label":"gg04mz9O0dd_label","default":"Try It Free"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
