
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-515878929735680875 .-gp-rotate-90,.gps-515878929735680875 .gp-rotate-180,.gps-515878929735680875 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-515878929735680875 .gp-invisible{visibility:hidden}.gps-515878929735680875 .gp-absolute{position:absolute}.gps-515878929735680875 .gp-relative{position:relative}.gps-515878929735680875 .gp-z-1{z-index:1}.gps-515878929735680875 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515878929735680875 .gp-mb-0{margin-bottom:0}.gps-515878929735680875 .gp-flex{display:flex}.gps-515878929735680875 .gp-inline-flex{display:inline-flex}.gps-515878929735680875 .gp-grid{display:grid}.gps-515878929735680875 .\!gp-hidden{display:none!important}.gps-515878929735680875 .gp-hidden{display:none}.gps-515878929735680875 .gp-h-5{height:20px}.gps-515878929735680875 .gp-h-full{height:100%}.gps-515878929735680875 .gp-min-h-0{min-height:0}.gps-515878929735680875 .gp-w-5{width:20px}.gps-515878929735680875 .gp-w-full{width:100%}.gps-515878929735680875 .gp-max-w-full{max-width:100%}.gps-515878929735680875 .-gp-rotate-90{--tw-rotate:-90deg}.gps-515878929735680875 .-gp-rotate-90,.gps-515878929735680875 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-515878929735680875 .gp-rotate-180{--tw-rotate:180deg}.gps-515878929735680875 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-515878929735680875 .gp-cursor-pointer{cursor:pointer}.gps-515878929735680875 .gp-flex-col{flex-direction:column}.gps-515878929735680875 .gp-items-center{align-items:center}.gps-515878929735680875 .gp-justify-center{justify-content:center}.gps-515878929735680875 .gp-gap-y-0{row-gap:0}.gps-515878929735680875 .gp-overflow-hidden{overflow:hidden}.gps-515878929735680875 .gp-overflow-clip{overflow:clip}.gps-515878929735680875 .gp-break-words{overflow-wrap:break-word}.gps-515878929735680875 .gp-rounded-none{border-radius:0}.gps-515878929735680875 .gp-no-underline{text-decoration-line:none}.gps-515878929735680875 .gp-opacity-25{opacity:.25}.gps-515878929735680875 .gp-opacity-75{opacity:.75}.gps-515878929735680875 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929735680875 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929735680875 .gp-duration-200{transition-duration:.2s}.gps-515878929735680875 .gp-duration-300{transition-duration:.3s}.gps-515878929735680875 .gp-duration-500{transition-duration:.5s}.gps-515878929735680875 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929735680875 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-515878929735680875 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-515878929735680875 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-515878929735680875 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-515878929735680875 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-515878929735680875 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-515878929735680875 .tablet\:\!gp-hidden{display:none!important}.gps-515878929735680875 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515878929735680875 .mobile\:\!gp-hidden{display:none!important}.gps-515878929735680875 .mobile\:gp-hidden{display:none}}.gps-515878929735680875 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-515878929735680875 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-515878929735680875 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515878929735680875 .\[\&_p\]\:gp-inline p{display:inline}.gps-515878929735680875 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-515878929735680875 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515878929735680875 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="i2lcef9d7d7ae"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:50px;--pl:0px;--pb:70px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(246, 252, 252)"
        class="i2lcef9d7d7ae gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2lcef9d7d7ae gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="w-i2lcef9d7d7ae"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2lcef9d7d7ae gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l6ac94410fb gp-relative gp-flex gp-flex-col"
    >
      <div style="--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px" class="i2l44f0350282 ">
      
    <gp-accordion
     uid="i2l44f0350282"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function repeat() { [native code] }"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334320740041053\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334320740237661\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M212.24,164.24a6,6,0,0,1-8.48,0L128,88.49,52.24,164.24a6,6,0,0,1-8.48-8.48l80-80a6,6,0,0,1,8.48,0l80,80A6,6,0,0,1,212.24,164.24Z\" /></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"i2l44f0350282","childListNumber":[],"chidlrenUid":["i2l676e688ed8","i2l1cac6c25d4","i2ld0f70b3df0"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"normal":"#195158"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#195158","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#195158","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#195158","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"normal":"#195158"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"gap":"","height":"auto","width":"50%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"95%"}}},"uid":"i2l44f0350282"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:50%;--w-tablet:50%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2l676e688ed8"
        id="i2l676e688ed8"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#195158;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#195158;--hvr-bc:#195158"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#195158;width:16px;height:16px"
            data-index="0"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:28px;--size-tablet:25px;--size-mobile:21px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l676e688ed8"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2l676e688ed8"
        data-index="0"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l676e688ed8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gn0L5qLzb8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn0L5qLzb8_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:50%;--w-tablet:50%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2l1cac6c25d4"
        id="i2l1cac6c25d4"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#195158;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#195158;--hvr-bc:#195158"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#195158;width:16px;height:16px"
            data-index="1"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:28px;--size-tablet:25px;--size-mobile:21px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2l1cac6c25d4"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2l1cac6c25d4"
        data-index="1"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2l1cac6c25d4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBUQw-ly9H "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBUQw-ly9H_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:50%;--w-tablet:50%;--w-mobile:95%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="i2l44f0350282 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="i2ld0f70b3df0"
        id="i2ld0f70b3df0"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item-i2l44f0350282-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--c:#195158;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#195158;--hvr-bc:#195158"
      >
       <style class="accordion-style">.gp-accordion-item-i2l44f0350282-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--c:#195158;width:16px;height:16px"
            data-index="2"
            class="i2l44f0350282 gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334320740041053">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M212.24,100.24l-80,80a6,6,0,0,1-8.48,0l-80-80a6,6,0,0,1,8.48-8.48L128,167.51l75.76-75.75a6,6,0,0,1,8.48,8.48Z" /></svg></span>
          
        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:120%;--size:28px;--size-tablet:25px;--size-mobile:21px;--weight:bold;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gi2l44f0350282_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="i2ld0f70b3df0"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="i2ld0f70b3df0"
        data-index="2"
        class="i2l44f0350282 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="accordion_item-col-i2ld0f70b3df0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIkeUuM8xU "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--lh:180%;--size:23px;--size-tablet:16px;--size-mobile:15px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIkeUuM8xU_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:20px;--mb:0px;--pt:0px;--mt-mobile:0px;--mb-mobile:40px;--ta:center"
    class=""
  >
    <style>
    .gs0l2srAPu.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gs0l2srAPu:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }
  </style>
    <a
      href="#gWXxoV_Aya" target="_self" data-id="gs0l2srAPu" aria-label="Try It Free"
      
      data-state="idle"
      class="gs0l2srAPu gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EB;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--hvr-c:#FBB662;--c:#FBB662;--w:1100px;--w-tablet:1100px;--w-mobile:95%;--h:65px;--h-tablet:65px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:20px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggs0l2srAPu_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 6",
      "tag": "section",
      "class": "gps-515878929735680875 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=515878929467179883&sectionId=515878929735680875)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gi2l44f0350282_childItem_0","label":"gi2l44f0350282_childItem_0","default":"<p>How This Works</p>"},{"type":"text","id":"gi2l44f0350282_childItem_1","label":"gi2l44f0350282_childItem_1","default":"<p>Supplement Facts</p>"},{"type":"text","id":"gi2l44f0350282_childItem_2","label":"gi2l44f0350282_childItem_2","default":"<p>How to Use</p>"},{"type":"text","id":"ggn0L5qLzb8_text","label":"ggn0L5qLzb8_text","default":"<p>Submit your contact information above, and we'll share instructions for your free 4oz bag. In addition, 2 free bonuses will be automatically added to the cart:&nbsp;</p><ul><li>A bonus 4oz Long Run Dark Roast&nbsp;</li><li>A bonus Banana Bread flavor pack</li></ul>"},{"type":"text","id":"ggBUQw-ly9H_text","label":"ggBUQw-ly9H_text","default":"<p>Ingredients: Coffee (11g), Sodium Bicarbonate (75mg, 3% DV), Potassium Gluconate (175mg, 4% DV), Calcium Citrate (13mg, 3% DV), Magnesium Citrate (12mg, 1% DV).</p><p>&nbsp;</p><p>There are no calories, carbs, or sugar.</p>"},{"type":"text","id":"ggIkeUuM8xU_text","label":"ggIkeUuM8xU_text","default":"<p>LRC can be prepared with any traditional brewing method - so use your favorite! Consume 30-45 mins before your run, or anytime throughout the day you typically consume regular coffee. Most people simply replace their regular coffee consumption with LRC!</p>"},{"type":"text","id":"ggs0l2srAPu_label","label":"ggs0l2srAPu_label","default":"Try It Free"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
