
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485864644125131660 .gp-invisible{visibility:hidden}.gps-485864644125131660 .gp-absolute{position:absolute}.gps-485864644125131660 .gp-relative{position:relative}.gps-485864644125131660 .gp-z-1{z-index:1}.gps-485864644125131660 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485864644125131660 .gp-mb-0{margin-bottom:0}.gps-485864644125131660 .\!gp-inline{display:inline!important}.gps-485864644125131660 .gp-flex{display:flex}.gps-485864644125131660 .gp-inline-flex{display:inline-flex}.gps-485864644125131660 .gp-grid{display:grid}.gps-485864644125131660 .\!gp-hidden{display:none!important}.gps-485864644125131660 .gp-hidden{display:none}.gps-485864644125131660 .gp-h-5{height:20px}.gps-485864644125131660 .gp-h-full{height:100%}.gps-485864644125131660 .gp-w-5{width:20px}.gps-485864644125131660 .gp-w-full{width:100%}.gps-485864644125131660 .gp-max-w-full{max-width:100%}.gps-485864644125131660 .gp-flex-col{flex-direction:column}.gps-485864644125131660 .gp-items-center{align-items:center}.gps-485864644125131660 .gp-justify-center{justify-content:center}.gps-485864644125131660 .gp-gap-y-0{row-gap:0}.gps-485864644125131660 .gp-overflow-hidden{overflow:hidden}.gps-485864644125131660 .gp-break-words{overflow-wrap:break-word}.gps-485864644125131660 .gp-rounded-none{border-radius:0}.gps-485864644125131660 .gp-no-underline{text-decoration-line:none}.gps-485864644125131660 .gp-opacity-25{opacity:.25}.gps-485864644125131660 .gp-opacity-75{opacity:.75}.gps-485864644125131660 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485864644125131660 .gp-duration-200{transition-duration:.2s}.gps-485864644125131660 .gp-duration-300{transition-duration:.3s}.gps-485864644125131660 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485864644125131660 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485864644125131660 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485864644125131660 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485864644125131660 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485864644125131660 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485864644125131660 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485864644125131660 .tablet\:\!gp-hidden{display:none!important}.gps-485864644125131660 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-485864644125131660 .mobile\:\!gp-hidden{display:none!important}.gps-485864644125131660 .mobile\:gp-hidden{display:none}}.gps-485864644125131660 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485864644125131660 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gfYYb2QuIj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:40px;--pt:40px;--pb:30px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:15px;--pt-tablet:20px;--pb-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#829AB1;--bgc-tablet:#829AB1;--bgc-mobile:#829AB1;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll"
        class="gfYYb2QuIj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goL_LkRABD gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gd4ie_VetK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd4ie_VetK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzRCTQyyNX gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gF-L7QZIv3"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:30px;--mb-tablet:22px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png" | asset_url }}" srcset="{{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: 'master' }} 1440w" width height alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:600px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:110px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png" | asset_url }}" data-srcset="{{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-79c685b0-6aac-4103-8d09-7087bc4d5c2c.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="Alt image"
      sizes="100vw"
      style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:600px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:110px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--pt-mobile:30px;--pb-mobile:20px;--mb-tablet:0px;--ta:center"
    class=""
  >
    <style>
    .g7dCL_wfGN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .g7dCL_wfGN:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="g7dCL_wfGN" aria-label="Build My Subscription"
      
      data-state="idle"
      class="g7dCL_wfGN gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:60%;--w-tablet:400px;--w-mobile:80%;--h:55px;--h-tablet:40px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:18px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg7dCL_wfGN_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 12",
      "tag": "section",
      "class": "gps-485864644125131660 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485864644125131660)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gg7dCL_wfGN_label","label":"gg7dCL_wfGN_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
