
  
  
      <style>
        @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-485977203473908990 .-translate-y-1\/2,.gps-485977203473908990 .mobile\:-translate-y-1\/2,.gps-485977203473908990 .mobile\:rotate-0,.gps-485977203473908990 .mobile\:rotate-180,.gps-485977203473908990 .mobile\:translate-x-0,.gps-485977203473908990 .mobile\:translate-y-1\/2,.gps-485977203473908990 .rotate-0,.gps-485977203473908990 .rotate-180,.gps-485977203473908990 .tablet\:-translate-y-1\/2,.gps-485977203473908990 .tablet\:rotate-0,.gps-485977203473908990 .tablet\:rotate-180,.gps-485977203473908990 .tablet\:translate-x-0,.gps-485977203473908990 .tablet\:translate-y-1\/2,.gps-485977203473908990 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485977203473908990 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485977203473908990 .pointer-events-auto{pointer-events:auto}.gps-485977203473908990 .invisible{visibility:hidden}.gps-485977203473908990 .absolute{position:absolute}.gps-485977203473908990 .relative{position:relative}.gps-485977203473908990 .bottom-1\/2{bottom:50%}.gps-485977203473908990 .left-4{left:16px}.gps-485977203473908990 .right-4{right:16px}.gps-485977203473908990 .top-1\/2{top:50%}.gps-485977203473908990 .z-1{z-index:1}.gps-485977203473908990 .z-2{z-index:2}.gps-485977203473908990 .mx-auto{margin-left:auto;margin-right:auto}.gps-485977203473908990 .my-0{margin-bottom:0;margin-top:0}.gps-485977203473908990 .mb-0{margin-bottom:0}.gps-485977203473908990 .mt-2{margin-top:8px}.gps-485977203473908990 .block{display:block}.gps-485977203473908990 .\!inline{display:inline!important}.gps-485977203473908990 .flex{display:flex}.gps-485977203473908990 .inline-flex{display:inline-flex}.gps-485977203473908990 .grid{display:grid}.gps-485977203473908990 .hidden{display:none}.gps-485977203473908990 .aspect-square{aspect-ratio:1/1}.gps-485977203473908990 .h-5{height:20px}.gps-485977203473908990 .h-6{height:24px}.gps-485977203473908990 .h-full{height:100%}.gps-485977203473908990 .w-5{width:20px}.gps-485977203473908990 .w-6{width:24px}.gps-485977203473908990 .w-\[12px\]{width:12px}.gps-485977203473908990 .w-full{width:100%}.gps-485977203473908990 .max-w-full{max-width:100%}.gps-485977203473908990 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-485977203473908990 .-translate-y-1\/2,.gps-485977203473908990 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .translate-y-1\/2{--tw-translate-y:50%}.gps-485977203473908990 .rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .rotate-0,.gps-485977203473908990 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-485977203473908990 .animate-spin{animation:spin 1s linear infinite}.gps-485977203473908990 .cursor-pointer{cursor:pointer}.gps-485977203473908990 .flex-row{flex-direction:row}.gps-485977203473908990 .flex-col{flex-direction:column}.gps-485977203473908990 .items-center{align-items:center}.gps-485977203473908990 .justify-center{justify-content:center}.gps-485977203473908990 .gap-2{gap:8px}.gps-485977203473908990 .gap-y-0{row-gap:0}.gps-485977203473908990 .overflow-hidden{overflow:hidden}.gps-485977203473908990 .break-words{overflow-wrap:break-word}.gps-485977203473908990 .rounded-full{border-radius:9999px}.gps-485977203473908990 .rounded-none{border-radius:0}.gps-485977203473908990 .text-center{text-align:center}.gps-485977203473908990 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485977203473908990 .no-underline{text-decoration-line:none}.gps-485977203473908990 .opacity-25{opacity:.25}.gps-485977203473908990 .opacity-75{opacity:.75}.gps-485977203473908990 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485977203473908990 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485977203473908990 .duration-200{transition-duration:.2s}.gps-485977203473908990 .duration-300{transition-duration:.3s}.gps-485977203473908990 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485977203473908990 .disabled\:btn-disabled:disabled{cursor:default}.gps-485977203473908990 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-485977203473908990 .disabled\:cursor-default:disabled{cursor:default}.gps-485977203473908990 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-485977203473908990 .disabled\:opacity-30:disabled{opacity:.3}.gps-485977203473908990 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-485977203473908990 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-485977203473908990 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-485977203473908990 .tablet\:bottom-1\/2{bottom:50%}.gps-485977203473908990 .tablet\:left-4{left:16px}.gps-485977203473908990 .tablet\:right-4{right:16px}.gps-485977203473908990 .tablet\:top-1\/2{top:50%}.gps-485977203473908990 .tablet\:mt-2{margin-top:8px}.gps-485977203473908990 .tablet\:block{display:block}.gps-485977203473908990 .tablet\:\!inline{display:inline!important}.gps-485977203473908990 .tablet\:\!flex{display:flex!important}.gps-485977203473908990 .tablet\:w-full{width:100%}.gps-485977203473908990 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485977203473908990 .tablet\:-translate-y-1\/2,.gps-485977203473908990 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-485977203473908990 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-485977203473908990 .tablet\:rotate-0,.gps-485977203473908990 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .tablet\:rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .tablet\:flex-row{flex-direction:row}.gps-485977203473908990 .tablet\:px-0{padding-left:0;padding-right:0}.gps-485977203473908990 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-485977203473908990 .mobile\:bottom-1\/2{bottom:50%}.gps-485977203473908990 .mobile\:left-4{left:16px}.gps-485977203473908990 .mobile\:right-4{right:16px}.gps-485977203473908990 .mobile\:top-1\/2{top:50%}.gps-485977203473908990 .mobile\:mt-2{margin-top:8px}.gps-485977203473908990 .mobile\:block{display:block}.gps-485977203473908990 .mobile\:\!inline{display:inline!important}.gps-485977203473908990 .mobile\:\!hidden{display:none!important}.gps-485977203473908990 .mobile\:w-full{width:100%}.gps-485977203473908990 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485977203473908990 .mobile\:-translate-y-1\/2,.gps-485977203473908990 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-485977203473908990 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-485977203473908990 .mobile\:rotate-0,.gps-485977203473908990 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .mobile\:rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .mobile\:flex-row{flex-direction:row}.gps-485977203473908990 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-485977203473908990 .mobile\:px-0{padding-left:0;padding-right:0}.gps-485977203473908990 .mobile\:pl-1{padding-left:4px}}.gps-485977203473908990 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-485977203473908990 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-485977203473908990 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-485977203473908990 .\[\&_p\]\:inline p{display:inline}.gps-485977203473908990 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-485977203473908990 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485977203473908990 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gl73PM7kWR"
        style="--b:solid;--bc:#F0F4F8;--bw:2px 2px 2px 2px;--d:none;--d-mobile:grid;--d-tablet:none;--bblr:0px;--bbrr:0px;--btlr:15px;--btrr:15px;--mt:0px;--ml:auto;--mb:50px;--mr:auto;--pt:20px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F7FBFC;--bgc-tablet:#F7FBFC;--bgc-mobile:#F0F4F8"
        class="gl73PM7kWR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDYISY8Srf relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxXfdtYk29 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:7px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:27px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:5px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat');--ls:-0.5px;--lh:130%;--size:27px;--size-tablet:27px;--size-mobile:22px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>long run club details</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gt0GQgXB1v"
        style="--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(222, 240, 241);--bgc-tablet:transparent;--bgc-mobile:#F4FDFF"
        class="gt0GQgXB1v mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gf5y_Bc1PF relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJD3P1dpjz"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7FBFC;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gJD3P1dpjz mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcW07ghxEZ relative flex flex-col"
    >
      <div style="" class="gMZJXHAG8L ">
      
    
      
      
    <div
      uid="gMZJXHAG8L"
       style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--ta:center;--bgc:transparent;--bgc-mobile:#F0F4F8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:25px;--rg-tablet:20px;--rg-mobile:35px"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="grra8411pn relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gMcwl9lrmM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png" | asset_url }}" data-srcset="{{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="g67aiNatZb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTPFpAkwCw"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTPFpAkwCw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gX8J9fM5X- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIRZcsiPIn "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>savings</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gBajHCn2if "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat');--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Club members save 10% - 25%. LRC also guarantees that members never see price increases - regardless of inflation.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="g9aYoVjl7x relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gT3B5lIiUz"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png" | asset_url }}" data-srcset="{{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="gmSnLPgu5_ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gHyBjliYND"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHyBjliYND mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxH1svtxB2 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLfq9UtjDQ "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>shipping</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIKcvc1g7J "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat');--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>We use expedited shipping for club members. Yes, it's free. We got you.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="gHIhYBEgTE relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gXcAv-GTBn"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png" | asset_url }}" data-srcset="{{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="g-SO8mUBSx relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gS7ds6A9SM"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS7ds6A9SM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gphHD3M-Kq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gA_PE6Q2Hw "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>free experimental roasts</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="geyMv2I43O "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat');--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p><u>Every shipment</u> includes two free experimental samples. Members test new products, and decide what products are made next.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="giPK-3CwtV relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gfu7MkqjBm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png" | asset_url }}" data-srcset="{{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="gAwAZJ9YsQ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gs8GKpKBcL"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs8GKpKBcL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEXo4LtA5M relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gjOk0rMPcg "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>free boco hat / hydro flask</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gI2muaNd-E "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat');--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Get a free welcome Hydro Flask / Boco Hat included with your 3rd shipment. This is automatic!</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://longruncoffee.com/collections/subscribe-save","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"Build My Subscription"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:20px;--mb-mobile:0px;--pt-mobile:40px;--pb-mobile:40px;--mb-tablet:29px;--ta:center"
    class=""
  >
    <style>
    .gbviGGTKhQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gbviGGTKhQ:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gbviGGTKhQ" aria-label="Build My Subscription"
      data-state="idle"
      class="gbviGGTKhQ gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DF8619;--w:40%;--w-tablet:60%;--w-mobile:90%;--h:50px;--h-tablet:40px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:4px;--pb-mobile:4px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat');--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Build My Subscription
      </span>
    </a>
  </div>
  </gp-button>
  
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gkUwsmc3FC-{{section.id}}" class=" "  gp-data='{"id":"gkUwsmc3FC-{{section.id}}","setting":{"arrow":{"desktop":true,"mobile":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7FCFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 2","Slide 1","Slide 3"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":true,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":true,"loop":{"desktop":false,"mobile":true},"pauseOnHover":true,"slidesToShow":{"desktop":4,"mobile":1,"tablet":2},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true,"mobile":true},"fullWidth":{"desktop":false,"mobile":true,"tablet":false},"height":{"desktop":"300px"},"spacing":{"desktop":16,"mobile":"0"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block mx-auto gkUwsmc3FC"
        style="--b:solid;--bc:#DDDDDD;--bw:0px 0px 1px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:0px;--h:auto;--h-mobile:auto;--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:#F7FCFC;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gkUwsmc3FC-{{section.id}}" class="gem-slider h-full overflow-hidden mobile:!flex-nowrap"         
          style="--cg-mobile:0px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gupM-ahrRj"
    >
      <div
    
    role="presentation"
    class="group/image gzLxHuBtnU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-401ee073-85bc-4c65-830b-77a70f64dca7.png" | asset_url }}" data-srcset="{{ '484137708004836523-401ee073-85bc-4c65-830b-77a70f64dca7.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-401ee073-85bc-4c65-830b-77a70f64dca7.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-401ee073-85bc-4c65-830b-77a70f64dca7.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g3kMcShlcC"
    >
      <div
    
    role="presentation"
    class="group/image gN-JcaCAau"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-e39c7ebd-ded7-4331-bc36-e6589882d75b.png" | asset_url }}" data-srcset="{{ '484137708004836523-e39c7ebd-ded7-4331-bc36-e6589882d75b.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-e39c7ebd-ded7-4331-bc36-e6589882d75b.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-e39c7ebd-ded7-4331-bc36-e6589882d75b.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gYMMHh95AD"
    >
      <div
    
    role="presentation"
    class="group/image gxk-Ya34e5"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-0a31a182-b6ed-4538-9324-bf4de0733806.png" | asset_url }}" data-srcset="{{ '484137708004836523-0a31a182-b6ed-4538-9324-bf4de0733806.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-0a31a182-b6ed-4538-9324-bf4de0733806.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-0a31a182-b6ed-4538-9324-bf4de0733806.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="Alt image" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gkUwsmc3FC-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gkUwsmc3FC-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gkUwsmc3FC-{{section.id}} flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-485977203473908990 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485977203473908990)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
