

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-528635971000861718.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-528635971000861718.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-528635971000861718.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-528635971000861718.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-528635971000861718.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-528635971000861718.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-528635971000861718.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-528635971000861718.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-528635971000861718.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-528635971000861718.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-528635971000861718.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-528635971000861718.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-528635971000861718.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-528635971000861718.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-528635971000861718.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-528635971000861718.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-528635971000861718.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-528635971000861718.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-528635971000861718.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-528635971000861718.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-528635971000861718.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-528635971000861718.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-528635971000861718.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-528635971000861718.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-528635971000861718.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-528635971000861718.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-528635971000861718.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-528635971000861718.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-528635971000861718.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-528635971000861718.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-528635971000861718.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-528635971000861718.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-528635971000861718.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-528635971000861718.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-528635971000861718.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-528635971000861718.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-528635971000861718.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-528635971000861718.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-528635971000861718.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-528635971000861718.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-528635971000861718.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-528635971000861718.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-528635971000861718.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-528635971000861718.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-528635971000861718.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-528635971000861718.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-528635971000861718.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-528635971000861718.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-528635971000861718.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-528635971000861718.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-528635971000861718.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-528635971000861718.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-528635971000861718.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-528635971000861718.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-528635971000861718 .gp-absolute{position:absolute}.gps-528635971000861718 .gp-relative{position:relative}.gps-528635971000861718 .gp-z-1{z-index:1}.gps-528635971000861718 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-528635971000861718 .gp-mb-0{margin-bottom:0}.gps-528635971000861718 .gp-flex{display:flex}.gps-528635971000861718 .gp-grid{display:grid}.gps-528635971000861718 .\!gp-hidden{display:none!important}.gps-528635971000861718 .gp-hidden{display:none}.gps-528635971000861718 .gp-h-full{height:100%}.gps-528635971000861718 .gp-w-full{width:100%}.gps-528635971000861718 .gp-max-w-full{max-width:100%}.gps-528635971000861718 .gp-flex-col{flex-direction:column}.gps-528635971000861718 .gp-items-center{align-items:center}.gps-528635971000861718 .\!gp-justify-center{justify-content:center!important}.gps-528635971000861718 .gp-gap-y-0{row-gap:0}.gps-528635971000861718 .gp-overflow-hidden{overflow:hidden}.gps-528635971000861718 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-528635971000861718 .gp-duration-200{transition-duration:.2s}.gps-528635971000861718 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-528635971000861718 .tablet\:gp-relative{position:relative}.gps-528635971000861718 .tablet\:\!gp-hidden{display:none!important}.gps-528635971000861718 .tablet\:gp-hidden{display:none}.gps-528635971000861718 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-528635971000861718 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-528635971000861718 .mobile\:gp-relative{position:relative}.gps-528635971000861718 .mobile\:\!gp-hidden{display:none!important}.gps-528635971000861718 .mobile\:gp-hidden{display:none}.gps-528635971000861718 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-528635971000861718 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-528635971000861718 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-528635971000861718 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-528635971000861718 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjgap_oQoG"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjgap_oQoG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLQNlBhEdz gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:fit-content;--h-tablet:auto;--h-mobile:100vh;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","width":6000,"height":3375,"backupFileKey":"gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","width":6000,"height":3375,"backupFileKey":"gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","width":6000,"height":3375,"backupFileKey":"gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png","storage":"FILE_CONTENT"},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","color":"bg-2","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true}},"uid":"gYGY4t2VbQ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{}}'
        
        class="gYGY4t2VbQ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:fit-content;--h-tablet:auto;--h-mobile:100vh;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:fit-content;--h-tablet:auto;--h-mobile:100vh;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png" | file_url }}" />
        
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:6000/3375;--aspect-tablet:6000/3375;--aspect-mobile:6000/3375;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:100vh;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:6000/3375;--aspect-tablet:6000/3375;--aspect-mobile:6000/3375;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:100vh;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-4e41ae20-706f-415e-bed9-d5a9d6978a20.png);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g61IPkCDIb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjHJQtcalz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjHJQtcalz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmx2Gwfqz6 gp-relative gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mb:275px;--mb-mobile:0px;--mb-tablet:0px" class="gGZDEJ9jMj ">
      
    <div
      
      style="--ta:left"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-XTRJqu"></div>
    </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-528635971000861718 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=528635970782757910&sectionId=528635971000861718)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
