
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-515878929668506475 .gp-invisible{visibility:hidden}.gps-515878929668506475 .gp-absolute{position:absolute}.gps-515878929668506475 .gp-relative{position:relative}.gps-515878929668506475 .gp-z-1{z-index:1}.gps-515878929668506475 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515878929668506475 .gp-mb-0{margin-bottom:0}.gps-515878929668506475 .\!gp-inline{display:inline!important}.gps-515878929668506475 .gp-flex{display:flex}.gps-515878929668506475 .gp-inline-flex{display:inline-flex}.gps-515878929668506475 .gp-grid{display:grid}.gps-515878929668506475 .\!gp-hidden{display:none!important}.gps-515878929668506475 .gp-hidden{display:none}.gps-515878929668506475 .gp-h-5{height:20px}.gps-515878929668506475 .gp-h-full{height:100%}.gps-515878929668506475 .gp-w-5{width:20px}.gps-515878929668506475 .gp-w-full{width:100%}.gps-515878929668506475 .gp-max-w-full{max-width:100%}.gps-515878929668506475 .gp-flex-col{flex-direction:column}.gps-515878929668506475 .gp-items-center{align-items:center}.gps-515878929668506475 .gp-justify-center{justify-content:center}.gps-515878929668506475 .gp-gap-y-0{row-gap:0}.gps-515878929668506475 .gp-overflow-hidden{overflow:hidden}.gps-515878929668506475 .gp-break-words{overflow-wrap:break-word}.gps-515878929668506475 .gp-rounded-none{border-radius:0}.gps-515878929668506475 .gp-no-underline{text-decoration-line:none}.gps-515878929668506475 .gp-opacity-25{opacity:.25}.gps-515878929668506475 .gp-opacity-75{opacity:.75}.gps-515878929668506475 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929668506475 .gp-duration-200{transition-duration:.2s}.gps-515878929668506475 .gp-duration-300{transition-duration:.3s}.gps-515878929668506475 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515878929668506475 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-515878929668506475 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-515878929668506475 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-515878929668506475 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-515878929668506475 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-515878929668506475 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-515878929668506475 .tablet\:\!gp-hidden{display:none!important}.gps-515878929668506475 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515878929668506475 .mobile\:\!gp-hidden{display:none!important}.gps-515878929668506475 .mobile\:gp-hidden{display:none}}.gps-515878929668506475 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515878929668506475 .\[\&_p\]\:gp-inline p{display:inline}.gps-515878929668506475 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-515878929668506475 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515878929668506475 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8RFxKZw6e"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:70px;--pb:70px;--pt-mobile:50px;--pb-mobile:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDFAFC;--bgc-mobile:#F2FCFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g8RFxKZw6e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzNyC6hVzH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIRw9nKL6C "
        style="--ta:left;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:37px;--size-tablet:18px;--size-mobile:25px;--weight:bold;--c:#132841;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIRw9nKL6C_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gncMZEYsyE "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:27px;--size-tablet:18px;--size-mobile:20px;--weight:bold;--c:#132841;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggncMZEYsyE_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gv2Zg8y-YW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--radius:var(--g-radius-none);--mb-mobile:0px;--z:99;--cg:80px;--cg-mobile:50px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gv2Zg8y-YW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g83m-F29JY gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g2rOkDrGes"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:0px;--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: 'master' }} 1440w" width="5000" height="5000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-787e2ea3-394c-43ce-b3b9-d72b49e6c35a.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="5000" height="5000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gufYOlpW8G gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gX0CiSYz3W"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:0px;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: 'master' }} 1440w" width="5000" height="5000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-4f71ca21-0633-4504-b634-3b56f3be8af8.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="5000" height="5000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGSw0JAOwH gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g36eTT35RM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: 'master' }} 1440w" width="5000" height="5000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-711a829e-ed17-477a-bb90-a0f48ae9a3bf.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="5000" height="5000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:5000/5000;--aspect-tablet:5000/5000;--aspect-mobile:5000/5000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gszIUVUmF1 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gZAOjWJ1pj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--ta:left;--ta-mobile:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: 'master' }} 1440w" width="2000" height="2000" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-65751afb-c881-497e-a9a8-f4ab838fd53b.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt Image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:200px;--w-tablet:160px;--w-mobile:160px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:20px;--mt-mobile:0px;--mb-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .g2bQnEf5bj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .g2bQnEf5bj:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }
  </style>
    <a
      href="#gWXxoV_Aya" target="_self" data-id="g2bQnEf5bj" aria-label="Try It Free"
      
      data-state="idle"
      class="g2bQnEf5bj gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EB;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--hvr-c:#FBB662;--c:#FBB662;--w:1100px;--w-tablet:1100px;--w-mobile:95%;--h:65px;--h-tablet:65px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:20px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg2bQnEf5bj_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 12",
      "tag": "section",
      "class": "gps-515878929668506475 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=515878929467179883&sectionId=515878929668506475)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggIRw9nKL6C_text","label":"ggIRw9nKL6C_text","default":"<p>Trusted by Runners</p>"},{"type":"text","id":"ggncMZEYsyE_text","label":"ggncMZEYsyE_text","default":"<p>⭐⭐⭐⭐⭐ &nbsp;1.6k+ &nbsp;Reviews&nbsp;</p>"},{"type":"text","id":"gg2bQnEf5bj_label","label":"gg2bQnEf5bj_label","default":"Try It Free"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
