
  
  
  <style>
    .gps-488166888161936253 .pointer-events-auto{pointer-events:auto}.gps-488166888161936253 .relative{position:relative}.gps-488166888161936253 .mx-auto{margin-left:auto;margin-right:auto}.gps-488166888161936253 .mb-0{margin-bottom:0}.gps-488166888161936253 .\!inline{display:inline!important}.gps-488166888161936253 .flex{display:flex}.gps-488166888161936253 .grid{display:grid}.gps-488166888161936253 .h-full{height:100%}.gps-488166888161936253 .w-full{width:100%}.gps-488166888161936253 .max-w-full{max-width:100%}.gps-488166888161936253 .flex-col{flex-direction:column}.gps-488166888161936253 .gap-y-0{row-gap:0}.gps-488166888161936253 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488166888161936253 .duration-200{transition-duration:.2s}.gps-488166888161936253 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488166888161936253 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gHYzUbYUX8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--mt-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHYzUbYUX8 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gndo-QKSOq relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gVvtBMFNtr"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:50px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-61ea4856-8e77-4443-a3e8-e1f9f8ffe58e.png" | asset_url }}" data-srcset="{{ '484137708004836523-61ea4856-8e77-4443-a3e8-e1f9f8ffe58e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-61ea4856-8e77-4443-a3e8-e1f9f8ffe58e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-61ea4856-8e77-4443-a3e8-e1f9f8ffe58e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3750" height="662" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:3750/662;--aspect-tablet:3750/662;--aspect-mobile:3750/662;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div><div
    
    role="presentation"
    class="group/image g3zdzvmiZ4"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:50px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-5836179a-76a6-4fe2-92d3-5fed06db9f49.png" | asset_url }}" data-srcset="{{ '484137708004836523-5836179a-76a6-4fe2-92d3-5fed06db9f49.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-5836179a-76a6-4fe2-92d3-5fed06db9f49.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-5836179a-76a6-4fe2-92d3-5fed06db9f49.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2025" height="675" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:2025/675;--aspect-tablet:2025/675;--aspect-mobile:2025/675;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-488166888161936253 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=488166888161936253&template_id=488166887893500797)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
