
  
  <style> .gps-515884385719813260 .gp-absolute{position:absolute}.gps-515884385719813260 .gp-relative{position:relative}.gps-515884385719813260 .gp-inset-0{inset:0}.gps-515884385719813260 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-515884385719813260 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-515884385719813260 .gp-z-1{z-index:1}.gps-515884385719813260 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515884385719813260 .gp-mb-0{margin-bottom:0}.gps-515884385719813260 .gp-flex{display:flex}.gps-515884385719813260 .gp-grid{display:grid}.gps-515884385719813260 .\!gp-hidden{display:none!important}.gps-515884385719813260 .gp-hidden{display:none}.gps-515884385719813260 .gp-h-full{height:100%}.gps-515884385719813260 .gp-w-full{width:100%}.gps-515884385719813260 .gp-max-w-full{max-width:100%}.gps-515884385719813260 .gp-flex-col{flex-direction:column}.gps-515884385719813260 .gp-items-center{align-items:center}.gps-515884385719813260 .\!gp-justify-end{justify-content:flex-end!important}.gps-515884385719813260 .\!gp-justify-center{justify-content:center!important}.gps-515884385719813260 .gp-justify-center{justify-content:center}.gps-515884385719813260 .gp-gap-y-0{row-gap:0}.gps-515884385719813260 .gp-overflow-hidden{overflow:hidden}.gps-515884385719813260 .gp-bg-clip-content{background-clip:content-box}.gps-515884385719813260 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515884385719813260 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515884385719813260 .gp-duration-200{transition-duration:.2s}.gps-515884385719813260 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-515884385719813260 .tablet\:gp-absolute{position:absolute}.gps-515884385719813260 .tablet\:\!gp-hidden{display:none!important}.gps-515884385719813260 .tablet\:gp-hidden{display:none}.gps-515884385719813260 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-515884385719813260 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-515884385719813260 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-515884385719813260 .mobile\:gp-relative{position:relative}.gps-515884385719813260 .mobile\:\!gp-hidden{display:none!important}.gps-515884385719813260 .mobile\:gp-hidden{display:none}.gps-515884385719813260 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-515884385719813260 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-515884385719813260 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-515884385719813260 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-515884385719813260 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-515884385719813260 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjtr6zH8_U"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjtr6zH8_U gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-MjqLLFdS gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png","height":1440,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png?v=1714613150","storage":"FILE_CONTENT","width":4320},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png","height":1440,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png?v=1714613150","storage":"FILE_CONTENT","width":4320},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png","height":1440,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png?v=1714613150","storage":"FILE_CONTENT","width":4320},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"}},"uid":"gyFoyUbYDN","enableParallax":false,"speedParallax":0.6}'
        
        class="gyFoyUbYDN gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:4320/1440;--aspect-tablet:4320/1440;--aspect-mobile:4320/1440;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:4320px;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:4320/1440;--aspect-tablet:4320/1440;--aspect-mobile:4320/1440;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:4320px;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-w-full gp-h-full"
              style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
              <div
                aria-label="Background Image"
                role="banner"
                class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
                style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_url }});--bgi-tablet:url({{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_url }});--bgi-mobile:url({{ "gempages_484137708004836523-63041128-342d-4a9e-805b-197515a6e143.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
              > </div>
            </div>
            
          </div>
          
          
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCmJB79viN gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:60px" class="gicWdVHG1n ">
      
    <div
      class=""
      style="--ta:center;--ta-mobile:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-Wh5jkE"></div>
    </div>
  
      </div>
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-515884385719813260 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=515884385300382860&sectionId=515884385719813260)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
