

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-515877904396059876.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-515877904396059876.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-515877904396059876.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-515877904396059876.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-515877904396059876.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-515877904396059876.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-515877904396059876.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-515877904396059876.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-515877904396059876.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-515877904396059876.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-515877904396059876.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-515877904396059876.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-515877904396059876.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-515877904396059876.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-515877904396059876.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-515877904396059876.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-515877904396059876.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-515877904396059876.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-515877904396059876.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-515877904396059876.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-515877904396059876.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-515877904396059876.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-515877904396059876.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-515877904396059876.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-515877904396059876.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-515877904396059876.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-515877904396059876.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-515877904396059876.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-515877904396059876.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-515877904396059876.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-515877904396059876.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-515877904396059876.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-515877904396059876.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-515877904396059876.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-515877904396059876.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-515877904396059876.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-515877904396059876.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-515877904396059876.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-515877904396059876.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-515877904396059876.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-515877904396059876.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-515877904396059876.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-515877904396059876.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-515877904396059876.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-515877904396059876.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-515877904396059876.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-515877904396059876.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-515877904396059876.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-515877904396059876.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-515877904396059876.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-515877904396059876.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-515877904396059876.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-515877904396059876.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-515877904396059876.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-515877904396059876.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-515877904396059876.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-515877904396059876.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-515877904396059876.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-515877904396059876.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-515877904396059876.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-515877904396059876.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-515877904396059876.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-515877904396059876.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-515877904396059876.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-515877904396059876.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-515877904396059876.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-515877904396059876.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-515877904396059876.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-515877904396059876.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-515877904396059876.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-515877904396059876.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-515877904396059876.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-515877904396059876.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-515877904396059876.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-515877904396059876.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-515877904396059876.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-515877904396059876.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-515877904396059876.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-515877904396059876.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-515877904396059876.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-515877904396059876.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-515877904396059876.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-515877904396059876.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-515877904396059876.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-515877904396059876.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-515877904396059876.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-515877904396059876.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-515877904396059876.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-515877904396059876.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-515877904396059876.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-515877904396059876.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-515877904396059876.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-515877904396059876.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-515877904396059876 .gp-rotate-0,.gps-515877904396059876 .gp-rotate-180,.gps-515877904396059876 .mobile\:gp-rotate-0,.gps-515877904396059876 .mobile\:gp-rotate-180,.gps-515877904396059876 .tablet\:gp-rotate-0,.gps-515877904396059876 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-515877904396059876 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-515877904396059876 .gp-static{position:static}.gps-515877904396059876 .\!gp-absolute{position:absolute!important}.gps-515877904396059876 .gp-relative{position:relative}.gps-515877904396059876 .gp-left-0{left:0}.gps-515877904396059876 .gp-right-0{right:0}.gps-515877904396059876 .gp-z-1{z-index:1}.gps-515877904396059876 .gp-z-2{z-index:2}.gps-515877904396059876 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515877904396059876 .gp-my-0{margin-bottom:0;margin-top:0}.gps-515877904396059876 .gp-mb-0{margin-bottom:0}.gps-515877904396059876 .gp-block{display:block}.gps-515877904396059876 .\!gp-inline{display:inline!important}.gps-515877904396059876 .\!gp-flex{display:flex!important}.gps-515877904396059876 .gp-flex{display:flex}.gps-515877904396059876 .gp-inline-flex{display:inline-flex}.gps-515877904396059876 .gp-grid{display:grid}.gps-515877904396059876 .\!gp-hidden{display:none!important}.gps-515877904396059876 .gp-hidden{display:none}.gps-515877904396059876 .gp-aspect-square{aspect-ratio:1/1}.gps-515877904396059876 .gp-h-full{height:100%}.gps-515877904396059876 .\!gp-min-h-full{min-height:100%!important}.gps-515877904396059876 .gp-w-\[12px\]{width:12px}.gps-515877904396059876 .gp-w-full{width:100%}.gps-515877904396059876 .gp-max-w-full{max-width:100%}.gps-515877904396059876 .gp-shrink-0{flex-shrink:0}.gps-515877904396059876 .gp-rotate-0{--tw-rotate:0deg}.gps-515877904396059876 .gp-rotate-0,.gps-515877904396059876 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-515877904396059876 .gp-rotate-180{--tw-rotate:180deg}.gps-515877904396059876 .gp-cursor-pointer{cursor:pointer}.gps-515877904396059876 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-515877904396059876 .\!gp-flex-row{flex-direction:row!important}.gps-515877904396059876 .gp-flex-row{flex-direction:row}.gps-515877904396059876 .gp-flex-col{flex-direction:column}.gps-515877904396059876 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-515877904396059876 .gp-items-center{align-items:center}.gps-515877904396059876 .gp-justify-center{justify-content:center}.gps-515877904396059876 .gp-justify-between{justify-content:space-between}.gps-515877904396059876 .gp-gap-2{gap:8px}.gps-515877904396059876 .gp-gap-y-0{row-gap:0}.gps-515877904396059876 .gp-overflow-hidden{overflow:hidden}.gps-515877904396059876 .gp-break-words{overflow-wrap:break-word}.gps-515877904396059876 .gp-rounded-full{border-radius:9999px}.gps-515877904396059876 .gp-rounded-none{border-radius:0}.gps-515877904396059876 .gp-text-center{text-align:center}.gps-515877904396059876 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-515877904396059876 .gp-no-underline{text-decoration-line:none}.gps-515877904396059876 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-515877904396059876 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515877904396059876 .gp-duration-200{transition-duration:.2s}.gps-515877904396059876 .gp-duration-300{transition-duration:.3s}.gps-515877904396059876 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515877904396059876 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-515877904396059876 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-515877904396059876 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-515877904396059876 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-515877904396059876 .tablet\:gp-static{position:static}.gps-515877904396059876 .tablet\:\!gp-absolute{position:absolute!important}.gps-515877904396059876 .tablet\:gp-left-0{left:0}.gps-515877904396059876 .tablet\:gp-right-0{right:0}.gps-515877904396059876 .tablet\:gp-z-2{z-index:2}.gps-515877904396059876 .tablet\:gp-block{display:block}.gps-515877904396059876 .tablet\:\!gp-flex{display:flex!important}.gps-515877904396059876 .tablet\:\!gp-hidden{display:none!important}.gps-515877904396059876 .tablet\:gp-hidden{display:none}.gps-515877904396059876 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-515877904396059876 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-515877904396059876 .tablet\:gp-rotate-0,.gps-515877904396059876 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-515877904396059876 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-515877904396059876 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-515877904396059876 .tablet\:gp-flex-row{flex-direction:row}.gps-515877904396059876 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-515877904396059876 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-515877904396059876 .mobile\:gp-static{position:static}.gps-515877904396059876 .mobile\:\!gp-absolute{position:absolute!important}.gps-515877904396059876 .mobile\:gp-left-0{left:0}.gps-515877904396059876 .mobile\:gp-right-0{right:0}.gps-515877904396059876 .mobile\:gp-z-2{z-index:2}.gps-515877904396059876 .mobile\:gp-block{display:block}.gps-515877904396059876 .mobile\:\!gp-flex{display:flex!important}.gps-515877904396059876 .mobile\:\!gp-hidden{display:none!important}.gps-515877904396059876 .mobile\:gp-hidden{display:none}.gps-515877904396059876 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-515877904396059876 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-515877904396059876 .mobile\:gp-rotate-0,.gps-515877904396059876 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-515877904396059876 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-515877904396059876 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-515877904396059876 .mobile\:gp-flex-row{flex-direction:row}.gps-515877904396059876 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-515877904396059876 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-515877904396059876 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-515877904396059876 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-515877904396059876 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515877904396059876 .\[\&_p\]\:gp-inline p{display:inline}.gps-515877904396059876 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-515877904396059876 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515877904396059876 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g_uKgUCmkU"
        style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:80px;--pb:70px;--pt-mobile:50px;--pb-mobile:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_uKgUCmkU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g26Tgu2YC5 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel  id="gp-root-carousel-gKLUqZxmrk-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gKLUqZxmrk-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowCustomColor":"#ffffff","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":3,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"none","mobile":"none","tablet":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":3,"mobile":1,"tablet":2},"loop":{"desktop":false,"mobile":true},"navigationStyle":{"desktop":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward","mobile":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"80%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":"70"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gKLUqZxmrk"
        style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:auto;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gKLUqZxmrk-{{section.id}} gp-carousel-arrow-gKLUqZxmrk gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#ffffff;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gKLUqZxmrk {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gKLUqZxmrk::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gKLUqZxmrk {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gKLUqZxmrk::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gKLUqZxmrk {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gKLUqZxmrk::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gKLUqZxmrk-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:70px;--cg-tablet:70px;--cg:70px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 46.666666666666664px);--minw-tablet:calc(100% / 2 - 35px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 46.666666666666664px);--maxw-tablet:calc(100% / 2 - 35px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gzaHxsQY9r"
    >
      <div
    
    role="presentation"
    class="gp-group/image g8RS08SFqH"
    style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--rounded:[object Object];--mb:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-72656b28-a833-46c0-b87a-8fcd766d4819.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-72656b28-a833-46c0-b87a-8fcd766d4819.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="UQdqlTuJCGMh "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:27px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(4, 77, 84);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gUQdqlTuJCGMh_text }}</div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="sMNsLfiBhPYy "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:18px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(71, 100, 128);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gsMNsLfiBhPYy_text }}</div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 46.666666666666664px);--minw-tablet:calc(100% / 2 - 35px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 46.666666666666664px);--maxw-tablet:calc(100% / 2 - 35px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gnTIwJ3A29"
    >
      <div
    
    role="presentation"
    class="gp-group/image gID7d2wpzu"
    style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--rounded:[object Object];--mb:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-2f40c4b1-bfa6-4c37-9d5b-1c2e6a4a769d.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-2f40c4b1-bfa6-4c37-9d5b-1c2e6a4a769d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="JwqWmfrVhhkd "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:27px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(4, 77, 84);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJwqWmfrVhhkd_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="vlTjGrjqEmKz "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(71, 100, 128);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvlTjGrjqEmKz_text }}</div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 46.666666666666664px);--minw-tablet:calc(100% / 2 - 35px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 46.666666666666664px);--maxw-tablet:calc(100% / 2 - 35px);--maxw-mobile:calc(100% / 1 - 0px);--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gwUDbdrAwh"
    >
      <div
    
    role="presentation"
    class="gp-group/image gTFQPTs2ed"
    style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--rounded:[object Object];--mb:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "484137708004836523-6a99f3fe-1754-439c-94d5-832fe408520b.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2500/2500;--aspect-tablet:2500/2500;--aspect-mobile:2500/2500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "484137708004836523-6a99f3fe-1754-439c-94d5-832fe408520b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2500/2500;--aspect-tablet:2500/2500;--aspect-mobile:2500/2500;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="nmqmvFkohtpo "
        style="--ta:left;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--size:27px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:rgb(4, 77, 84);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gnmqmvFkohtpo_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="MVSbOCUWvfmo "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--weight:400;--size:22px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(71, 100, 128);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gMVSbOCUWvfmo_text }}</div>
      </div>
    </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gKLUqZxmrk-{{section.id}} gp-carousel-arrow-gKLUqZxmrk gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#ffffff;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gKLUqZxmrk {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gKLUqZxmrk::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gKLUqZxmrk {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gKLUqZxmrk::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gKLUqZxmrk {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gKLUqZxmrk::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gKLUqZxmrk-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:flex;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
  <gp-button >
  <div
    
    style="--animation:[object Object];--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:50px;--mb:0px;--pt:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:20px;--ta:center"
    
  >
    <style>
    .gFlyVnRl02.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FCB25A;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gFlyVnRl02:hover::before {
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FBB662;
  
      
    }

    .gFlyVnRl02:hover .gp-button-icon {
      color: #FBB662;
    }

     .gFlyVnRl02 .gp-button-icon {
      color: #FCB25A;
    }

    .gFlyVnRl02:hover .gp-button-price {
      color: #FBB662;
    }

    .gFlyVnRl02 .gp-button-price {
      color: #FCB25A;
    }

    .gFlyVnRl02 .gp-product-dot-price {
       color: #FCB25A;
    }

    .gFlyVnRl02:hover .gp-product-dot-price {
      color: #FBB662;
    }
  </style>
    <a
      href="#gWXxoV_Aya" target="_self" data-id="gFlyVnRl02" aria-label="Try It Free"
      
      data-state="idle"
      class="gFlyVnRl02 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFF6EB;--bg:#FFF6EC;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:1100px;--w-tablet:1100px;--w-mobile:95%;--h:65px;--h-tablet:65px;--h-mobile:55px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#FBB662;--c:#FCB25A;--size:25px;--size-tablet:16px;--size-mobile:20px;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:25px;--size-tablet:16px;--size-mobile:20px"
      >
        {{ section.settings.ggFlyVnRl02_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-515877904396059876 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=515877904161178852&sectionId=515877904396059876)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gUQdqlTuJCGMh_text","label":"gUQdqlTuJCGMh_text","default":"<p>Train Harder, With Ease</p>"},{"type":"html","id":"gsMNsLfiBhPYy_text","label":"gsMNsLfiBhPYy_text","default":"<p>Regular electrolyte supplements are abrasive on your stomach, preventing comfortable training. Our patent protected formula is pH basic, and. stomach friendly</p>"},{"type":"html","id":"gJwqWmfrVhhkd_text","label":"gJwqWmfrVhhkd_text","default":"FEEL LIGHT ON YOUR FEET"},{"type":"html","id":"gvlTjGrjqEmKz_text","label":"gvlTjGrjqEmKz_text","default":"<p>Our electrolyte &amp; caffeine formula allows for highly bioavailable hydration &amp; energy. This naturally leads to a faster runner’s high, and more enjoyable run.</p>"},{"type":"html","id":"gnmqmvFkohtpo_text","label":"gnmqmvFkohtpo_text","default":"ENJOY REDUCED FATIGUE"},{"type":"html","id":"gMVSbOCUWvfmo_text","label":"gMVSbOCUWvfmo_text","default":"<p>Long Run Coffee blocks adenosine uptake in the brain, preventing tiredness &amp; fatigue. Plus the added sodium bicarbonate slows lactic acid buildup in muscles.</p>"},{"type":"html","id":"ggFlyVnRl02_label","label":"ggFlyVnRl02_label","default":"Try It Free"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
