
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Inter:400,700|Open+Sans:400,700&display=swap');
      </style>
    
  <style>
    .gps-497641351387546760 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-497641351387546760 .g-s-small{padding:4px 16px}.gps-497641351387546760 .pointer-events-auto{pointer-events:auto}.gps-497641351387546760 .invisible{visibility:hidden}.gps-497641351387546760 .static{position:static}.gps-497641351387546760 .absolute{position:absolute}.gps-497641351387546760 .relative{position:relative}.gps-497641351387546760 .inset-0{inset:0}.gps-497641351387546760 .z-1{z-index:1}.gps-497641351387546760 .mx-auto{margin-left:auto;margin-right:auto}.gps-497641351387546760 .mb-0{margin-bottom:0}.gps-497641351387546760 .\!inline{display:inline!important}.gps-497641351387546760 .flex{display:flex}.gps-497641351387546760 .inline-flex{display:inline-flex}.gps-497641351387546760 .grid{display:grid}.gps-497641351387546760 .contents{display:contents}.gps-497641351387546760 .hidden{display:none}.gps-497641351387546760 .h-5{height:20px}.gps-497641351387546760 .h-full{height:100%}.gps-497641351387546760 .w-5{width:20px}.gps-497641351387546760 .w-full{width:100%}.gps-497641351387546760 .w-max{width:-moz-max-content;width:max-content}.gps-497641351387546760 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-497641351387546760 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-497641351387546760 .max-w-full{max-width:100%}.gps-497641351387546760 .flex-1{flex:1 1 0%}@keyframes spin{to{transform:rotate(1turn)}}.gps-497641351387546760 .animate-spin{animation:spin 1s linear infinite}.gps-497641351387546760 .flex-col{flex-direction:column}.gps-497641351387546760 .flex-wrap{flex-wrap:wrap}.gps-497641351387546760 .items-center{align-items:center}.gps-497641351387546760 .justify-center{justify-content:center}.gps-497641351387546760 .gap-y-0{row-gap:0}.gps-497641351387546760 .overflow-hidden{overflow:hidden}.gps-497641351387546760 .break-words{overflow-wrap:break-word}.gps-497641351387546760 .rounded{border-radius:4px}.gps-497641351387546760 .rounded-none{border-radius:0}.gps-497641351387546760 .border{border-width:1px}.gps-497641351387546760 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-497641351387546760 .text-center{text-align:center}.gps-497641351387546760 .text-g-text-3{color:var(--g-c-text-3)}.gps-497641351387546760 .no-underline{text-decoration-line:none}.gps-497641351387546760 .opacity-25{opacity:.25}.gps-497641351387546760 .opacity-75{opacity:.75}.gps-497641351387546760 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-497641351387546760 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497641351387546760 .duration-200{transition-duration:.2s}.gps-497641351387546760 .duration-300{transition-duration:.3s}.gps-497641351387546760 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497641351387546760 .disabled\:btn-disabled:disabled{cursor:default}.gps-497641351387546760 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-497641351387546760 .disabled\:opacity-30:disabled{opacity:.3}.gps-497641351387546760 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-497641351387546760 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-497641351387546760 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497641351387546760 .\[\&_p\]\:inline p{display:inline}.gps-497641351387546760 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-497641351387546760 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497641351387546760 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwLYbPKUEQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:70px;--pt:20px;--pb:20px;--mt-mobile:60px;--pt-mobile:0px;--pb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF6EC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwLYbPKUEQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmnfTWZsCe relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZSuNC-Cv9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZSuNC-Cv9 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5j6W6C8SA relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0YYgk6nBO "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-small);--mb:20px;--mt-mobile:20px;--mb-mobile:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Inter, Inter);--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:22px;--weight:bold;word-break:break-word"
        >
        <p><u>Complimentary Bonus</u></p><p>The Pre Run PB&amp;J</p>
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image g-SX6XW3kC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt-mobile:10px;--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:right;--ta-mobile:center"
      >
        <picture style="border-radius: inherit" class="">
    <link rel="preload" href="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}" as="image" />
    
    
    
    
    <img
      
      class="!inline h-full max-w-full flex gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}"
      alt="Alt Image"
      style="--aspect:4000/4000;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w-tablet:100%;--w-mobile:300px;--h:450px;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  </picture>
      </div>
  </div><div
    
    role="presentation"
    class="group/image gLLGH881Tw"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:right"
      >
        <picture style="border-radius: inherit" class="">
    <link rel="preload" href="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}" as="image" />
    
    
    
    
    <img
      
      class="!inline h-full max-w-full flex gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}"
      alt="Alt Image"
      style="--aspect:4000/4000;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--objf:cover;--w-tablet:100%;--h:450px;--h-tablet:auto;--h-mobile:450px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWb3meK4Lo relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEwwhth5Mh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:15px;--pb-mobile:28px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEwwhth5Mh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ574UHc81 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '9038832632121' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['subscribe-save-base']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '9038832632121'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '9038832632121' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['subscribe-save-base']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '9038832632121'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gxWpRuIr3T" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pr:50px;--pr-mobile:0px;--pr-tablet:0px;--cg:40px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gW6QFtx69- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2ouY28Xil "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:20px;--mt-mobile:20px;--mb-mobile:0px;--mb-tablet:11px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Inter, Inter);--lh:180%;--size:21px;--size-tablet:19px;--size-mobile:19px;--weight:bold;word-break:break-word"
        >
        <p><u>Complimentary Bonus</u></p><p>The Pre Run PB&amp;J</p>
        </div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-2xl);--mb-tablet:23px" class="gXWBfQiwbM ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"evergreen","dateStandard":1681351389736,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":12,"mins":0},"timerEverygreen":{"days":0,"endTime":1706193557591,"hours":12,"mins":0,"startTime":1680746589736},"weekLabel":"Weeks","uid":"gXWBfQiwbM","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","color":"#121212","isCustom":true,"width":"0px","position":"all"},"boxShadow":{"angle":90,"blur":"8px","color":"hsl(0deg 0% 0% / 12%)","distance":"10px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"radiusType":"small"},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":{"bottom":"23px"},"padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"evergreen","dateStandard":1681351389736,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","loopAfterFinish":true,"minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"am","hours":12,"mins":0},"timerEverygreen":{"days":0,"endTime":1706193557591,"hours":12,"mins":0,"startTime":1680746589736},"weekLabel":"Weeks"},"styles":{"backgroundItemColor":"bg-3","borderState":{"hover":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"},"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"colorLabel":"#575757","colorNumber":"#242424","horizontalGap":"auto","itemPadding":{"type":"small"},"labelTypo":{"attrs":{"color":"#575757"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"400","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"labelTypography":{"type":"paragraph-2"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontFamily":"Open Sans","fontSize":{"desktop":"40px","mobile":"35px","tablet":"27px"},"fontStyle":"normal","fontWeight":"700","letterSpacing":"normal","lineHeight":"130%"},"type":"heading-2"},"numTypography":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"40px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"35px"},"tablet":{"fontSize":"40px"}}},"roundedState":{"hover":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"auto"},"tag":"Countdown","uid":"gXWBfQiwbM","childrens":[],"type":"component"}}'
     style="--jc:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max relative" style="gap:auto;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="absolute inset-0 z-1"
          > </a>
          
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bg:var(--g-c-bg-3, bg-3)"
    class="bg-g-bg-3 flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="day"
        class=" "
        style="--mb:auto;--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:27px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#575757"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        Days
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bg:var(--g-c-bg-3, bg-3)"
    class="bg-g-bg-3 flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="hour"
        class=" "
        style="--mb:auto;--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:27px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#575757"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        Hrs
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bg:var(--g-c-bg-3, bg-3)"
    class="bg-g-bg-3 flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="minute"
        class=" "
        style="--mb:auto;--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:27px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#575757"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        Mins
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--hvr-bs:none;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:transparent;--bg:var(--g-c-bg-3, bg-3)"
    class="bg-g-bg-3 flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="second"
        class=" "
        style="--mb:auto;--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:27px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#575757"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#575757;word-break:break-word"
        >
        Secs
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"#gF9JKQBEYW","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"sign me up"}}'>
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:20px;--pt:0px;--mt-mobile:5px;--mb-mobile:30px;--ta:center"
    class=""
  >
    <style>
    .gyMAIAj8G3.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
    }

    .gyMAIAj8G3:hover::before {
      
      
    }
  </style>
    <a
      href="#gF9JKQBEYW" target="_self" data-id="gyMAIAj8G3" aria-label="sign me up"
      data-state="idle"
      class="gyMAIAj8G3 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#CB7A22;--bg:#E79841;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:50%;--w-tablet:50%;--w-mobile:100%;--h:40px;--h-tablet:40px;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:uppercase;--ff:var(--g-font-Inter, Inter);--ls:1px;--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:15px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        sign me up
      </span>
    </a>
  </div>
  </gp-button>
  
    <div
      parentTag="Col"
        class="giCKALb2vg "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Inter, Inter);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:15px;word-break:break-word"
        >
        <p><u>Order today, and get this one pot flavor pack.</u></p><p>As a thank you for joining the LRC community.</p><p>&nbsp;</p><p>The Pre Run PB&amp;J is a flavored coffee,&nbsp;</p><p>infused with electrolytes, and nostalgia.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-497641351387546760 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=495154037277066357&sectionId=497641351387546760)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
