
  
  <style> .gps-515877904513565924 .gp-relative{position:relative}.gps-515877904513565924 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515877904513565924 .gp-mb-0{margin-bottom:0}.gps-515877904513565924 .\!gp-inline{display:inline!important}.gps-515877904513565924 .gp-flex{display:flex}.gps-515877904513565924 .gp-grid{display:grid}.gps-515877904513565924 .\!gp-hidden{display:none!important}.gps-515877904513565924 .gp-hidden{display:none}.gps-515877904513565924 .gp-h-full{height:100%}.gps-515877904513565924 .gp-w-full{width:100%}.gps-515877904513565924 .gp-max-w-full{max-width:100%}.gps-515877904513565924 .gp-flex-col{flex-direction:column}.gps-515877904513565924 .gp-gap-y-0{row-gap:0}.gps-515877904513565924 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515877904513565924 .gp-duration-200{transition-duration:.2s}.gps-515877904513565924 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-515877904513565924 .tablet\:\!gp-hidden{display:none!important}.gps-515877904513565924 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515877904513565924 .mobile\:\!gp-hidden{display:none!important}.gps-515877904513565924 .mobile\:gp-hidden{display:none}}.gps-515877904513565924 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gD41IxN0eC"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#D3DBE2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD41IxN0eC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRk_oOQNIG gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gG9-JyN9Xt"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png" | file_url }}" srcset="{{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: 'master' }} 1440w" width="3000" height="2400" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/2400;--aspect-tablet:3000/2400;--aspect-mobile:3000/2400;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-b5fabf58-3277-4317-9c11-417a87a23094.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="2400" alt="Alt image"
      sizes="100vw"
      style="--aspect:3000/2400;--aspect-tablet:3000/2400;--aspect-mobile:3000/2400;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gG9-JyN9Xt"
      >.gG9-JyN9Xt {

}
.gG9-JyN9Xt > figure > img {

}</style>
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-515877904513565924 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=515877904161178852&sectionId=515877904513565924)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
