
  
  <style> .gps-488223199679480701 .gp-relative{position:relative}.gps-488223199679480701 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488223199679480701 .gp-mb-0{margin-bottom:0}.gps-488223199679480701 .\!gp-inline{display:inline!important}.gps-488223199679480701 .gp-flex{display:flex}.gps-488223199679480701 .gp-grid{display:grid}.gps-488223199679480701 .\!gp-hidden{display:none!important}.gps-488223199679480701 .gp-hidden{display:none}.gps-488223199679480701 .gp-h-full{height:100%}.gps-488223199679480701 .gp-w-full{width:100%}.gps-488223199679480701 .gp-max-w-full{max-width:100%}.gps-488223199679480701 .gp-flex-col{flex-direction:column}.gps-488223199679480701 .gp-gap-y-0{row-gap:0}.gps-488223199679480701 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488223199679480701 .gp-duration-200{transition-duration:.2s}.gps-488223199679480701 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-488223199679480701 .tablet\:\!gp-hidden{display:none!important}.gps-488223199679480701 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-488223199679480701 .mobile\:\!gp-hidden{display:none!important}.gps-488223199679480701 .mobile\:gp-hidden{display:none}}.gps-488223199679480701 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gCeMZfjaoP"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:0px;--pt-mobile:0px;--pb-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCeMZfjaoP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goZ9rwtKkH gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gVJyvJo6Tl"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png" | asset_url }}" srcset="{{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: 'master' }} 1440w" width="3500" height="117" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3500/117;--aspect-tablet:3500/117;--aspect-mobile:3500/117;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png" | asset_url }}" data-srcset="{{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-2327ac55-4bb4-421c-ac6f-c8320858ccc3.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3500" height="117" alt="Alt image"
      sizes="100vw"
      style="--aspect:3500/117;--aspect-tablet:3500/117;--aspect-mobile:3500/117;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 5",
      "tag": "section",
      "class": "gps-488223199679480701 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=487646738010604413&sectionId=488223199679480701)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
