
  <style> @import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap'); </style>
  <style> .gps-488486792677294973 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-488486792677294973 .gp-invisible{visibility:hidden}.gps-488486792677294973 .gp-absolute{position:absolute}.gps-488486792677294973 .gp-relative{position:relative}.gps-488486792677294973 .gp-z-1{z-index:1}.gps-488486792677294973 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488486792677294973 .gp-mb-0{margin-bottom:0}.gps-488486792677294973 .\!gp-inline{display:inline!important}.gps-488486792677294973 .gp-flex{display:flex}.gps-488486792677294973 .gp-inline-flex{display:inline-flex}.gps-488486792677294973 .gp-grid{display:grid}.gps-488486792677294973 .\!gp-hidden{display:none!important}.gps-488486792677294973 .gp-hidden{display:none}.gps-488486792677294973 .gp-h-5{height:20px}.gps-488486792677294973 .gp-h-full{height:100%}.gps-488486792677294973 .gp-w-5{width:20px}.gps-488486792677294973 .gp-w-full{width:100%}.gps-488486792677294973 .gp-max-w-full{max-width:100%}.gps-488486792677294973 .gp-flex-col{flex-direction:column}.gps-488486792677294973 .gp-items-center{align-items:center}.gps-488486792677294973 .gp-justify-center{justify-content:center}.gps-488486792677294973 .gp-gap-y-0{row-gap:0}.gps-488486792677294973 .gp-overflow-hidden{overflow:hidden}.gps-488486792677294973 .gp-break-words{overflow-wrap:break-word}.gps-488486792677294973 .gp-rounded-none{border-radius:0}.gps-488486792677294973 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-488486792677294973 .gp-no-underline{text-decoration-line:none}.gps-488486792677294973 .gp-opacity-25{opacity:.25}.gps-488486792677294973 .gp-opacity-75{opacity:.75}.gps-488486792677294973 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792677294973 .gp-duration-200{transition-duration:.2s}.gps-488486792677294973 .gp-duration-300{transition-duration:.3s}.gps-488486792677294973 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792677294973 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-488486792677294973 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-488486792677294973 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-488486792677294973 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-488486792677294973 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-488486792677294973 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-488486792677294973 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-488486792677294973 .tablet\:\!gp-hidden{display:none!important}.gps-488486792677294973 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-488486792677294973 .mobile\:\!gp-hidden{display:none!important}.gps-488486792677294973 .mobile\:gp-hidden{display:none}}.gps-488486792677294973 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-488486792677294973 .\[\&_p\]\:gp-inline p{display:inline}.gps-488486792677294973 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-488486792677294973 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-488486792677294973 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l265d1bf57e"
        style="--b:solid;--bc:#C4C4C4;--bw:1px 1px 1px 1px;--d:grid;--d-mobile:grid;--d-tablet:grid;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F9F9FB;--bgc-tablet:#F8FAFB;--bgc-mobile:#FEFDFF"
        class="i2l265d1bf57e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l4293e7cd2f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4s2cfnlHe"
        style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--cg:32px;--cg-tablet:10px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4s2cfnlHe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geiHPyiZwz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lfbde94a88f "
        style="--ta:left;--mt:15px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:15px;--mr-tablet:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--lh:130%;--size:36px;--size-tablet:24px;--size-mobile:23px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2lfbde94a88f_text }}</div>
      </div>
    </div><div style="" class="i2la8f3dc3113 ">
      
    
      
      
    <div
      uid="i2la8f3dc3113"
       style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--ta:center;--bgc:transparent;--bgc-mobile:#FEFDFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:40px;--rg-tablet:20px;--rg-mobile:35px"
        >
        
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gNaDFOZVL_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image glMTnGan4Q"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png" | asset_url }}" srcset="{{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: 'master' }} 1440w" width="6250" height="6250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png" | asset_url }}" data-srcset="{{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gErYBsayTy gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    <div
      parentTag="Col"
        class="i2le43d428ae8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2le43d428ae8_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9c0f073ac2 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2l9c0f073ac2_text }}</div>
      </div>
    </div>
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l4588c64034 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gPfokZgMc7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png" | asset_url }}" srcset="{{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: 'master' }} 1440w" width="6250" height="6250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png" | asset_url }}" data-srcset="{{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l62a964a7e3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l62a964a7e3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l62a964a7e3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l62a964a7e3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2leaf9c20d40 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2leaf9c20d40_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2lcaf04636d8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2lcaf04636d8_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l463858d762 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gXunSZeHEM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png" | asset_url }}" srcset="{{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: 'master' }} 1440w" width="6250" height="6250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png" | asset_url }}" data-srcset="{{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2lf9bda0d6bb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lf9bda0d6bb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lf9bda0d6bb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lf9bda0d6bb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lee401ee7f4 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.i2lee401ee7f4_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvyyWXcO_h "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gvyyWXcO_h_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l1b2b08d844 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g37QzbXtgH"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png" | asset_url }}" srcset="{{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: 'master' }} 1440w" width="6250" height="6250" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png" | asset_url }}" data-srcset="{{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image"
      sizes="100vw"
      style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l218c4d7cc3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l218c4d7cc3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l218c4d7cc3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l218c4d7cc3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRjMgeZ9qR "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gRjMgeZ9qR_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gX8C2a74Gz "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gX8C2a74Gz_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gzAj6FmllN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g0KjOx4tuS"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png" | asset_url }}" srcset="{{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: 'master' }} 1440w" width="1000" height="1000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png" | asset_url }}" data-srcset="{{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ef073e73-a19c-4a70-9d8a-42ef74a0a283.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1000" height="1000" alt="Alt image"
      sizes="100vw"
      style="--aspect:1000/1000;--aspect-tablet:1000/1000;--aspect-mobile:1000/1000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style="--ai:normal;--jc:normal;--o:0"
      class="gEypUQ0kfd gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
      
      
    <div
      parentTag="Col" id="gYcPoRFhNn"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYcPoRFhNn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc4L-NOwF- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtnwd-2JZI "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gtnwd-2JZI_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHxo6VVatD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gHxo6VVatD_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:16px;--mb:16px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--ta:center"
    class=""
  >
    <style>
    .gYQ5Rp4w7X.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
    }

    .gYQ5Rp4w7X:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/community/ambassador/signup" target="_self" data-id="gYQ5Rp4w7X" aria-label="SIGN UP"
      
      data-state="idle"
      class="gYQ5Rp4w7X gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-subheading-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:#DD8525;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:50%;--w-tablet:50%;--w-mobile:50%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gYQ5Rp4w7X_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gETeT-jIez gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image i2l352136fb98"
    style="--b:solid;--bc:#C4C4C4;--bw:0px 0px 0px 0px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-tablet:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left;--ta-tablet:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Long Run Coffee Ambassador Program"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png" | asset_url }}" srcset="{{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: 'master' }} 1440w" width="2750" height="2750" alt="Long Run Coffee Ambassador Program"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2750/2750;--aspect-tablet:2750/2750;--aspect-mobile:2750/2750;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--h:650px;--h-tablet:550px;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Long Run Coffee Ambassador Program"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png" | asset_url }}" data-srcset="{{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ab153e15-76c6-4c76-99ee-f43eba75711e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2750" height="2750" alt="Long Run Coffee Ambassador Program"
      sizes="100vw"
      style="--aspect:2750/2750;--aspect-tablet:2750/2750;--aspect-mobile:2750/2750;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--h:650px;--h-tablet:550px;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-488486792677294973 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=488486792308196221&sectionId=488486792677294973)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"i2lfbde94a88f_text","label":"i2lfbde94a88f_text","default":"<p>AMBASSADOR BENEFITS</p>"},{"type":"text","id":"i2le43d428ae8_text","label":"i2le43d428ae8_text","default":"<p>GIVE 10% — GET 20%</p>"},{"type":"text","id":"i2l9c0f073ac2_text","label":"i2l9c0f073ac2_text","default":"<p>Your personal affiliate link and code gives others 10% off their orders and you get 20% commission in store credit every time your link/code is used.</p>"},{"type":"text","id":"i2leaf9c20d40_text","label":"i2leaf9c20d40_text","default":"<p>GET A PERSONAL 30% OFF CODE</p>"},{"type":"text","id":"i2lcaf04636d8_text","label":"i2lcaf04636d8_text","default":"<p>Stock up on LRC gear and coffee out of the gate with 30% off everything you order.&nbsp;</p>"},{"type":"text","id":"i2lee401ee7f4_text","label":"i2lee401ee7f4_text","default":"<p>First dibs on new products and limited releases</p>"},{"type":"text","id":"gvyyWXcO_h_text","label":"gvyyWXcO_h_text","default":"<p>Early access to new products, including limited release coffees and gear.</p>"},{"type":"text","id":"gRjMgeZ9qR_text","label":"gRjMgeZ9qR_text","default":"<p>SPecial gifts and bonus product</p>"},{"type":"text","id":"gX8C2a74Gz_text","label":"gX8C2a74Gz_text","default":"<p>Top performing ambassadors are sent special gifts and bonus product.</p>"},{"type":"text","id":"gtnwd-2JZI_text","label":"gtnwd-2JZI_text","default":"<p>get your story featured</p>"},{"type":"text","id":"gHxo6VVatD_text","label":"gHxo6VVatD_text","default":"<p>You have a unique story and we would like to share it! We regularly feature ambassadors on our website, social media, and in newsletters.</p>"},{"type":"text","id":"gYQ5Rp4w7X_label","label":"gYQ5Rp4w7X_label","default":"SIGN UP"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
