
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,400,600|Inter:600,700&display=swap'); </style>
  <style> .gps-514135252050904219 .gp-g-s-large{padding:12px 32px}.gps-514135252050904219 .gp-invisible{visibility:hidden}.gps-514135252050904219 .gp-absolute{position:absolute}.gps-514135252050904219 .gp-relative{position:relative}.gps-514135252050904219 .gp-inset-0{inset:0}.gps-514135252050904219 .gp-z-1{z-index:1}.gps-514135252050904219 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-514135252050904219 .gp-mb-0{margin-bottom:0}.gps-514135252050904219 .\!gp-inline{display:inline!important}.gps-514135252050904219 .gp-flex{display:flex}.gps-514135252050904219 .gp-inline-flex{display:inline-flex}.gps-514135252050904219 .gp-grid{display:grid}.gps-514135252050904219 .\!gp-hidden{display:none!important}.gps-514135252050904219 .gp-hidden{display:none}.gps-514135252050904219 .gp-h-5{height:20px}.gps-514135252050904219 .gp-h-full{height:100%}.gps-514135252050904219 .gp-w-5{width:20px}.gps-514135252050904219 .gp-w-full{width:100%}.gps-514135252050904219 .gp-w-max{width:-moz-max-content;width:max-content}.gps-514135252050904219 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-514135252050904219 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-514135252050904219 .gp-max-w-full{max-width:100%}.gps-514135252050904219 .gp-flex-1{flex:1 1 0%}.gps-514135252050904219 .gp-flex-col{flex-direction:column}.gps-514135252050904219 .gp-flex-wrap{flex-wrap:wrap}.gps-514135252050904219 .gp-items-center{align-items:center}.gps-514135252050904219 .gp-justify-center{justify-content:center}.gps-514135252050904219 .gp-gap-y-0{row-gap:0}.gps-514135252050904219 .gp-overflow-hidden{overflow:hidden}.gps-514135252050904219 .gp-break-words{overflow-wrap:break-word}.gps-514135252050904219 .gp-rounded-none{border-radius:0}.gps-514135252050904219 .gp-text-center{text-align:center}.gps-514135252050904219 .gp-no-underline{text-decoration-line:none}.gps-514135252050904219 .gp-opacity-25{opacity:.25}.gps-514135252050904219 .gp-opacity-75{opacity:.75}.gps-514135252050904219 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514135252050904219 .gp-duration-200{transition-duration:.2s}.gps-514135252050904219 .gp-duration-300{transition-duration:.3s}.gps-514135252050904219 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514135252050904219 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-514135252050904219 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-514135252050904219 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-514135252050904219 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-514135252050904219 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-514135252050904219 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-514135252050904219 .tablet\:\!gp-hidden{display:none!important}.gps-514135252050904219 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-514135252050904219 .mobile\:\!gp-hidden{display:none!important}.gps-514135252050904219 .mobile\:gp-hidden{display:none}}.gps-514135252050904219 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-514135252050904219 .\[\&_p\]\:gp-inline p{display:inline}.gps-514135252050904219 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-514135252050904219 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-514135252050904219 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYT_ip9B67"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:20px;--pl:15px;--pb:50px;--pr:15px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:28px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYT_ip9B67 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK5LrmBSiP gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gkdi9WWcRH"
        style="--animation:[object Object];--b:solid;--bc:#DAF2F5;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:16px;--pt:48px;--pl:48px;--pb:32px;--pr:48px;--mb-mobile:15px;--pt-mobile:20px;--pl-mobile:5px;--pb-mobile:10px;--pr-mobile:5px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4FCFC;--bgc-mobile:#F4FCFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkdi9WWcRH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQYe0Zy5kE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="golMSVXiKs "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:23px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:30px;--weight:bold;--c:#4270A5;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggolMSVXiKs_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXcj0CbvFg "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:29px;--mb-mobile:28px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--ls:normal;--lh:130%;--size:20px;--size-tablet:19px;--size-mobile:16px;--weight:bold;--c:#344F7D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXcj0CbvFg_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gXcj0CbvFg"
      >.gXcj0CbvFg {

}
.gXcj0CbvFg p {

}</style>
    <div style="--mb:36px;--mb-mobile:30px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gQ2GGXxN_C ">
      
    <gp-countdown-timer
     class="gp-flex "
     gp-data='{"behaviour":"standard","dateStandard":"2024-05-24T04:59:00.307Z","timeZone":"UTC-5","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1715983500307,"startTime":1715972700307},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"link":"#","target":"_self"},"uid":"gQ2GGXxN_C","builderData":{"uid":"gQ2GGXxN_C","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":"2024-05-24T04:59:00.307Z","timeZone":"UTC-5","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":3,"mins":0,"endTime":1715983500307,"startTime":1715972700307},"loopAfterFinish":true,"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"link":"#","target":"_self"}},"styles":{"numTypo":{"type":"subheading-2","attrs":{"color":"#297A83","bold":true},"custom":{"fontSize":{"desktop":"20px","tablet":"18px","mobile":"17px"},"fontWeight":"400","lineHeight":"130%","fontFamily":"Montserrat","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"]}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"#46ABB6","bold":true},"custom":{"fontSize":{"desktop":"16px","tablet":"14px","mobile":"13px"},"fontWeight":"400","lineHeight":"180%","fontFamily":"Montserrat","fontVariants":["100","200","300","regular","500","600","700","800","900","100italic","200italic","300italic","italic","500italic","600italic","700italic","800italic","900italic"]}},"colorLabel":"text-1","textAlign":{"desktop":"center"},"backgroundItemColor":"#DAF2F5","verticalGap":"0px","horizontalGap":"8px","itemPadding":{"type":"large"},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"radiusType":"none"}}},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":"36px"}},"mobile":{"margin":{"bottom":"30px"},"link":false}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"borderType":"none","border":"solid","borderWidth":"1px","width":"0px","color":"#121212","isCustom":true,"position":"all"},"rounded":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hasBoxShadow":false,"boxShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":[],"type":"component"}}'
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#DAF2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-large">
    
    <div
      id="day"
        class="gQ2GGXxN_C "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:17px;--weight:bold;--c:#297A83;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gQ2GGXxN_C "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:13px;--weight:bold;--c:#46ABB6;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ2GGXxN_C_dayLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#DAF2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-large">
    
    <div
      id="hour"
        class="gQ2GGXxN_C "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:17px;--weight:bold;--c:#297A83;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gQ2GGXxN_C "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:13px;--weight:bold;--c:#46ABB6;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ2GGXxN_C_hourLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#DAF2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-large">
    
    <div
      id="minute"
        class="gQ2GGXxN_C "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:17px;--weight:bold;--c:#297A83;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gQ2GGXxN_C "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:13px;--weight:bold;--c:#46ABB6;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ2GGXxN_C_minuteLabel }}</div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#DAF2F5"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max gp-g-s-large">
    
    <div
      id="second"
        class="gQ2GGXxN_C "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:17px;--weight:bold;--c:#297A83;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    
    <div
      
        class="gQ2GGXxN_C "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:14px;--size-mobile:13px;--weight:bold;--c:#46ABB6;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQ2GGXxN_C_secondLabel }}</div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:30px;--pt-mobile:0px;--mb:35px;--ta:center"
    class=""
  >
    <style>
    .gvTeXPb5So.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gvTeXPb5So:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gvTeXPb5So" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gvTeXPb5So gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:85%;--w-tablet:85%;--w-mobile:85%;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggvTeXPb5So_label }}
      </span>
    </a>
  </div>
  </gp-button>

    <div
      parentTag="Col"
        class="gv9ARR4nfL "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:28px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:15px;--c:#344F7D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggv9ARR4nfL_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gv9ARR4nfL"
      >.gv9ARR4nfL {

}
.gv9ARR4nfL p {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv538MSjU6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g3QGQuj2b0"
    style="--mb-mobile:30px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: 'master' }} 1440w" width="3456" height="2592" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3456/2592;--aspect-tablet:3456/2592;--aspect-mobile:3456/2592;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-1036dd23-997d-40fc-b827-4f3a3a0662ce.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3456" height="2592" alt="Alt image"
      sizes="100vw"
      style="--aspect:3456/2592;--aspect-tablet:3456/2592;--aspect-mobile:3456/2592;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g3QGQuj2b0"
      >.g3QGQuj2b0 {

}
.g3QGQuj2b0 > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-514135252050904219 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=514135252050904219)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggolMSVXiKs_text","label":"ggolMSVXiKs_text","default":"Free Run Brunch Flavor"},{"type":"text","id":"ggXcj0CbvFg_text","label":"ggXcj0CbvFg_text","default":"<p>Through <u>Thursday, May 23,</u> all new Long Run Club members will get their choice of Run Brunch Flavor, free with their first shipment.</p>"},{"type":"text","id":"ggQ2GGXxN_C_dayLabel","label":"ggQ2GGXxN_C_dayLabel","default":"Days"},{"type":"text","id":"ggQ2GGXxN_C_hourLabel","label":"ggQ2GGXxN_C_hourLabel","default":"Hours"},{"type":"text","id":"ggQ2GGXxN_C_minuteLabel","label":"ggQ2GGXxN_C_minuteLabel","default":"Minutes"},{"type":"text","id":"ggQ2GGXxN_C_secondLabel","label":"ggQ2GGXxN_C_secondLabel","default":"Seconds"},{"type":"text","id":"ggQ2GGXxN_C_weekLabel","label":"ggQ2GGXxN_C_weekLabel","default":"Weeks"},{"type":"text","id":"ggvTeXPb5So_label","label":"ggvTeXPb5So_label","default":"Build My Subscription"},{"type":"text","id":"ggv9ARR4nfL_text","label":"ggv9ARR4nfL_text","default":"<p>After you complete your sign up, you'll submit your Run Brunch Flavor preference via sms/email.</p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
