
  
  
  <style>
    .gps-488486792811512701 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-488486792811512701 .pointer-events-auto{pointer-events:auto}.gps-488486792811512701 .invisible{visibility:hidden}.gps-488486792811512701 .absolute{position:absolute}.gps-488486792811512701 .relative{position:relative}.gps-488486792811512701 .inset-0{inset:0}.gps-488486792811512701 .left-\[var\(--left\)\]{left:var(--left)}.gps-488486792811512701 .top-\[var\(--top\)\]{top:var(--top)}.gps-488486792811512701 .z-1{z-index:1}.gps-488486792811512701 .mx-auto{margin-left:auto;margin-right:auto}.gps-488486792811512701 .mb-0{margin-bottom:0}.gps-488486792811512701 .\!inline{display:inline!important}.gps-488486792811512701 .flex{display:flex}.gps-488486792811512701 .inline-flex{display:inline-flex}.gps-488486792811512701 .grid{display:grid}.gps-488486792811512701 .h-5{height:20px}.gps-488486792811512701 .h-full{height:100%}.gps-488486792811512701 .w-5{width:20px}.gps-488486792811512701 .w-full{width:100%}.gps-488486792811512701 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-488486792811512701 .animate-spin{animation:spin 1s linear infinite}.gps-488486792811512701 .flex-col{flex-direction:column}.gps-488486792811512701 .items-center{align-items:center}.gps-488486792811512701 .\!justify-center{justify-content:center!important}.gps-488486792811512701 .justify-center{justify-content:center}.gps-488486792811512701 .gap-y-0{row-gap:0}.gps-488486792811512701 .self-center{align-self:center}.gps-488486792811512701 .overflow-hidden{overflow:hidden}.gps-488486792811512701 .break-words{overflow-wrap:break-word}.gps-488486792811512701 .rounded-none{border-radius:0}.gps-488486792811512701 .bg-clip-content{background-clip:content-box}.gps-488486792811512701 .text-g-text-3{color:var(--g-c-text-3)}.gps-488486792811512701 .no-underline{text-decoration-line:none}.gps-488486792811512701 .opacity-25{opacity:.25}.gps-488486792811512701 .opacity-75{opacity:.75}.gps-488486792811512701 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .duration-200{transition-duration:.2s}.gps-488486792811512701 .duration-300{transition-duration:.3s}.gps-488486792811512701 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-488486792811512701 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-488486792811512701 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-488486792811512701 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-488486792811512701 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-488486792811512701 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-488486792811512701 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-488486792811512701 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-488486792811512701 .tablet\:relative{position:relative}.gps-488486792811512701 .tablet\:h-full{height:100%}.gps-488486792811512701 .tablet\:\!content-stretch{align-content:stretch!important}.gps-488486792811512701 .tablet\:\!justify-center{justify-content:center!important}}@media (max-width:767px){.gps-488486792811512701 .mobile\:relative{position:relative}.gps-488486792811512701 .mobile\:h-full{height:100%}.gps-488486792811512701 .mobile\:\!content-stretch{align-content:stretch!important}.gps-488486792811512701 .mobile\:\!justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-488486792811512701 .tablet\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-488486792811512701 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-488486792811512701 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-488486792811512701 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gAulGu3QRQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:20px;--pt-mobile:20px;--pb-mobile:20px;--pt-tablet:0px;--pb-tablet:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAulGu3QRQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGmNQ9deRR relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/70978fd4-a34e-4430-9955-1340b8cc73cb/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/70978fd4-a34e-4430-9955-1340b8cc73cb/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/3d3ac03b-c308-49da-b705-8b613a62eb47/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg","height":471,"src":"https://ucarecdn.com/70978fd4-a34e-4430-9955-1340b8cc73cb/-/format/auto/","width":2000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg","height":471,"src":"https://ucarecdn.com/70978fd4-a34e-4430-9955-1340b8cc73cb/-/format/auto/","width":2000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg","height":1080,"src":"https://ucarecdn.com/3d3ac03b-c308-49da-b705-8b613a62eb47/-/format/auto/","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M"}},"uid":"gZT8-9djuu","enableParallax":false,"speedParallax":0.6}'
      
      class="gZT8-9djuu group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:500px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:500px;--h-tablet:500px;--h-mobile:500px"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_url }});--bgi-tablet:url({{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_url }});--bgi-mobile:url({{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
              style="--bgc:#121212;--top:0;--left:0;--op:0%"
            > </div>
        </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:h-full tablet:!content-stretch tablet:[&>*]:!justify-center mobile:h-full mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gC1zLXLedS relative flex flex-col"
    >
      
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_img_url: '1024x1024' }}" as="image" />
    <link rel="preload" href="{{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_img_url: '768x768' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_img_url: '768x768' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_img_url: '1024x1024' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "484137708004836523-ca99346b-de8e-47f0-9463-a46213806d84.jpg" | asset_img_url: 'master' }}"
      alt=""
      style="--aspect:2000/471;--aspect-tablet:2000/471;--aspect-mobile:1920/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  <div
    
    role="presentation"
    class="group/image gKQeVdJJX4"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="{{ "484137708004836523-70e8492f-982d-43a6-bc91-2bfe4487d3ed.jpg" | asset_url }}" data-srcset="{{ '484137708004836523-70e8492f-982d-43a6-bc91-2bfe4487d3ed.jpg' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-70e8492f-982d-43a6-bc91-2bfe4487d3ed.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-70e8492f-982d-43a6-bc91-2bfe4487d3ed.jpg' | asset_img_url: 'master' }} 1440w" src="{{ "484137708004836523-70e8492f-982d-43a6-bc91-2bfe4487d3ed.jpg" | asset_url }}" width="1920" height="1080" alt="Alt image" priority="true"
    sizes="100vw"
    style="--aspect:1920/1080;--aspect-tablet:1920/1080;--aspect-mobile:1920/1080;--objf:cover;--objf-mobile:cover;--h:auto;--h-tablet:auto;--h-mobile:280px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
      
      
    <div
      parentTag="Col" id="gOjV2bZrEV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOjV2bZrEV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:start"
      class="gfrGvSRJrc relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--ml-tablet:16px;--mb-tablet:0px;--ta:left"
    class=""
  >
    <style>
    .gWbqVzsjUD.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
    }

    .gWbqVzsjUD:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/community/ambassador/signup" target="_self" data-id="gWbqVzsjUD" aria-label="SIGN UP"
      data-state="idle"
      class="gWbqVzsjUD gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight text-g-text-3 g-subheading-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:#DD8525;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        SIGN UP
      </span>
    </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:start"
      class="gnJnOWEuzh relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:16px;--pr-mobile:8px;--mb-tablet:0px;--mr-tablet:16px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g3OLcox1kB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
    }

    .g3OLcox1kB:hover::before {
      
      
    }
  </style>
    <a
      href="https://ambassador.longruncoffee.com" target="_self" data-id="g3OLcox1kB" aria-label="SIGN IN"
      data-state="idle"
      class="g3OLcox1kB gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight text-g-text-3 g-subheading-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:#32A4B1;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        SIGN IN
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-488486792811512701 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=488486792308196221&sectionId=488486792811512701)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
