

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573945868093555760.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573945868093555760.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573945868093555760.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573945868093555760.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573945868093555760.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573945868093555760.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573945868093555760.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573945868093555760.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573945868093555760.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573945868093555760.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573945868093555760.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573945868093555760.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573945868093555760.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573945868093555760.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573945868093555760.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573945868093555760.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573945868093555760.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573945868093555760.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573945868093555760.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573945868093555760.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573945868093555760.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573945868093555760.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-573945868093555760.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-573945868093555760.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-573945868093555760.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-573945868093555760.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573945868093555760.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573945868093555760.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-573945868093555760.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-573945868093555760.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573945868093555760.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-573945868093555760.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573945868093555760.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573945868093555760.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573945868093555760.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573945868093555760.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573945868093555760.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573945868093555760.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573945868093555760.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573945868093555760.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-573945868093555760.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-573945868093555760.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573945868093555760.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-573945868093555760.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-573945868093555760.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-573945868093555760.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573945868093555760.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573945868093555760.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-573945868093555760.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-573945868093555760.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-573945868093555760.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-573945868093555760.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-573945868093555760.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-573945868093555760.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-573945868093555760.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-573945868093555760.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-573945868093555760.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-573945868093555760.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-573945868093555760.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573945868093555760.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573945868093555760.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-573945868093555760.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-573945868093555760 .gp-absolute{position:absolute}.gps-573945868093555760 .gp-relative{position:relative}.gps-573945868093555760 .gp-inset-0{inset:0}.gps-573945868093555760 .gp-z-1{z-index:1}.gps-573945868093555760 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573945868093555760 .gp-mb-0{margin-bottom:0}.gps-573945868093555760 .gp-flex{display:flex}.gps-573945868093555760 .gp-grid{display:grid}.gps-573945868093555760 .\!gp-hidden{display:none!important}.gps-573945868093555760 .gp-hidden{display:none}.gps-573945868093555760 .gp-w-max{width:-moz-max-content;width:max-content}.gps-573945868093555760 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-573945868093555760 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-573945868093555760 .gp-max-w-full{max-width:100%}.gps-573945868093555760 .gp-flex-1{flex:1 1 0%}.gps-573945868093555760 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573945868093555760 .gp-flex-col{flex-direction:column}.gps-573945868093555760 .gp-flex-wrap{flex-wrap:wrap}.gps-573945868093555760 .gp-gap-y-0{row-gap:0}.gps-573945868093555760 .gp-text-center{text-align:center}.gps-573945868093555760 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573945868093555760 .gp-duration-200{transition-duration:.2s}.gps-573945868093555760 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-573945868093555760 .tablet\:\!gp-hidden{display:none!important}.gps-573945868093555760 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-573945868093555760 .mobile\:\!gp-hidden{display:none!important}.gps-573945868093555760 .mobile\:gp-hidden{display:none}}.gps-573945868093555760 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573945868093555760 .\[\&_p\]\:gp-inline p{display:inline}.gps-573945868093555760 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-573945868093555760 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gmWHUkmW5f" data-id="gmWHUkmW5f"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:7px;--pl:0px;--pb:7px;--mb-mobile:25px;--pt-mobile:7px;--pl-mobile:0px;--pb-mobile:7px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#DBE5F9;--bgc-mobile:#FFF2E2;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gmWHUkmW5f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz0pnaB4FF gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px" class="godKLiAZPc ">
      
    <gp-countdown-timer
      data-id="godKLiAZPc"
     class="gp-flex "
     gp-data='{"behaviour":"standard","dateStandard":"2025-07-07T04:35:52.607Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC-6","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1686312069770,"hours":3,"mins":0,"startTime":1686198952607},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"godKLiAZPc","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":"0px"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":"2025-07-07T04:35:52.607Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Secs","timeZone":"UTC-6","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1686312069770,"hours":3,"mins":0,"startTime":1686198952607},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFE8CC","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#CC7912","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"10px","itemPadding":{"custom":{"desktop":{"horizontal":"25px","vertical":"0px"},"mobile":{"horizontal":"20px","vertical":"0px"}}},"labelTypo":{"attrs":{"bold":true,"color":"#CC7912","transform":"uppercase"},"custom":{"fontFamily":{"value":"IntroRust","type":"custom"},"fontSize":{"desktop":"9px","mobile":"7px","tablet":"16px"},"fontStyle":"normal","fontWeight":"400","hasShadowText":false,"letterSpacing":"0px","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"numTypo":{"attrs":{"bold":true,"color":"#CC7912","transform":"none"},"custom":{"fontFamily":{"value":"IntroRust","type":"custom"},"fontSize":{"desktop":"17px","mobile":"16px","tablet":"23px"},"fontStyle":"normal","fontWeight":"400","hasShadowText":false,"letterSpacing":"0px","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"heading-2"},"roundedState":{"normal":{"bblr":"4px","bbrr":"4px","btlr":"4px","btrr":"4px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"godKLiAZPc","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:center"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:10px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
    <div
        style="--pl:25px;--pr:25px;--pt:0px;--pb:0px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CC7912;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--bg:#FFE8CC"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      id="day"
        class="godKLiAZPc "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--ls:0px;--size:17px;--size-tablet:23px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:none;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      
        class="godKLiAZPc "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:0px;--size:9px;--size-tablet:16px;--size-mobile:7px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggodKLiAZPc_dayLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:25px;--pr:25px;--pt:0px;--pb:0px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CC7912;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--bg:#FFE8CC"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      id="hour"
        class="godKLiAZPc "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--ls:0px;--size:17px;--size-tablet:23px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:none;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      
        class="godKLiAZPc "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:0px;--size:9px;--size-tablet:16px;--size-mobile:7px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggodKLiAZPc_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:25px;--pr:25px;--pt:0px;--pb:0px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CC7912;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--bg:#FFE8CC"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      id="minute"
        class="godKLiAZPc "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--ls:0px;--size:17px;--size-tablet:23px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:none;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      
        class="godKLiAZPc "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:0px;--size:9px;--size-tablet:16px;--size-mobile:7px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggodKLiAZPc_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:25px;--pr:25px;--pt:0px;--pb:0px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#CC7912;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--bg:#FFE8CC"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      id="second"
        class="godKLiAZPc "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-heading, heading);--ls:0px;--size:17px;--size-tablet:23px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:none;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="godKLiAZPc-text">
    <div
      
        class="godKLiAZPc "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-IntroRust, 'IntroRust'), var(--g-font-body, body);--ls:0px;--size:9px;--size-tablet:16px;--size-mobile:7px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#CC7912;--tt:uppercase;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggodKLiAZPc_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-573945868093555760 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=573945867942233136&sectionId=573945868093555760)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggodKLiAZPc_dayLabel","label":"ggodKLiAZPc_dayLabel","default":"Days"},{"type":"html","id":"ggodKLiAZPc_hourLabel","label":"ggodKLiAZPc_hourLabel","default":"Hrs"},{"type":"html","id":"ggodKLiAZPc_minuteLabel","label":"ggodKLiAZPc_minuteLabel","default":"Mins"},{"type":"html","id":"ggodKLiAZPc_secondLabel","label":"ggodKLiAZPc_secondLabel","default":"Secs"},{"type":"html","id":"ggodKLiAZPc_weekLabel","label":"ggodKLiAZPc_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
