

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-488486792644068221.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-488486792644068221.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-488486792644068221.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-488486792644068221.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-488486792644068221.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-488486792644068221.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-488486792644068221.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-488486792644068221.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-488486792644068221.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-488486792644068221.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-488486792644068221.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-488486792644068221.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-488486792644068221.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-488486792644068221.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-488486792644068221.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-488486792644068221.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-488486792644068221.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-488486792644068221.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-488486792644068221.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-488486792644068221.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-488486792644068221.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-488486792644068221.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-488486792644068221.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-488486792644068221.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-488486792644068221.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-488486792644068221.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-488486792644068221.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-488486792644068221.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-488486792644068221.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-488486792644068221.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-488486792644068221.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-488486792644068221.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-488486792644068221.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-488486792644068221.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-488486792644068221.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-488486792644068221.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-488486792644068221.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-488486792644068221.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-488486792644068221.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-488486792644068221.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-488486792644068221.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-488486792644068221.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-488486792644068221.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-488486792644068221.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-488486792644068221.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-488486792644068221.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-488486792644068221.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-488486792644068221.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-488486792644068221.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-488486792644068221.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-488486792644068221.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-488486792644068221.gps.gpsil [style*="--gg-tablet:"]{grid-gap:var(--gg-tablet)}.gps-488486792644068221.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-488486792644068221.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-488486792644068221.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-488486792644068221.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-488486792644068221.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-488486792644068221.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-488486792644068221.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-488486792644068221.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-488486792644068221.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-488486792644068221.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-488486792644068221.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-488486792644068221.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-488486792644068221.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-488486792644068221.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-488486792644068221.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-488486792644068221.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-488486792644068221.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-488486792644068221.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-488486792644068221.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-488486792644068221 .-gp-rotate-90,.gps-488486792644068221 .gp-rotate-180,.gps-488486792644068221 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-488486792644068221 .gp-relative{position:relative}.gps-488486792644068221 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488486792644068221 .gp-mb-0{margin-bottom:0}.gps-488486792644068221 .gp-flex{display:flex}.gps-488486792644068221 .gp-grid{display:grid}.gps-488486792644068221 .\!gp-hidden{display:none!important}.gps-488486792644068221 .gp-hidden{display:none}.gps-488486792644068221 .gp-min-h-0{min-height:0}.gps-488486792644068221 .gp-w-full{width:100%}.gps-488486792644068221 .gp-max-w-full{max-width:100%}.gps-488486792644068221 .-gp-rotate-90{--tw-rotate:-90deg}.gps-488486792644068221 .-gp-rotate-90,.gps-488486792644068221 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-488486792644068221 .gp-rotate-180{--tw-rotate:180deg}.gps-488486792644068221 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-488486792644068221 .gp-cursor-pointer{cursor:pointer}.gps-488486792644068221 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-488486792644068221 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-488486792644068221 .gp-flex-col{flex-direction:column}.gps-488486792644068221 .gp-items-center{align-items:center}.gps-488486792644068221 .gp-overflow-hidden{overflow:hidden}.gps-488486792644068221 .gp-overflow-clip{overflow:clip}.gps-488486792644068221 .gp-break-all{word-break:break-all}.gps-488486792644068221 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792644068221 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792644068221 .gp-duration-200{transition-duration:.2s}.gps-488486792644068221 .gp-duration-500{transition-duration:.5s}.gps-488486792644068221 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-488486792644068221 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-488486792644068221 .tablet\:\!gp-hidden{display:none!important}.gps-488486792644068221 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-488486792644068221 .mobile\:\!gp-hidden{display:none!important}.gps-488486792644068221 .mobile\:gp-hidden{display:none}}.gps-488486792644068221 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwYuw83ISo"}' data-id="gwYuw83ISo" id="gwYuw83ISo" data-same-height-subgrid-container class="gwYuw83ISo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:50px;--pb:30px;--pt-mobile:50px;--pb-mobile:30px;--pt-tablet:50px;--pb-tablet:30px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtdvjcyGj3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkujRpGPmh"
        class="gkujRpGPmh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-tablet:7px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720876"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:27px;--size-tablet:25px;--size-mobile:21px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkujRpGPmh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px" class="gS04LChPE4 ">
      
    <gp-accordion data-id="gS04LChPE4" class="gp-flex gp-flex-col gp-w-full" style="--gg:20px;--gg-tablet:20px;--gg-mobile:15px;border-radius:inherit"
      gp-data='{"uid":"gS04LChPE4","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gS04LChPE4","childListNumber":["0"],"chidlrenUid":["gSrAuKQnBt","gM61jnp_Vb","g1FZiIIEY5","gA6RkL6UFV","gI18zcugTO","gliXvt38kP"]},"styles":{"bgColor":{"normal":"#D9E2EC"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"transparent","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"type":"medium"},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"20px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"gap":"15px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"tablet":{"gap":"20px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"tablet":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="0" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="gSrAuKQnBt" id="gSrAuKQnBt" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-0" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720877"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="ggrqqTiAO0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEPw1HqFve"
        class="gEPw1HqFve"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720878"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEPw1HqFve_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="1" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="gM61jnp_Vb" id="gM61jnp_Vb" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-1" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720879"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gbfR8qIatH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmAosSups9"
        class="gmAosSups9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720883"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmAosSups9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="2" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="g1FZiIIEY5" id="g1FZiIIEY5" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-2" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720885"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gufhxNaSKF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glHk818gi5"
        class="glHk818gi5"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720885"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglHk818gi5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="3" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="gA6RkL6UFV" id="gA6RkL6UFV" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-3" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720886"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gVM0E_6PJR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIlcOZng4Q"
        class="gIlcOZng4Q"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720887"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIlcOZng4Q_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="4" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="gI18zcugTO" id="gI18zcugTO" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-4" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720888"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gMtEvNwhol gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grIPCk39ma"
        class="grIPCk39ma"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720889"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrIPCk39ma_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:left">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px">
    <div data-index="5" class="gS04LChPE4 gp-overflow-hidden gp-child-item-gS04LChPE4 gp-accordion-item">
      <div aria-hidden uid="gliXvt38kP" id="gliXvt38kP" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gS04LChPE4 gp-accordion-item-gS04LChPE4-5" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--fd:row-reverse;--jc:space-between;--bgc:#D9E2EC;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:transparent;--hvr-bc:#121212">
        
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720890"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS04LChPE4_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-tablet:24px;--pr-tablet:24px;--pl-mobile:24px;--pr-mobile:24px">
          <div
      data-same-height-display-contents
      
      class="gv06xgnnLE gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsaYUmkJPz"
        class="gsaYUmkJPz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1754856720891"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsaYUmkJPz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v19/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-488486792644068221 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=488486792308196221&sectionId=488486792644068221)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggkujRpGPmh_text","label":"ggkujRpGPmh_text","default":"<p>Long Run Ambassador FAQs</p>"},{"type":"html","id":"ggS04LChPE4_childItem_0","label":"ggS04LChPE4_childItem_0","default":"<p>Who is eligible to be a Long Run Ambassador?</p>"},{"type":"html","id":"ggS04LChPE4_childItem_1","label":"ggS04LChPE4_childItem_1","default":"<p>Why become an Ambassador?</p>"},{"type":"html","id":"ggS04LChPE4_childItem_2","label":"ggS04LChPE4_childItem_2","default":"<p>As an Ambassador, how do I access new products and limited releases early?</p>"},{"type":"html","id":"ggS04LChPE4_childItem_3","label":"ggS04LChPE4_childItem_3","default":"<p>How quickly do Ambassadors receive commissions?&nbsp;</p>"},{"type":"html","id":"ggS04LChPE4_childItem_4","label":"ggS04LChPE4_childItem_4","default":"<p>How do I get featured?&nbsp;</p>"},{"type":"html","id":"ggS04LChPE4_childItem_5","label":"ggS04LChPE4_childItem_5","default":"<p>Have another question you would like answered?</p>"},{"type":"html","id":"ggEPw1HqFve_text","label":"ggEPw1HqFve_text","default":"<p>Anyone! We welcome anyone to apply who is passionate about Long Run Coffee. Our ambassadors range from elite athletes to those who just love coffee and taking care of their health!</p>"},{"type":"html","id":"ggmAosSups9_text","label":"ggmAosSups9_text","default":"<p>For all of the reasons described above! Long Run Ambassadors get discounts, earn commissions, get early access to products, and more!</p>"},{"type":"html","id":"gglHk818gi5_text","label":"gglHk818gi5_text","default":"<p>We will notify ambassadors via email when we have a new product ready to test or a limited release coffee coming. Ambassadors will be able to access via a special link to order early.&nbsp;</p>"},{"type":"html","id":"ggIlcOZng4Q_text","label":"ggIlcOZng4Q_text","default":"<p>Ambassadors usually receive store credit within 2-3 weeks for any orders placed through their affiliate link or code. All orders and commission payments can be tracked in the <a href=\"https://longruncoffee.recomsale.com/user/login\"><u>Ambassador Portal</u></a>.</p>"},{"type":"html","id":"ggrIPCk39ma_text","label":"ggrIPCk39ma_text","default":"<p>Ambassadors can get featured on the website, in newsletters, and on our social media. Please email us (ambassador@longruncoffee.com) with your name, a picture, and your story if you'd like to be featured. You can also always tag us on social media and we will re-share! #LongRunCoffee #FuelYourPassion</p>"},{"type":"html","id":"ggsaYUmkJPz_text","label":"ggsaYUmkJPz_text","default":"<p>Please contact us at <a href=\"mailto:ambassador@longruncoffee.com\">ambassador@longruncoffee.com</a> and we will get you an answer asap!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
