

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-488486792811512701.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-488486792811512701.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-488486792811512701.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-488486792811512701.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-488486792811512701.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-488486792811512701.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-488486792811512701.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-488486792811512701.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-488486792811512701.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-488486792811512701.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-488486792811512701.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-488486792811512701.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-488486792811512701.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-488486792811512701.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-488486792811512701.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-488486792811512701.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-488486792811512701.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-488486792811512701.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-488486792811512701.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-488486792811512701.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-488486792811512701.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-488486792811512701.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-488486792811512701.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-488486792811512701.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-488486792811512701.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-488486792811512701.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-488486792811512701.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-488486792811512701.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-488486792811512701.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-488486792811512701.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-488486792811512701.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-488486792811512701.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-488486792811512701.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-488486792811512701.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-488486792811512701.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-488486792811512701.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-488486792811512701.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-488486792811512701.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-488486792811512701.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-488486792811512701.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-488486792811512701.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-488486792811512701.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-488486792811512701.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-488486792811512701.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-488486792811512701.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-488486792811512701.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-488486792811512701.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-488486792811512701.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-488486792811512701.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-488486792811512701.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-488486792811512701.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-488486792811512701.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-488486792811512701.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-488486792811512701.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-488486792811512701.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-488486792811512701.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-488486792811512701.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-488486792811512701.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-488486792811512701.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-488486792811512701.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-488486792811512701.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-488486792811512701.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-488486792811512701.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-488486792811512701.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-488486792811512701.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-488486792811512701.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-488486792811512701.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-488486792811512701.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-488486792811512701.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-488486792811512701.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-488486792811512701.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-488486792811512701.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-488486792811512701.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-488486792811512701.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-488486792811512701.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-488486792811512701.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-488486792811512701.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-488486792811512701.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-488486792811512701 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-488486792811512701 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-488486792811512701 .gp-absolute{position:absolute}.gps-488486792811512701 .gp-relative{position:relative}.gps-488486792811512701 .gp-inset-0{inset:0}.gps-488486792811512701 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-488486792811512701 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-488486792811512701 .gp-z-1{z-index:1}.gps-488486792811512701 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-488486792811512701 .gp-mb-0{margin-bottom:0}.gps-488486792811512701 .gp-inline-block{display:inline-block}.gps-488486792811512701 .gp-flex{display:flex}.gps-488486792811512701 .gp-inline-flex{display:inline-flex}.gps-488486792811512701 .gp-grid{display:grid}.gps-488486792811512701 .gp-contents{display:contents}.gps-488486792811512701 .\!gp-hidden{display:none!important}.gps-488486792811512701 .gp-hidden{display:none}.gps-488486792811512701 .gp-h-auto{height:auto}.gps-488486792811512701 .gp-h-full{height:100%}.gps-488486792811512701 .gp-w-full{width:100%}.gps-488486792811512701 .gp-max-w-full{max-width:100%}.gps-488486792811512701 .gp-flex-none{flex:none}.gps-488486792811512701 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-488486792811512701 .gp-flex-col{flex-direction:column}.gps-488486792811512701 .gp-items-center{align-items:center}.gps-488486792811512701 .gp-justify-center{justify-content:center}.gps-488486792811512701 .gp-self-center{align-self:center}.gps-488486792811512701 .gp-overflow-hidden{overflow:hidden}.gps-488486792811512701 .gp-break-words{overflow-wrap:break-word}.gps-488486792811512701 .gp-text-center{text-align:center}.gps-488486792811512701 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-488486792811512701 .gp-no-underline{text-decoration-line:none}.gps-488486792811512701 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .gp-duration-200{transition-duration:.2s}.gps-488486792811512701 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-488486792811512701 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-488486792811512701 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-488486792811512701 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-488486792811512701 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-488486792811512701 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-488486792811512701 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-488486792811512701 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-488486792811512701 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-488486792811512701 .tablet\:\!gp-relative{position:relative!important}.gps-488486792811512701 .tablet\:\!gp-hidden{display:none!important}.gps-488486792811512701 .tablet\:gp-hidden{display:none}.gps-488486792811512701 .tablet\:gp-h-auto{height:auto}.gps-488486792811512701 .tablet\:gp-flex-none{flex:none}.gps-488486792811512701 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-488486792811512701 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-488486792811512701 .mobile\:\!gp-relative{position:relative!important}.gps-488486792811512701 .mobile\:\!gp-hidden{display:none!important}.gps-488486792811512701 .mobile\:gp-hidden{display:none}.gps-488486792811512701 .mobile\:\!gp-h-auto{height:auto!important}.gps-488486792811512701 .mobile\:gp-h-auto{height:auto}.gps-488486792811512701 .mobile\:gp-flex-none{flex:none}.gps-488486792811512701 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-488486792811512701 .mobile\:gp-justify-center{justify-content:center}}@media (max-width:1024px){.gps-488486792811512701 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-488486792811512701 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-488486792811512701 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-488486792811512701 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAulGu3QRQ"}' data-id="gAulGu3QRQ" id="gAulGu3QRQ" data-same-height-subgrid-container class="gAulGu3QRQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:20px;--pt-mobile:20px;--pb-mobile:20px;--pt-tablet:0px;--pb-tablet:10px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGmNQ9deRR gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gZT8-9djuu"
        class="gZT8-9djuu gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:500px;--h-tablet:500px;--h-mobile:500px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":471,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero.avif?v=1714951015","width":2000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":471,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero.avif?v=1714951015","width":2000},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg","height":1080,"src":"https://ucarecdn.com/3d3ac03b-c308-49da-b705-8b613a62eb47/-/format/auto/","width":1920},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"gZT8-9djuu","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"target":"_self","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:500px;--h-tablet:500px;--h-mobile:500px;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url(https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero.avif?v=1714951015);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero_1024x.avif?v=1714951015);--bgi-mobile:url({{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--hvr-op:0%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gC1zLXLedS gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_url }}" srcset="{{ "484137708004836523-1f0783f8-6f47-4027-9a0d-372219b60bef.jpg" | asset_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero_1024x.avif?v=1714951015" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero_1024x.avif?v=1714951015" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero.avif?v=1714951015" data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-ambassador-program-hero.avif?v=1714951015"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div
      role="presentation"
      data-id="gKQeVdJJX4"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1754856722038 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gKQeVdJJX4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador_1024x.avif?v=1716069913" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador_1024x.avif?v=1716069913" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador_1024x.avif?v=1716069913" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador_1024x.avif?v=1716069913" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador.avif?v=1716069913" data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/ambassador.avif?v=1716069913"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--objf-mobile:cover;--h:auto;--h-tablet:auto;--h-mobile:280px"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOjV2bZrEV"}' data-id="gOjV2bZrEV" id="gOjV2bZrEV" data-same-height-subgrid-container class="gOjV2bZrEV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gfrGvSRJrc gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://longrun.co/community/ambassador/signup","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-s);--ml-tablet:16px;--mb-tablet:0px;--ta:left" >
        <style>[data-id="gWbqVzsjUD"].gp-button-base::before, [data-id="gWbqVzsjUD-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="gWbqVzsjUD"]:hover::before, [data-id="gWbqVzsjUD-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gWbqVzsjUD" dataId="gWbqVzsjUD" data-state="idle" aria-label="SIGN UP"
          
          href="https://longrun.co/community/ambassador/signup" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#DD8525;--c:var(--g-c-text-3, text-3);--weight:bold"
          class="gWbqVzsjUD gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-subheading-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggWbqVzsjUD_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:start"
      class="gnJnOWEuzh gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://longrunco.recomsale.com","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--mr-tablet:16px;--mb-mobile:16px;--pr-mobile:8px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g3OLcox1kB"].gp-button-base::before, [data-id="g3OLcox1kB-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="g3OLcox1kB"]:hover::before, [data-id="g3OLcox1kB-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g3OLcox1kB" dataId="g3OLcox1kB" data-state="idle" aria-label="SIGN IN"
          
          href="https://longrunco.recomsale.com" target
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#32A4B1;--c:var(--g-c-text-3, text-3);--weight:bold"
          class="g3OLcox1kB gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-subheading-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg3OLcox1kB_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-488486792811512701 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=488486792308196221&sectionId=488486792811512701)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWbqVzsjUD_label","label":"ggWbqVzsjUD_label","default":"SIGN UP"},{"type":"html","id":"gg3OLcox1kB_label","label":"gg3OLcox1kB_label","default":"SIGN IN"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
