

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-576105447107331011.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-576105447107331011.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-576105447107331011.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-576105447107331011.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-576105447107331011.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-576105447107331011.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-576105447107331011.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-576105447107331011.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-576105447107331011.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-576105447107331011.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-576105447107331011.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-576105447107331011.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-576105447107331011.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-576105447107331011.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-576105447107331011.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-576105447107331011.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-576105447107331011.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-576105447107331011.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-576105447107331011.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-576105447107331011.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-576105447107331011.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-576105447107331011.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-576105447107331011.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-576105447107331011.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-576105447107331011.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-576105447107331011.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-576105447107331011.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-576105447107331011.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-576105447107331011.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-576105447107331011.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-576105447107331011.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-576105447107331011.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-576105447107331011.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-576105447107331011.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-576105447107331011.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-576105447107331011.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-576105447107331011.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-576105447107331011.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-576105447107331011.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-576105447107331011.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-576105447107331011.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-576105447107331011.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-576105447107331011.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-576105447107331011.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-576105447107331011.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-576105447107331011.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-576105447107331011.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-576105447107331011.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-576105447107331011.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-576105447107331011.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-576105447107331011.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-576105447107331011.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-576105447107331011.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-576105447107331011.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-576105447107331011 .gp-invisible{visibility:hidden}.gps-576105447107331011 .gp-absolute{position:absolute}.gps-576105447107331011 .gp-relative{position:relative}.gps-576105447107331011 .gp-top-0{top:0}.gps-576105447107331011 .gp-z-1{z-index:1}.gps-576105447107331011 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-576105447107331011 .gp-mb-0{margin-bottom:0}.gps-576105447107331011 .gp-flex{display:flex}.gps-576105447107331011 .gp-grid{display:grid}.gps-576105447107331011 .\!gp-hidden{display:none!important}.gps-576105447107331011 .gp-hidden{display:none}.gps-576105447107331011 .gp-h-full{height:100%}.gps-576105447107331011 .gp-w-full{width:100%}.gps-576105447107331011 .gp-max-w-full{max-width:100%}.gps-576105447107331011 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-576105447107331011 .gp-flex-col{flex-direction:column}.gps-576105447107331011 .gp-items-center{align-items:center}.gps-576105447107331011 .\!gp-justify-center{justify-content:center!important}.gps-576105447107331011 .gp-gap-y-0{row-gap:0}.gps-576105447107331011 .gp-overflow-hidden{overflow:hidden}.gps-576105447107331011 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-576105447107331011 .gp-duration-200{transition-duration:.2s}.gps-576105447107331011 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-576105447107331011 .tablet\:gp-relative{position:relative}.gps-576105447107331011 .tablet\:\!gp-hidden{display:none!important}.gps-576105447107331011 .tablet\:gp-hidden{display:none}.gps-576105447107331011 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-576105447107331011 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-576105447107331011 .mobile\:gp-relative{position:relative}.gps-576105447107331011 .mobile\:\!gp-hidden{display:none!important}.gps-576105447107331011 .mobile\:gp-hidden{display:none}.gps-576105447107331011 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-576105447107331011 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-576105447107331011 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-576105447107331011 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-576105447107331011 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjgap_oQoG" data-id="gjgap_oQoG"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjgap_oQoG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLQNlBhEdz gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:100vh;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","height":2672,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","storage":"FILE_CONTENT","width":4750},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","height":2672,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","storage":"FILE_CONTENT","width":4750},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","height":2672,"src":"https://cdn.shopify.com/s/files/1/0761/6924/9081/files/gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png","storage":"FILE_CONTENT","width":4750},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gYGY4t2VbQ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gYGY4t2VbQ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:100vh;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto"
        data-id="gYGY4t2VbQ"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:100vh;--aspect:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTI2NzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iMjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiBmaWxsPSJ1cmwoI2ctNDc1MC0yNjcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSI0NzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTQ3NTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iNDc1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSI0NzUwIiBmaWxsPSJ1cmwoI2ctNDc1MC00NzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTI2NzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iMjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiBmaWxsPSJ1cmwoI2ctNDc1MC0yNjcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--d:block;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:100vh;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTI2NzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iMjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiBmaWxsPSJ1cmwoI2ctNDc1MC0yNjcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSI0NzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTQ3NTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iNDc1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSI0NzUwIiBmaWxsPSJ1cmwoI2ctNDc1MC00NzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUwLTI2NzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NTAiIGhlaWdodD0iMjY3MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1MCIgaGVpZ2h0PSIyNjcyIiBmaWxsPSJ1cmwoI2ctNDc1MC0yNjcyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1MCIgdG89IjQ3NTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" data-srcset="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" data-srcset="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" data-srcset="{{ "gempages_484137708004836523-89c7da0e-5457-4ab6-9d83-47dd17319436.png" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g61IPkCDIb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjHJQtcalz" data-id="gjHJQtcalz"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjHJQtcalz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmx2Gwfqz6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Klaviyo","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents"><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:500px;--mb-mobile:0px" class="gGZDEJ9jMj ">
      
    <div
      
      style="--ta:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-XVk2f8"></div>
    </div>
  
      </div></div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-576105447107331011 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=576105447040222147&sectionId=576105447107331011)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
