

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554008940082889609.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-554008940082889609.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-554008940082889609.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554008940082889609.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-554008940082889609.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554008940082889609.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554008940082889609.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554008940082889609.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554008940082889609.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554008940082889609.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554008940082889609.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554008940082889609.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-554008940082889609.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-554008940082889609.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554008940082889609.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-554008940082889609.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-554008940082889609.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554008940082889609.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-554008940082889609.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-554008940082889609.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-554008940082889609.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554008940082889609.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554008940082889609.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554008940082889609.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554008940082889609.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-554008940082889609.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-554008940082889609.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-554008940082889609.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554008940082889609.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-554008940082889609.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554008940082889609.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-554008940082889609.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-554008940082889609.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-554008940082889609.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-554008940082889609.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-554008940082889609.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-554008940082889609.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-554008940082889609.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-554008940082889609.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-554008940082889609.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554008940082889609.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554008940082889609.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554008940082889609.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554008940082889609.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554008940082889609.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554008940082889609.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554008940082889609.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554008940082889609.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-554008940082889609.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-554008940082889609.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554008940082889609.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-554008940082889609.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-554008940082889609.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-554008940082889609.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554008940082889609.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-554008940082889609.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-554008940082889609.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-554008940082889609.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-554008940082889609.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-554008940082889609.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-554008940082889609.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-554008940082889609.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-554008940082889609.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-554008940082889609.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-554008940082889609.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554008940082889609.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554008940082889609.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-554008940082889609.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-554008940082889609.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-554008940082889609.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-554008940082889609.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-554008940082889609.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-554008940082889609.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-554008940082889609.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-554008940082889609.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-554008940082889609.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-554008940082889609.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-554008940082889609.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-554008940082889609.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-554008940082889609.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-554008940082889609.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-554008940082889609.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-554008940082889609.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-554008940082889609.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-554008940082889609.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-554008940082889609.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554008940082889609.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554008940082889609.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-554008940082889609.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-554008940082889609.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-554008940082889609.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-554008940082889609.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-554008940082889609.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-554008940082889609.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-554008940082889609 .gp-relative{position:relative}.gps-554008940082889609 .gp-z-1{z-index:1}.gps-554008940082889609 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554008940082889609 .gp-mb-0{margin-bottom:0}.gps-554008940082889609 .\!gp-inline{display:inline!important}.gps-554008940082889609 .gp-flex{display:flex}.gps-554008940082889609 .gp-inline-flex{display:inline-flex}.gps-554008940082889609 .gp-grid{display:grid}.gps-554008940082889609 .\!gp-hidden{display:none!important}.gps-554008940082889609 .gp-hidden{display:none}.gps-554008940082889609 .gp-h-full{height:100%}.gps-554008940082889609 .gp-w-full{width:100%}.gps-554008940082889609 .gp-max-w-full{max-width:100%}.gps-554008940082889609 .gp-shrink-0{flex-shrink:0}.gps-554008940082889609 .gp-flex-col{flex-direction:column}.gps-554008940082889609 .gp-flex-wrap{flex-wrap:wrap}.gps-554008940082889609 .gp-items-center{align-items:center}.gps-554008940082889609 .gp-justify-center{justify-content:center}.gps-554008940082889609 .gp-gap-y-0{row-gap:0}.gps-554008940082889609 .gp-overflow-hidden{overflow:hidden}.gps-554008940082889609 .gp-break-words{overflow-wrap:break-word}.gps-554008940082889609 .gp-rounded-none{border-radius:0}.gps-554008940082889609 .gp-text-left{text-align:left}.gps-554008940082889609 .gp-leading-\[0\]{line-height:0}.gps-554008940082889609 .gp-no-underline{text-decoration-line:none}.gps-554008940082889609 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554008940082889609 .gp-duration-200{transition-duration:.2s}.gps-554008940082889609 .gp-duration-300{transition-duration:.3s}.gps-554008940082889609 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554008940082889609 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-554008940082889609 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-554008940082889609 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-554008940082889609 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-554008940082889609 .tablet\:\!gp-hidden{display:none!important}.gps-554008940082889609 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-554008940082889609 .mobile\:\!gp-hidden{display:none!important}.gps-554008940082889609 .mobile\:gp-hidden{display:none}}.gps-554008940082889609 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-554008940082889609 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-554008940082889609 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-554008940082889609 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-554008940082889609 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-554008940082889609 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-554008940082889609 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-554008940082889609 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-554008940082889609 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-554008940082889609 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-554008940082889609 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-554008940082889609 .\[\&_p\]\:gp-inline p{display:inline}.gps-554008940082889609 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-554008940082889609 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-554008940082889609 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l16f44e1b8b" data-id="i2l16f44e1b8b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:rgb(251, 242, 238);--bgc-mobile:#E8EEF4;--bgi:url();--bgi-mobile:url();--bgp-mobile:;--bgs-mobile:;--bgr-mobile:;--bga-mobile:"
        class="i2l16f44e1b8b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l16f44e1b8b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="w-i2l16f44e1b8b" data-id="w-i2l16f44e1b8b"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="w-i2l16f44e1b8b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l9e3d0ed95f gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gdmt9Rsld-" data-id="gdmt9Rsld-"
        style="--mb:48px;--mb-mobile:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdmt9Rsld- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsoKwVS8MC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="QhWDXCKHuyYc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="QhWDXCKHuyYc "
        style="--ta:center;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--ls:-0.25px;--size:55px;--size-tablet:52px;--size-mobile:26px;--lh-mobile:default;--weight:bold;--c:#1E4368;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gQhWDXCKHuyYc_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gvpqMzYdFx"
    role="presentation"
    class="gp-group/image gvpqMzYdFx"
    style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-c9d1a240-2cb3-48d5-8979-7c4ad34c8dde.png" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-c9d1a240-2cb3-48d5-8979-7c4ad34c8dde.png' | file_img_url: '768x' }} 768w, {{ 'gempages_484137708004836523-c9d1a240-2cb3-48d5-8979-7c4ad34c8dde.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_484137708004836523-c9d1a240-2cb3-48d5-8979-7c4ad34c8dde.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSI0MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTQwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iNDAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSI0MDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC00MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="4000" height="4000" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="hMGPRrYsQKen">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="hMGPRrYsQKen "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--size:29px;--size-tablet:32px;--size-mobile:24px;--weight:bold;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ghMGPRrYsQKen_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    
    <div
    data-id="gyh-Mw2L6w"
      
      data-id="gyh-Mw2L6w"
      style="--mb:48px;--mb-mobile:5px;--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:0px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="g_yejGVG9s ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gcJ_BguLn_"
    >
      <div 
      data-id="gcJ_BguLn_"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#F3B153;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:22px;--h:16px;--h-tablet:16px;--h-mobile:22px;--minw:16px;--minw-tablet:16px;--minw-mobile:22px;--height-desktop:16px;--height-tablet:16px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gNuN2kPfxJ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gjQP9KiAS8"
    >
      <div 
      data-id="gjQP9KiAS8"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f3b153;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:22px;--h:16px;--h-tablet:16px;--h-mobile:22px;--minw:16px;--minw-tablet:16px;--minw-mobile:22px;--height-desktop:16px;--height-tablet:16px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="g0gHJjPp3C ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] grS8YAX5Wr"
    >
      <div 
      data-id="grS8YAX5Wr"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f3b153;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:22px;--h:16px;--h-tablet:16px;--h-mobile:22px;--minw:16px;--minw-tablet:16px;--minw-mobile:22px;--height-desktop:16px;--height-tablet:16px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gVf-gW6-Su ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] gWcuFMo_1A"
    >
      <div 
      data-id="gWcuFMo_1A"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f3b153;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:22px;--h:16px;--h-tablet:16px;--h-mobile:22px;--minw:16px;--minw-tablet:16px;--minw-mobile:22px;--height-desktop:16px;--height-tablet:16px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="goH9IyigT_ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
      class="gp-leading-[0] g1S7jR6TFw"
    >
      <div 
      data-id="g1S7jR6TFw"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f3b153;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:22px;--h:16px;--h-tablet:16px;--h-mobile:22px;--minw:16px;--minw-tablet:16px;--minw-mobile:22px;--height-desktop:16px;--height-tablet:16px;--height-mobile:22px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRa0RdhN-6">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRa0RdhN-6 "
        style="--ta:left;--mb:64px;--mb-mobile:20px;--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:95%;--ts:none;--ta:left;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:0.75px;--size:46px;--size-tablet:46px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRa0RdhN-6_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gNJUQQFSr4 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gNJUQQFSr4"
      data-id="gNJUQQFSr4"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":15}}'
       style="--mb:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gNJUQQFSr4"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54c3d1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggNJUQQFSr4_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g-rZtyTY4e ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g-rZtyTY4e"
      data-id="g-rZtyTY4e"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":15}}'
       style="--mb:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-rZtyTY4e"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54c3d1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.gg-rZtyTY4e_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guiMpCHaOU" data-id="guiMpCHaOU"
        style="--mb:12px;--mb-mobile:25px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:15px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guiMpCHaOU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start;--jc-mobile:center"
      class="ge39TZ49_E gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gNJtAwGOXZ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gNJtAwGOXZ"
      data-id="gNJtAwGOXZ"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":15}}'
       style="--mb:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gNJtAwGOXZ"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54c3d1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggNJtAwGOXZ_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gNJtAwGOXZ"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54c3d1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggNJtAwGOXZ_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start;--jc-mobile:center"
      class="glAF9fwhyG gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gMDlZL8k6H ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gMDlZL8k6H"
      data-id="gMDlZL8k6H"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":16,"tablet":16,"mobile":15}}'
       style="--mb:12px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:0px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMDlZL8k6H"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54C3D1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggMDlZL8k6H_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gMDlZL8k6H"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#54C3D1;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:15px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212">
                {{ section.settings.ggMDlZL8k6H_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="VTPeXyzJEBwo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="VTPeXyzJEBwo "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:12px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(2, 3, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gVTPeXyzJEBwo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5GTv4pPxD" data-id="g5GTv4pPxD"
        style="--mb:12px;--mb-mobile:5px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--cg-mobile:20px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5GTv4pPxD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYmtip8SEB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="JeJDmnDDDjRD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="JeJDmnDDDjRD "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:14px;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gJeJDmnDDDjRD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gUpYaSqcVL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8MqZWOgb2">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8MqZWOgb2 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-body, body);--size:13px;--size-tablet:14px;--size-mobile:14px;--weight:bold;--c:rgb(7, 7, 7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8MqZWOgb2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDYuwSjcSw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDYuwSjcSw "
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:16px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:21px;--c:rgb(7, 7, 7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDYuwSjcSw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g8dHM9n3FF.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CC7916;
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .g8dHM9n3FF:hover::before {
      
      
    }

    .g8dHM9n3FF:hover .gp-button-icon {
      color: undefined;
    }

     .g8dHM9n3FF .gp-button-icon {
      color: #ffffff;
    }

    .g8dHM9n3FF:hover .gp-button-price {
      color: undefined;
    }

    .g8dHM9n3FF .gp-button-price {
      color: #ffffff;
    }

    .g8dHM9n3FF .gp-product-dot-price {
       color: #ffffff;
    }

    .g8dHM9n3FF:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="g8dHM9n3FF" aria-label="<p>get Your Welcome Kit - save 30%</p>"
      
      data-state="idle"
      class="g8dHM9n3FF gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#FFBD6D;--hvr-bg:#FFBD6D;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:#ffffff;--size:17px;--size-tablet:18px;--size-mobile:18px;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--weight:bold;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:17px;--size-tablet:18px;--size-mobile:18px"
      >
        {{ section.settings.gg8dHM9n3FF_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpg.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbFFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* vietnamese */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbPFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbOFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpgjQ70a32I.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXx-p7K4KLjztg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-554008940082889609 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554008939998479241&sectionId=554008940082889609)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gQhWDXCKHuyYc_text","label":"gQhWDXCKHuyYc_text","default":"Welcome Kit: What's in It?"},{"type":"html","id":"ghMGPRrYsQKen_text","label":"ghMGPRrYsQKen_text","default":"New Athlete Welcome Kit"},{"type":"html","id":"ggRa0RdhN-6_text","label":"ggRa0RdhN-6_text","default":"4.9/5 out of 10k+ athletes"},{"type":"html","id":"ggNJUQQFSr4_childItem_0","label":"ggNJUQQFSr4_childItem_0","default":"<p>2x Hazelnut Latte Electrolyte Powder</p>"},{"type":"html","id":"gg-rZtyTY4e_childItem_0","label":"gg-rZtyTY4e_childItem_0","default":"<p>Long Run Brand Sticker</p>"},{"type":"html","id":"ggNJtAwGOXZ_childItem_0","label":"ggNJtAwGOXZ_childItem_0","default":"<p>1x Light Roast 2oz</p>"},{"type":"html","id":"ggNJtAwGOXZ_childItem_1","label":"ggNJtAwGOXZ_childItem_1","default":"<p>1x Medium Roast 2oz</p>"},{"type":"html","id":"ggMDlZL8k6H_childItem_0","label":"ggMDlZL8k6H_childItem_0","default":"<p>1x Dark Roast 2oz</p>"},{"type":"html","id":"ggMDlZL8k6H_childItem_1","label":"ggMDlZL8k6H_childItem_1","default":"<p>1x Decaf 2oz</p>"},{"type":"html","id":"gVTPeXyzJEBwo_text","label":"gVTPeXyzJEBwo_text","default":"<p>Created to help athletes build a routine they love, train consistently, and fuel their passion.</p>"},{"type":"html","id":"gJeJDmnDDDjRD_text","label":"gJeJDmnDDDjRD_text","default":"<p><span style=\"font-size:37px;\"><s>$84.99</s></span></p>"},{"type":"html","id":"gg8MqZWOgb2_text","label":"gg8MqZWOgb2_text","default":"<p><span style=\"font-size:37px;\">$59</span><span style=\"font-size:15px;\">.49</span></p>"},{"type":"html","id":"ggDYuwSjcSw_text","label":"ggDYuwSjcSw_text","default":"<p>$0.99 / cup</p>"},{"type":"html","id":"gg8dHM9n3FF_label","label":"gg8dHM9n3FF_label","default":"<p>get Your Welcome Kit - save 30%</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
