
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Poppins:400,700&display=swap'); </style>
  <style> .gps-485977203473908990 .gp-rotate-0,.gps-485977203473908990 .gp-rotate-180,.gps-485977203473908990 .mobile\:gp-rotate-0,.gps-485977203473908990 .mobile\:gp-rotate-180,.gps-485977203473908990 .tablet\:gp-rotate-0,.gps-485977203473908990 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485977203473908990 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485977203473908990 .gp-invisible{visibility:hidden}.gps-485977203473908990 .\!gp-absolute{position:absolute!important}.gps-485977203473908990 .gp-absolute{position:absolute}.gps-485977203473908990 .gp-relative{position:relative}.gps-485977203473908990 .gp-left-0{left:0}.gps-485977203473908990 .gp-right-0{right:0}.gps-485977203473908990 .gp-z-1{z-index:1}.gps-485977203473908990 .gp-z-2{z-index:2}.gps-485977203473908990 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485977203473908990 .gp-my-0{margin-bottom:0;margin-top:0}.gps-485977203473908990 .gp-mb-0{margin-bottom:0}.gps-485977203473908990 .gp-block{display:block}.gps-485977203473908990 .\!gp-inline{display:inline!important}.gps-485977203473908990 .\!gp-flex{display:flex!important}.gps-485977203473908990 .gp-flex{display:flex}.gps-485977203473908990 .gp-inline-flex{display:inline-flex}.gps-485977203473908990 .gp-grid{display:grid}.gps-485977203473908990 .\!gp-hidden{display:none!important}.gps-485977203473908990 .gp-hidden{display:none}.gps-485977203473908990 .gp-aspect-square{aspect-ratio:1/1}.gps-485977203473908990 .gp-h-5{height:20px}.gps-485977203473908990 .gp-h-full{height:100%}.gps-485977203473908990 .\!gp-min-h-full{min-height:100%!important}.gps-485977203473908990 .gp-w-5{width:20px}.gps-485977203473908990 .gp-w-\[12px\]{width:12px}.gps-485977203473908990 .gp-w-full{width:100%}.gps-485977203473908990 .gp-max-w-full{max-width:100%}.gps-485977203473908990 .gp-shrink-0{flex-shrink:0}.gps-485977203473908990 .gp-rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .gp-rotate-0,.gps-485977203473908990 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .gp-rotate-180{--tw-rotate:180deg}.gps-485977203473908990 .gp-cursor-pointer{cursor:pointer}.gps-485977203473908990 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-485977203473908990 .\!gp-flex-row{flex-direction:row!important}.gps-485977203473908990 .gp-flex-row{flex-direction:row}.gps-485977203473908990 .gp-flex-col{flex-direction:column}.gps-485977203473908990 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485977203473908990 .gp-items-center{align-items:center}.gps-485977203473908990 .gp-justify-center{justify-content:center}.gps-485977203473908990 .gp-justify-between{justify-content:space-between}.gps-485977203473908990 .gp-gap-2{gap:8px}.gps-485977203473908990 .gp-gap-y-0{row-gap:0}.gps-485977203473908990 .gp-overflow-hidden{overflow:hidden}.gps-485977203473908990 .gp-break-words{overflow-wrap:break-word}.gps-485977203473908990 .gp-rounded-full{border-radius:9999px}.gps-485977203473908990 .gp-rounded-none{border-radius:0}.gps-485977203473908990 .gp-text-center{text-align:center}.gps-485977203473908990 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485977203473908990 .gp-no-underline{text-decoration-line:none}.gps-485977203473908990 .gp-opacity-25{opacity:.25}.gps-485977203473908990 .gp-opacity-75{opacity:.75}.gps-485977203473908990 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485977203473908990 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485977203473908990 .gp-duration-200{transition-duration:.2s}.gps-485977203473908990 .gp-duration-300{transition-duration:.3s}.gps-485977203473908990 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485977203473908990 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485977203473908990 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485977203473908990 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485977203473908990 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485977203473908990 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485977203473908990 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485977203473908990 .tablet\:\!gp-absolute{position:absolute!important}.gps-485977203473908990 .tablet\:gp-left-0{left:0}.gps-485977203473908990 .tablet\:gp-right-0{right:0}.gps-485977203473908990 .tablet\:gp-z-2{z-index:2}.gps-485977203473908990 .tablet\:gp-block{display:block}.gps-485977203473908990 .tablet\:\!gp-flex{display:flex!important}.gps-485977203473908990 .tablet\:\!gp-hidden{display:none!important}.gps-485977203473908990 .tablet\:gp-hidden{display:none}.gps-485977203473908990 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-485977203473908990 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .tablet\:gp-rotate-0,.gps-485977203473908990 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-485977203473908990 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-485977203473908990 .tablet\:gp-flex-row{flex-direction:row}.gps-485977203473908990 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485977203473908990 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-485977203473908990 .mobile\:\!gp-absolute{position:absolute!important}.gps-485977203473908990 .mobile\:gp-left-0{left:0}.gps-485977203473908990 .mobile\:gp-right-0{right:0}.gps-485977203473908990 .mobile\:gp-z-2{z-index:2}.gps-485977203473908990 .mobile\:gp-block{display:block}.gps-485977203473908990 .mobile\:\!gp-flex{display:flex!important}.gps-485977203473908990 .mobile\:\!gp-hidden{display:none!important}.gps-485977203473908990 .mobile\:gp-hidden{display:none}.gps-485977203473908990 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-485977203473908990 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-485977203473908990 .mobile\:gp-rotate-0,.gps-485977203473908990 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485977203473908990 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-485977203473908990 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-485977203473908990 .mobile\:gp-flex-row{flex-direction:row}.gps-485977203473908990 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485977203473908990 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-485977203473908990 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-485977203473908990 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-485977203473908990 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485977203473908990 .\[\&_p\]\:gp-inline p{display:inline}.gps-485977203473908990 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-485977203473908990 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485977203473908990 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gl73PM7kWR"
        style="--b:solid;--bc:#F0F4F8;--bw:2px 2px 2px 2px;--d:none;--d-mobile:grid;--d-tablet:none;--bblr:0px;--bbrr:0px;--btlr:15px;--btrr:15px;--mt:0px;--ml:auto;--mb:50px;--mr:auto;--pt:20px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F7FBFC;--bgc-tablet:#F7FBFC;--bgc-mobile:#F0F4F8"
        class="gl73PM7kWR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDYISY8Srf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxXfdtYk29 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:7px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:27px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:5px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:-0.5px;--lh:130%;--size:27px;--size-tablet:27px;--size-mobile:22px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxXfdtYk29_text | downcase }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gt0GQgXB1v"
        style="--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:rgb(222, 240, 241);--bgc-tablet:transparent;--bgc-mobile:#F4FDFF"
        class="gt0GQgXB1v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gf5y_Bc1PF gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJD3P1dpjz"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F7FBFC;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gJD3P1dpjz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcW07ghxEZ gp-relative gp-flex gp-flex-col"
    >
      <div style="" class="gMZJXHAG8L ">
      
    
      
      
    <div
      uid="gMZJXHAG8L"
       style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--ta:center;--bgc:transparent;--bgc-mobile:#F0F4F8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:25px;--rg-tablet:20px;--rg-mobile:35px"
        >
        
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="grra8411pn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gMcwl9lrmM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="g67aiNatZb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTPFpAkwCw"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTPFpAkwCw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gX8J9fM5X- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gIRZcsiPIn "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIRZcsiPIn_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gBajHCn2if "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBajHCn2if_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="g9aYoVjl7x gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gT3B5lIiUz"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="gmSnLPgu5_ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gHyBjliYND"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHyBjliYND gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxH1svtxB2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLfq9UtjDQ "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLfq9UtjDQ_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIKcvc1g7J "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIKcvc1g7J_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="gHIhYBEgTE gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gXcAv-GTBn"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="g-SO8mUBSx gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gS7ds6A9SM"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS7ds6A9SM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gphHD3M-Kq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gA_PE6Q2Hw "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggA_PE6Q2Hw_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="geyMv2I43O "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeyMv2I43O_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:25px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="giPK-3CwtV gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gfu7MkqjBm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:50px;--w-tablet:40px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="gAwAZJ9YsQ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gs8GKpKBcL"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs8GKpKBcL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEXo4LtA5M gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gjOk0rMPcg "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--lh:130%;--size:20px;--size-tablet:18px;--size-mobile:18px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjOk0rMPcg_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gI2muaNd-E "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:16px;--size-tablet:15px;--size-mobile:15px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI2muaNd-E_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:20px;--mb-mobile:0px;--pt-mobile:40px;--pb-mobile:40px;--mb-tablet:29px;--ta:center"
    class=""
  >
    <style>
    .gbviGGTKhQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gbviGGTKhQ:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gbviGGTKhQ" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gbviGGTKhQ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DF8619;--w:40%;--w-tablet:60%;--w-mobile:90%;--h:50px;--h-tablet:40px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:4px;--pb-mobile:4px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:16px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggbviGGTKhQ_label }}
      </span>
    </a>
  </div>
  </gp-button>

    <gp-carousel  id="gp-root-carousel-gkUwsmc3FC-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gkUwsmc3FC-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7FCFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 2","Slide 1","Slide 3"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":true,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"outside","mobile":"none","tablet":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":4,"mobile":1,"tablet":2},"loop":{"desktop":false,"mobile":true},"navigationStyle":{"desktop":"inside","mobile":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"default"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16,"mobile":"0"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gkUwsmc3FC"
        style="--b:solid;--bc:#DDDDDD;--bw:0px 0px 1px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:0px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:calc(100% - 12px - 16px);--h-tablet:calc(100% - 12px - 16px);--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gkUwsmc3FC-{{section.id}} gp-carousel-arrow-gkUwsmc3FC gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gkUwsmc3FC {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gkUwsmc3FC::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gkUwsmc3FC {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gkUwsmc3FC::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gkUwsmc3FC {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gkUwsmc3FC::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gkUwsmc3FC-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:0px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gupM-ahrRj"
    >
      <div
    
    role="presentation"
    class="gp-group/image gzLxHuBtnU"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: 'master' }} 1440w" width="3000" height="3000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-57cf52c5-3fe5-441b-9ecf-0bbf6c5beff7.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="3000" alt="Alt image"
      sizes="100vw"
      style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g3kMcShlcC"
    >
      <div
    
    role="presentation"
    class="gp-group/image gN-JcaCAau"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: 'master' }} 1440w" width="4000" height="4000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4000" height="4000" alt="Alt image"
      sizes="100vw"
      style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gYMMHh95AD"
    >
      <div
    
    role="presentation"
    class="gp-group/image gxk-Ya34e5"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: 'master' }} 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-57b5a1f7-928f-4b1c-8843-c702e8264d7f.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gkUwsmc3FC-{{section.id}} gp-carousel-arrow-gkUwsmc3FC gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gkUwsmc3FC {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gkUwsmc3FC::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gkUwsmc3FC {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gkUwsmc3FC::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gkUwsmc3FC {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gkUwsmc3FC::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gkUwsmc3FC-{{section.id}} gp-flex-row gp-left-0 gp-right-0 tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-485977203473908990 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485977203473908990)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"ggxXfdtYk29_text","label":"ggxXfdtYk29_text","default":"<p>Long Run Club Details</p>"},{"type":"html","id":"ggIRZcsiPIn_text","label":"ggIRZcsiPIn_text","default":"<p>SAVINGS</p>"},{"type":"html","id":"ggBajHCn2if_text","label":"ggBajHCn2if_text","default":"<p>Club members save 10% - 25%. LRC also guarantees that members never see price increases - regardless of inflation.&nbsp;</p>"},{"type":"html","id":"ggLfq9UtjDQ_text","label":"ggLfq9UtjDQ_text","default":"<p>Shipping</p>"},{"type":"html","id":"ggIKcvc1g7J_text","label":"ggIKcvc1g7J_text","default":"<p>We use expedited shipping for club members. Yes, it's free. We got you.</p>"},{"type":"html","id":"ggA_PE6Q2Hw_text","label":"ggA_PE6Q2Hw_text","default":"<p>free experimental roasts</p>"},{"type":"html","id":"ggeyMv2I43O_text","label":"ggeyMv2I43O_text","default":"<p><u>Every shipment</u> includes two free experimental samples. Members test new products, and decide what products are made next.</p>"},{"type":"html","id":"ggjOk0rMPcg_text","label":"ggjOk0rMPcg_text","default":"<p>free boco hat / YETI</p>"},{"type":"html","id":"ggI2muaNd-E_text","label":"ggI2muaNd-E_text","default":"<p>Get a free welcome YETI / Boco Hat included with your 3rd shipment. This is automatic!</p>"},{"type":"html","id":"ggbviGGTKhQ_label","label":"ggbviGGTKhQ_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
