
  
  
      <style>
        @font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-491392741796741970 .-translate-y-1\/2,.gps-491392741796741970 .mobile\:-translate-y-1\/2,.gps-491392741796741970 .mobile\:rotate-0,.gps-491392741796741970 .mobile\:rotate-180,.gps-491392741796741970 .mobile\:translate-x-0,.gps-491392741796741970 .mobile\:translate-y-1\/2,.gps-491392741796741970 .rotate-0,.gps-491392741796741970 .rotate-180,.gps-491392741796741970 .tablet\:-translate-y-1\/2,.gps-491392741796741970 .tablet\:rotate-0,.gps-491392741796741970 .tablet\:rotate-180,.gps-491392741796741970 .tablet\:translate-x-0,.gps-491392741796741970 .tablet\:translate-y-1\/2,.gps-491392741796741970 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-491392741796741970 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-491392741796741970 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-491392741796741970 .pointer-events-auto{pointer-events:auto}.gps-491392741796741970 .invisible{visibility:hidden}.gps-491392741796741970 .absolute{position:absolute}.gps-491392741796741970 .relative{position:relative}.gps-491392741796741970 .bottom-1\/2{bottom:50%}.gps-491392741796741970 .left-4{left:16px}.gps-491392741796741970 .right-4{right:16px}.gps-491392741796741970 .top-1\/2{top:50%}.gps-491392741796741970 .z-1{z-index:1}.gps-491392741796741970 .z-2{z-index:2}.gps-491392741796741970 .mx-auto{margin-left:auto;margin-right:auto}.gps-491392741796741970 .my-0{margin-bottom:0;margin-top:0}.gps-491392741796741970 .mb-0{margin-bottom:0}.gps-491392741796741970 .mt-2{margin-top:8px}.gps-491392741796741970 .block{display:block}.gps-491392741796741970 .\!inline{display:inline!important}.gps-491392741796741970 .flex{display:flex}.gps-491392741796741970 .inline-flex{display:inline-flex}.gps-491392741796741970 .grid{display:grid}.gps-491392741796741970 .hidden{display:none}.gps-491392741796741970 .aspect-square{aspect-ratio:1/1}.gps-491392741796741970 .h-5{height:20px}.gps-491392741796741970 .h-6{height:24px}.gps-491392741796741970 .h-full{height:100%}.gps-491392741796741970 .w-5{width:20px}.gps-491392741796741970 .w-6{width:24px}.gps-491392741796741970 .w-\[12px\]{width:12px}.gps-491392741796741970 .w-full{width:100%}.gps-491392741796741970 .max-w-full{max-width:100%}.gps-491392741796741970 .shrink-0{flex-shrink:0}.gps-491392741796741970 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-491392741796741970 .-translate-y-1\/2,.gps-491392741796741970 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .translate-y-1\/2{--tw-translate-y:50%}.gps-491392741796741970 .rotate-0{--tw-rotate:0deg}.gps-491392741796741970 .rotate-0,.gps-491392741796741970 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-491392741796741970 .animate-spin{animation:spin 1s linear infinite}.gps-491392741796741970 .cursor-pointer{cursor:pointer}.gps-491392741796741970 .flex-row{flex-direction:row}.gps-491392741796741970 .flex-col{flex-direction:column}.gps-491392741796741970 .items-center{align-items:center}.gps-491392741796741970 .justify-center{justify-content:center}.gps-491392741796741970 .gap-2{gap:8px}.gps-491392741796741970 .gap-y-0{row-gap:0}.gps-491392741796741970 .overflow-hidden{overflow:hidden}.gps-491392741796741970 .break-words{overflow-wrap:break-word}.gps-491392741796741970 .rounded-full{border-radius:9999px}.gps-491392741796741970 .rounded-none{border-radius:0}.gps-491392741796741970 .bg-g-brand{background-color:var(--g-c-brand)}.gps-491392741796741970 .text-center{text-align:center}.gps-491392741796741970 .text-g-text-3{color:var(--g-c-text-3)}.gps-491392741796741970 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-491392741796741970 .no-underline{text-decoration-line:none}.gps-491392741796741970 .opacity-25{opacity:.25}.gps-491392741796741970 .opacity-75{opacity:.75}.gps-491392741796741970 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-491392741796741970 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-491392741796741970 .duration-200{transition-duration:.2s}.gps-491392741796741970 .duration-300{transition-duration:.3s}.gps-491392741796741970 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-491392741796741970 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-491392741796741970 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-491392741796741970 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-491392741796741970 .disabled\:cursor-default:disabled{cursor:default}.gps-491392741796741970 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-491392741796741970 .disabled\:opacity-30:disabled{opacity:.3}.gps-491392741796741970 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-491392741796741970 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-491392741796741970 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-491392741796741970 .tablet\:bottom-1\/2{bottom:50%}.gps-491392741796741970 .tablet\:left-4{left:16px}.gps-491392741796741970 .tablet\:right-4{right:16px}.gps-491392741796741970 .tablet\:top-1\/2{top:50%}.gps-491392741796741970 .tablet\:mt-2{margin-top:8px}.gps-491392741796741970 .tablet\:block{display:block}.gps-491392741796741970 .tablet\:\!inline{display:inline!important}.gps-491392741796741970 .tablet\:\!flex{display:flex!important}.gps-491392741796741970 .tablet\:w-full{width:100%}.gps-491392741796741970 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-491392741796741970 .tablet\:-translate-y-1\/2,.gps-491392741796741970 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-491392741796741970 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-491392741796741970 .tablet\:rotate-0,.gps-491392741796741970 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .tablet\:rotate-0{--tw-rotate:0deg}.gps-491392741796741970 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .tablet\:flex-row{flex-direction:row}.gps-491392741796741970 .tablet\:px-0{padding-left:0;padding-right:0}.gps-491392741796741970 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-491392741796741970 .mobile\:bottom-1\/2{bottom:50%}.gps-491392741796741970 .mobile\:left-4{left:16px}.gps-491392741796741970 .mobile\:right-4{right:16px}.gps-491392741796741970 .mobile\:top-1\/2{top:50%}.gps-491392741796741970 .mobile\:mt-2{margin-top:8px}.gps-491392741796741970 .mobile\:block{display:block}.gps-491392741796741970 .mobile\:\!inline{display:inline!important}.gps-491392741796741970 .mobile\:\!flex{display:flex!important}.gps-491392741796741970 .mobile\:w-full{width:100%}.gps-491392741796741970 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-491392741796741970 .mobile\:-translate-y-1\/2,.gps-491392741796741970 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-491392741796741970 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-491392741796741970 .mobile\:rotate-0,.gps-491392741796741970 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .mobile\:rotate-0{--tw-rotate:0deg}.gps-491392741796741970 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-491392741796741970 .mobile\:flex-row{flex-direction:row}.gps-491392741796741970 .mobile\:px-0{padding-left:0;padding-right:0}.gps-491392741796741970 .mobile\:pl-1{padding-left:4px}}.gps-491392741796741970 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-491392741796741970 .\[\&_p\]\:inline p{display:inline}.gps-491392741796741970 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-491392741796741970 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-491392741796741970 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gcIQCIVt66"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--pt:var(--g-s-s);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EEF8FE;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcIQCIVt66 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtV-057qPu relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gNTspYwZ1b "
        style="--ta:left;--mt:32px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:32px;--ml-mobile:0px;--mb-mobile:28px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:32px;--mr-tablet:0px;--pt-tablet:32px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, Inter);--lh:130%;--size:36px;--size-tablet:36px;--size-mobile:32px;--weight:bold;--c:#122942;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>MEET OUR AMBASSADORS</p>
        </div>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gY23eX1FyC-{{section.id}}" class=" "  gp-data='{"id":"gY23eX1FyC-{{section.id}}","setting":{"arrow":{"desktop":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowCustomColor":"#000000","autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":true},"pauseOnHover":true,"slidesToShow":{"desktop":3,"mobile":1,"tablet":1},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":16}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gY23eX1FyC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gY23eX1FyC-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gvU7YXs1Xc"
    >
      <div
    
    role="presentation"
    class="group/image ggj3CN1uxp"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Long Run Coffee Ambassador Brandon"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-642950b1-4527-4798-8fa2-1b0413154f9c.jpg" | asset_url }}" data-srcset="{{ '484137708004836523-642950b1-4527-4798-8fa2-1b0413154f9c.jpg' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-642950b1-4527-4798-8fa2-1b0413154f9c.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-642950b1-4527-4798-8fa2-1b0413154f9c.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2277" height="2274" alt="Long Run Coffee Ambassador Brandon" priority
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
  />
      </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px" class="gGGTiQord8 ">
      
    <div
      parentTag="CarouselItem"
        class="gGGTiQord8 "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Inter, Inter);--lh:130%;--size:24px;--size-tablet:32px;--size-mobile:28px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        <p>Brandon</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="CarouselItem"
        class="gyM--smiGC "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Viroqua, WI</p>
        </div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="gJbGoumQUs "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:12px;--mb:var(--g-s-l);--mr:12px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Long Run Coffee helps to fuel my running and weight lifting passions. Ever since I stumbled upon LRC I have been curious about combining coffee and electrolytes as I always drink coffee before running and then drink electrolytes&nbsp;separately. LRC gives me the opportunity to do both!&nbsp;</span></p><p>&nbsp;</p><p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">The taste&nbsp;is very smooth and it goes down easily. I became an ambassador because I wanted to promote products that I believe&nbsp;in and use everyday. I am glad that I stumbled across&nbsp;LRC and this program. Don't hesitate&nbsp;to try their amazing products!</span></p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="CarouselItem" id="gwyiWLCsXu"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwyiWLCsXu mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNRrvOYttO relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .gMH-EtwmKO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gMH-EtwmKO:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/that_am_runner/" target="_blank" data-id="gMH-EtwmKO" aria-label="Follow Brandon"
      data-state="idle"
      class="gMH-EtwmKO gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight bg-g-brand text-g-text-3 g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 0C186.528 0 177.792 0.32 150.496 1.536 123.2 2.816 104.608 7.104 88.32 13.44a125.344 125.344 0 0 0 -45.344 29.536A125.664 125.664 0 0 0 13.44 88.32C7.104 104.576 2.784 123.2 1.536 150.4 0.32 177.76 0 186.464 0 256.032c0 69.504 0.32 78.208 1.536 105.504 1.28 27.264 5.568 45.856 11.904 62.144 6.56 16.832 15.296 31.104 29.536 45.344 14.208 14.24 28.48 23.008 45.312 29.536 16.32 6.336 34.88 10.656 62.144 11.904C177.76 511.68 186.464 512 256 512s78.208 -0.32 105.536 -1.536c27.232 -1.28 45.888 -5.568 62.176 -11.904a125.312 125.312 0 0 0 45.312 -29.536c14.24 -14.24 22.976 -28.512 29.536 -45.344 6.304 -16.288 10.624 -34.88 11.904 -62.144C511.68 334.24 512 325.536 512 256s-0.32 -78.24 -1.536 -105.568c-1.28 -27.232 -5.6 -45.856 -11.904 -62.112a125.632 125.632 0 0 0 -29.536 -45.344A125.152 125.152 0 0 0 423.68 13.44c-16.32 -6.336 -34.944 -10.656 -62.176 -11.904C334.176 0.32 325.504 0 255.936 0h0.096zm-22.944 46.144h22.976c68.352 0 76.448 0.224 103.424 1.472 24.96 1.12 38.528 5.312 47.552 8.8 11.936 4.64 20.48 10.208 29.44 19.168 8.96 8.96 14.496 17.472 19.136 29.44 3.52 8.992 7.68 22.56 8.8 47.52 1.248 26.976 1.504 35.072 1.504 103.392s-0.256 76.448 -1.504 103.424c-1.12 24.96 -5.312 38.496 -8.8 47.52a79.04 79.04 0 0 1 -19.168 29.408c-8.96 8.96 -17.472 14.496 -29.44 19.136 -8.96 3.52 -22.528 7.68 -47.52 8.832 -26.976 1.216 -35.072 1.504 -103.424 1.504s-76.48 -0.288 -103.456 -1.504c-24.96 -1.152 -38.496 -5.312 -47.52 -8.832a79.296 79.296 0 0 1 -29.44 -19.136 79.36 79.36 0 0 1 -19.2 -29.44c-3.488 -8.992 -7.68 -22.56 -8.8 -47.52 -1.216 -26.976 -1.472 -35.072 -1.472 -103.456 0 -68.352 0.256 -76.416 1.472 -103.392 1.152 -24.96 5.312 -38.528 8.832 -47.552 4.64 -11.936 10.208 -20.48 19.168 -29.44 8.96 -8.96 17.472 -14.496 29.44 -19.136 9.024 -3.52 22.56 -7.68 47.52 -8.832 23.616 -1.088 32.768 -1.408 80.48 -1.44v0.064zm159.616 42.496a30.72 30.72 0 1 0 0 61.44 30.72 30.72 0 0 0 0 -61.44zm-136.64 35.904a131.488 131.488 0 1 0 0 262.944 131.488 131.488 0 0 0 0 -262.944zm0 46.112a85.344 85.344 0 1 1 0 170.688 85.344 85.344 0 0 1 0 -170.688z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Follow Brandon
      </span>
    </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-A6Feiqae relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .g4XYUOO_jL.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g4XYUOO_jL:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.tiktok.com/@thatrunnerguy4" target="_blank" data-id="g4XYUOO_jL" aria-label="Follow Brandon"
      data-state="idle"
      class="g4XYUOO_jL gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight bg-g-brand text-g-text-3 g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M288 0h63.36c4.608 22.88 17.28 51.744 39.52 80.384C412.64 108.448 441.504 128 480 128v64c-56.096 0 -98.24 -26.048 -128 -58.528V352a160 160 0 1 1 -160 -160v64a96 96 0 1 0 96 96V0Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Follow Brandon
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gzU_F-qPlQ"
    >
      <div
    
    role="presentation"
    class="group/image gk_AQaVlJy"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Long Run Coffee Ambassador Austin Jeffers"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-ef59f237-c7d4-45f0-b927-b41c6169a5bd.jpeg" | asset_url }}" data-srcset="{{ '484137708004836523-ef59f237-c7d4-45f0-b927-b41c6169a5bd.jpeg' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ef59f237-c7d4-45f0-b927-b41c6169a5bd.jpeg' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ef59f237-c7d4-45f0-b927-b41c6169a5bd.jpeg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="991" height="1000" alt="Long Run Coffee Ambassador Austin Jeffers" priority
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
  />
      </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px" class="gcD8br1_nl ">
      
    <div
      parentTag="CarouselItem"
        class="gcD8br1_nl "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Inter, Inter);--lh:130%;--size:24px;--size-tablet:32px;--size-mobile:28px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        <p>Austin Jeffers</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="CarouselItem"
        class="ga1NugdPw3 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Surprise, AZ</p>
        </div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="glwGWnqL3v "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:12px;--mb:var(--g-s-l);--mr:12px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#344D67;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Long Run Coffee helps me fuel my passion of Ultramarathon Running. As the long runs continue to get longer for my big races, the extra electrolytes in my coffee give my mornings a much needed boost before I hit the trails.&nbsp;</span></p><p>&nbsp;</p><p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Living in the desert of Central Arizona, electrolytes play such a huge factor in maintaining hydration and performance. I even got my Fiance hooked on the Pre Run PB&amp;J blend in her morning lattes, &nbsp;and our German Shepard has been stealing some sniffs as well.&nbsp;</span></p>
        </div>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .gYR__8VnEX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gYR__8VnEX:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/austinsadventurern/" target="_blank" data-id="gYR__8VnEX" aria-label="Follow Austin"
      data-state="idle"
      class="gYR__8VnEX gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight bg-g-brand text-g-text-3 g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 0C186.528 0 177.792 0.32 150.496 1.536 123.2 2.816 104.608 7.104 88.32 13.44a125.344 125.344 0 0 0 -45.344 29.536A125.664 125.664 0 0 0 13.44 88.32C7.104 104.576 2.784 123.2 1.536 150.4 0.32 177.76 0 186.464 0 256.032c0 69.504 0.32 78.208 1.536 105.504 1.28 27.264 5.568 45.856 11.904 62.144 6.56 16.832 15.296 31.104 29.536 45.344 14.208 14.24 28.48 23.008 45.312 29.536 16.32 6.336 34.88 10.656 62.144 11.904C177.76 511.68 186.464 512 256 512s78.208 -0.32 105.536 -1.536c27.232 -1.28 45.888 -5.568 62.176 -11.904a125.312 125.312 0 0 0 45.312 -29.536c14.24 -14.24 22.976 -28.512 29.536 -45.344 6.304 -16.288 10.624 -34.88 11.904 -62.144C511.68 334.24 512 325.536 512 256s-0.32 -78.24 -1.536 -105.568c-1.28 -27.232 -5.6 -45.856 -11.904 -62.112a125.632 125.632 0 0 0 -29.536 -45.344A125.152 125.152 0 0 0 423.68 13.44c-16.32 -6.336 -34.944 -10.656 -62.176 -11.904C334.176 0.32 325.504 0 255.936 0h0.096zm-22.944 46.144h22.976c68.352 0 76.448 0.224 103.424 1.472 24.96 1.12 38.528 5.312 47.552 8.8 11.936 4.64 20.48 10.208 29.44 19.168 8.96 8.96 14.496 17.472 19.136 29.44 3.52 8.992 7.68 22.56 8.8 47.52 1.248 26.976 1.504 35.072 1.504 103.392s-0.256 76.448 -1.504 103.424c-1.12 24.96 -5.312 38.496 -8.8 47.52a79.04 79.04 0 0 1 -19.168 29.408c-8.96 8.96 -17.472 14.496 -29.44 19.136 -8.96 3.52 -22.528 7.68 -47.52 8.832 -26.976 1.216 -35.072 1.504 -103.424 1.504s-76.48 -0.288 -103.456 -1.504c-24.96 -1.152 -38.496 -5.312 -47.52 -8.832a79.296 79.296 0 0 1 -29.44 -19.136 79.36 79.36 0 0 1 -19.2 -29.44c-3.488 -8.992 -7.68 -22.56 -8.8 -47.52 -1.216 -26.976 -1.472 -35.072 -1.472 -103.456 0 -68.352 0.256 -76.416 1.472 -103.392 1.152 -24.96 5.312 -38.528 8.832 -47.552 4.64 -11.936 10.208 -20.48 19.168 -29.44 8.96 -8.96 17.472 -14.496 29.44 -19.136 9.024 -3.52 22.56 -7.68 47.52 -8.832 23.616 -1.088 32.768 -1.408 80.48 -1.44v0.064zm159.616 42.496a30.72 30.72 0 1 0 0 61.44 30.72 30.72 0 0 0 0 -61.44zm-136.64 35.904a131.488 131.488 0 1 0 0 262.944 131.488 131.488 0 0 0 0 -262.944zm0 46.112a85.344 85.344 0 1 1 0 170.688 85.344 85.344 0 0 1 0 -170.688z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Follow Austin
      </span>
    </a>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- g5hvBqEvK6"
    >
      <div
    
    role="presentation"
    class="group/image geBbwfaTtS"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Long Run Coffee Ambassador"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-8e4e4010-0987-46d8-8f2f-bf83000972e3.jpg" | asset_url }}" data-srcset="{{ '484137708004836523-8e4e4010-0987-46d8-8f2f-bf83000972e3.jpg' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-8e4e4010-0987-46d8-8f2f-bf83000972e3.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-8e4e4010-0987-46d8-8f2f-bf83000972e3.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1000" height="1000" alt="Long Run Coffee Ambassador" priority
    sizes="100vw"
    style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
  />
      </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px" class="gH88xpghSx ">
      
    <div
      parentTag="CarouselItem"
        class="gH88xpghSx "
        style="--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Inter, Inter);--lh:130%;--size:24px;--size-tablet:32px;--size-mobile:28px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        <p>YOU</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="CarouselItem"
        class="gapUv9VT-k "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, Assistant);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Somewhere on Earth</p>
        </div>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="gSasIxvu0x "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:12px;--mb:var(--g-s-l);--mr:12px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Are you passionate about fitness and health?&nbsp;</span></p><p>&nbsp;</p><p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Do you love a warm cup of coffee that fuels your performance and tastes incredible at the same time?</span></p><p>&nbsp;</p><p><span style="background-color:rgba(255,255,255,0);color:#344D67;font-size:16px;">Join our Long Run Ambassador Program to help others achieve their fitness goals and realize the benefits of Long Run Coffee. In doing so, you will earn commissions and get access to new, limited release products before the general public. It's a win win!</span></p>
        </div>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .gtSLWVhik-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gtSLWVhik-:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/longruncoffee" target="_blank" data-id="gtSLWVhik-" aria-label="Your Handle"
      data-state="idle"
      class="gtSLWVhik- gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-highlight bg-g-brand text-g-text-3 g-paragraph-1"
      style="--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1"
        style="--mr:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 0C186.528 0 177.792 0.32 150.496 1.536 123.2 2.816 104.608 7.104 88.32 13.44a125.344 125.344 0 0 0 -45.344 29.536A125.664 125.664 0 0 0 13.44 88.32C7.104 104.576 2.784 123.2 1.536 150.4 0.32 177.76 0 186.464 0 256.032c0 69.504 0.32 78.208 1.536 105.504 1.28 27.264 5.568 45.856 11.904 62.144 6.56 16.832 15.296 31.104 29.536 45.344 14.208 14.24 28.48 23.008 45.312 29.536 16.32 6.336 34.88 10.656 62.144 11.904C177.76 511.68 186.464 512 256 512s78.208 -0.32 105.536 -1.536c27.232 -1.28 45.888 -5.568 62.176 -11.904a125.312 125.312 0 0 0 45.312 -29.536c14.24 -14.24 22.976 -28.512 29.536 -45.344 6.304 -16.288 10.624 -34.88 11.904 -62.144C511.68 334.24 512 325.536 512 256s-0.32 -78.24 -1.536 -105.568c-1.28 -27.232 -5.6 -45.856 -11.904 -62.112a125.632 125.632 0 0 0 -29.536 -45.344A125.152 125.152 0 0 0 423.68 13.44c-16.32 -6.336 -34.944 -10.656 -62.176 -11.904C334.176 0.32 325.504 0 255.936 0h0.096zm-22.944 46.144h22.976c68.352 0 76.448 0.224 103.424 1.472 24.96 1.12 38.528 5.312 47.552 8.8 11.936 4.64 20.48 10.208 29.44 19.168 8.96 8.96 14.496 17.472 19.136 29.44 3.52 8.992 7.68 22.56 8.8 47.52 1.248 26.976 1.504 35.072 1.504 103.392s-0.256 76.448 -1.504 103.424c-1.12 24.96 -5.312 38.496 -8.8 47.52a79.04 79.04 0 0 1 -19.168 29.408c-8.96 8.96 -17.472 14.496 -29.44 19.136 -8.96 3.52 -22.528 7.68 -47.52 8.832 -26.976 1.216 -35.072 1.504 -103.424 1.504s-76.48 -0.288 -103.456 -1.504c-24.96 -1.152 -38.496 -5.312 -47.52 -8.832a79.296 79.296 0 0 1 -29.44 -19.136 79.36 79.36 0 0 1 -19.2 -29.44c-3.488 -8.992 -7.68 -22.56 -8.8 -47.52 -1.216 -26.976 -1.472 -35.072 -1.472 -103.456 0 -68.352 0.256 -76.416 1.472 -103.392 1.152 -24.96 5.312 -38.528 8.832 -47.552 4.64 -11.936 10.208 -20.48 19.168 -29.44 8.96 -8.96 17.472 -14.496 29.44 -19.136 9.024 -3.52 22.56 -7.68 47.52 -8.832 23.616 -1.088 32.768 -1.408 80.48 -1.44v0.064zm159.616 42.496a30.72 30.72 0 1 0 0 61.44 30.72 30.72 0 0 0 0 -61.44zm-136.64 35.904a131.488 131.488 0 1 0 0 262.944 131.488 131.488 0 0 0 0 -262.944zm0 46.112a85.344 85.344 0 1 1 0 170.688 85.344 85.344 0 0 1 0 -170.688z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Your Handle
      </span>
    </a>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gY23eX1FyC-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style="--c:#000000"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gY23eX1FyC-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style="--c:#000000"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gY23eX1FyC-{{section.id}} flex flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-491392741796741970 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=491392741796741970&template_id=488486792308196221)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
