
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485884236306318590 .gp-invisible{visibility:hidden}.gps-485884236306318590 .gp-absolute{position:absolute}.gps-485884236306318590 .gp-relative{position:relative}.gps-485884236306318590 .gp-z-1{z-index:1}.gps-485884236306318590 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485884236306318590 .gp-mb-0{margin-bottom:0}.gps-485884236306318590 .\!gp-inline{display:inline!important}.gps-485884236306318590 .gp-flex{display:flex}.gps-485884236306318590 .gp-inline-flex{display:inline-flex}.gps-485884236306318590 .gp-grid{display:grid}.gps-485884236306318590 .\!gp-hidden{display:none!important}.gps-485884236306318590 .gp-hidden{display:none}.gps-485884236306318590 .gp-h-5{height:20px}.gps-485884236306318590 .gp-h-full{height:100%}.gps-485884236306318590 .gp-w-5{width:20px}.gps-485884236306318590 .gp-w-full{width:100%}.gps-485884236306318590 .gp-max-w-full{max-width:100%}.gps-485884236306318590 .gp-flex-col{flex-direction:column}.gps-485884236306318590 .gp-items-center{align-items:center}.gps-485884236306318590 .gp-justify-center{justify-content:center}.gps-485884236306318590 .gp-gap-y-0{row-gap:0}.gps-485884236306318590 .gp-overflow-hidden{overflow:hidden}.gps-485884236306318590 .gp-break-words{overflow-wrap:break-word}.gps-485884236306318590 .gp-rounded-none{border-radius:0}.gps-485884236306318590 .gp-no-underline{text-decoration-line:none}.gps-485884236306318590 .gp-opacity-25{opacity:.25}.gps-485884236306318590 .gp-opacity-75{opacity:.75}.gps-485884236306318590 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485884236306318590 .gp-duration-200{transition-duration:.2s}.gps-485884236306318590 .gp-duration-300{transition-duration:.3s}.gps-485884236306318590 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485884236306318590 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485884236306318590 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485884236306318590 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485884236306318590 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485884236306318590 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485884236306318590 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485884236306318590 .tablet\:\!gp-hidden{display:none!important}.gps-485884236306318590 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-485884236306318590 .mobile\:\!gp-hidden{display:none!important}.gps-485884236306318590 .mobile\:gp-hidden{display:none}}.gps-485884236306318590 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485884236306318590 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:0px;--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:0px;--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gZGztY0vo-"
        style="--b:solid;--bc:#E3E7EA;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--pt:0px;--pb:40px;--mb-tablet:40px;--pt-tablet:0px;--pb-tablet:25px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:#F0F4F7;--bgc-tablet:#F0F4F7;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="gZGztY0vo- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIXEU6ymv0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gX6n8uvpK2"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-tablet:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: 'master' }} 1440w" width="3000" height="1125" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3000/1125;--aspect-tablet:3000/1125;--aspect-mobile:3000/1125;--objf:cover;--w:80%;--h:auto;--h-tablet:390px;--h-mobile:390px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-e300170f-15d3-4a7b-b4e1-d4599402ea0d.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3000" height="1125" alt="Alt image"
      sizes="100vw"
      style="--aspect:3000/1125;--aspect-tablet:3000/1125;--aspect-mobile:3000/1125;--objf:cover;--w:80%;--h:auto;--h-tablet:390px;--h-mobile:390px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:27px;--pt-mobile:0px;--mb-tablet:0px;--ta:center"
    class=""
  >
    <style>
    .gqeDdF4nM2.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gqeDdF4nM2:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gqeDdF4nM2" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gqeDdF4nM2 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:50%;--w-tablet:400px;--w-mobile:70%;--h:55px;--h-tablet:40px;--h-mobile:40px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:15px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggqeDdF4nM2_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 7",
      "tag": "section",
      "class": "gps-485884236306318590 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485884236306318590)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"html","id":"ggqeDdF4nM2_label","label":"ggqeDdF4nM2_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
