
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Inter:400,700|Montserrat:800,700&display=swap');
      </style>
    
  <style>
    .gps-501252600272848102 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-501252600272848102 .g-s-small{padding:4px 16px}.gps-501252600272848102 .pointer-events-auto{pointer-events:auto}.gps-501252600272848102 .invisible{visibility:hidden}.gps-501252600272848102 .static{position:static}.gps-501252600272848102 .absolute{position:absolute}.gps-501252600272848102 .relative{position:relative}.gps-501252600272848102 .inset-0{inset:0}.gps-501252600272848102 .z-1{z-index:1}.gps-501252600272848102 .mx-auto{margin-left:auto;margin-right:auto}.gps-501252600272848102 .mb-0{margin-bottom:0}.gps-501252600272848102 .\!inline{display:inline!important}.gps-501252600272848102 .flex{display:flex}.gps-501252600272848102 .inline-flex{display:inline-flex}.gps-501252600272848102 .grid{display:grid}.gps-501252600272848102 .contents{display:contents}.gps-501252600272848102 .hidden{display:none}.gps-501252600272848102 .h-5{height:20px}.gps-501252600272848102 .h-full{height:100%}.gps-501252600272848102 .w-5{width:20px}.gps-501252600272848102 .w-full{width:100%}.gps-501252600272848102 .w-max{width:-moz-max-content;width:max-content}.gps-501252600272848102 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-501252600272848102 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-501252600272848102 .max-w-full{max-width:100%}.gps-501252600272848102 .flex-1{flex:1 1 0%}@keyframes spin{to{transform:rotate(1turn)}}.gps-501252600272848102 .animate-spin{animation:spin 1s linear infinite}.gps-501252600272848102 .flex-col{flex-direction:column}.gps-501252600272848102 .flex-wrap{flex-wrap:wrap}.gps-501252600272848102 .items-center{align-items:center}.gps-501252600272848102 .justify-center{justify-content:center}.gps-501252600272848102 .gap-y-0{row-gap:0}.gps-501252600272848102 .overflow-hidden{overflow:hidden}.gps-501252600272848102 .break-words{overflow-wrap:break-word}.gps-501252600272848102 .rounded{border-radius:4px}.gps-501252600272848102 .rounded-none{border-radius:0}.gps-501252600272848102 .border{border-width:1px}.gps-501252600272848102 .text-center{text-align:center}.gps-501252600272848102 .italic{font-style:italic}.gps-501252600272848102 .no-underline{text-decoration-line:none}.gps-501252600272848102 .opacity-25{opacity:.25}.gps-501252600272848102 .opacity-75{opacity:.75}.gps-501252600272848102 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-501252600272848102 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501252600272848102 .duration-200{transition-duration:.2s}.gps-501252600272848102 .duration-300{transition-duration:.3s}.gps-501252600272848102 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501252600272848102 .ease-out{transition-timing-function:cubic-bezier(0,0,.2,1)}.gps-501252600272848102 .disabled\:btn-disabled:disabled{cursor:default}.gps-501252600272848102 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-501252600272848102 .disabled\:opacity-30:disabled{opacity:.3}.gps-501252600272848102 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-501252600272848102 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-501252600272848102 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-501252600272848102 .\[\&_p\]\:inline p{display:inline}.gps-501252600272848102 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-501252600272848102 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-501252600272848102 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gwLYbPKUEQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:70px;--pt:0px;--pb:0px;--mt-mobile:60px;--pt-mobile:0px;--pb-mobile:0px;--mt-tablet:70px;--pt-tablet:10px;--pb-tablet:10px;--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF9E5;--bgc-tablet:#F7F8F9;--bgc-mobile:#FFF9E5;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll"
        class="gwLYbPKUEQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmnfTWZsCe relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZSuNC-Cv9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#F7F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gZSuNC-Cv9 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5j6W6C8SA relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0YYgk6nBO "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-small);--mb:20px;--mt-mobile:20px;--mb-mobile:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:21px;--size-tablet:16px;--size-mobile:20px;--weight:bold;word-break:break-word"
        >
        <p><u>Complimentary Flavor Samples</u></p><p>Banana Bread + PB&amp;J</p>
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image g-SX6XW3kC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mt-mobile:-70px;--mb-mobile:-50px;--pt-mobile:10px;--ta:right;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:right;--ta-mobile:center"
      >
        <picture style="border-radius: inherit" class="">
    <link rel="preload" href="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}" as="image" />
    
    <link rel="preload" href="{{ "484137708004836523-dcb81e7e-efb9-418d-b980-cb3d3680426d.png" | asset_img_url: '768x768' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "484137708004836523-dcb81e7e-efb9-418d-b980-cb3d3680426d.png" | asset_img_url: '768x768' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    
    <img
      
      class="!inline h-full max-w-full flex gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "484137708004836523-32571883-f108-4ec2-9e6f-b91c79d415db.png" | asset_img_url: 'master' }}"
      alt="Alt Image"
      style="--aspect:4000/4000;--aspect-tablet:undefined/undefined;--aspect-mobile:5000/5000;--objf:cover;--w-tablet:100%;--w-mobile:450px;--h:450px;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  </picture>
      </div>
  </div><div
    
    role="presentation"
    class="group/image gLLGH881Tw"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:80px;--ta:right;--ta-tablet:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:right;--ta-tablet:right"
      >
        <picture style="border-radius: inherit" class="">
    <link rel="preload" href="{{ "484137708004836523-74a6a9c0-1d3d-4f53-954d-288854de3790.png" | asset_img_url: 'master' }}" as="image" />
    
    
    
    
    <img
      
      class="!inline h-full max-w-full flex gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "484137708004836523-74a6a9c0-1d3d-4f53-954d-288854de3790.png" | asset_img_url: 'master' }}"
      alt="Alt Image"
      style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:undefined/undefined;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:450px;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  </picture>
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWb3meK4Lo relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEwwhth5Mh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:15px;--pb-mobile:28px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#F7F8F9;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gEwwhth5Mh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ574UHc81 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '9038832632121' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['subscribe-save-base']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '9038832632121'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '9038832632121' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['subscribe-save-base']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '9038832632121'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gxWpRuIr3T" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pr:50px;--pr-mobile:0px;--pr-tablet:0px;--cg:40px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gW6QFtx69- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2ouY28Xil "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:20px;--mt-mobile:20px;--mb-mobile:0px;--mb-tablet:11px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Inter, Inter);--lh:180%;--size:21px;--size-tablet:18px;--size-mobile:19px;--weight:bold;word-break:break-word"
        >
        <p><u>Complimentary Flavor Samples</u></p><p>Banana Bread + PB&amp;J</p>
        </div>
      </div>
    </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gjrLmkxO14 ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"evergreen","dateStandard":1707608247558,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":12,"mins":0,"endTime":1708349773769,"startTime":1707003447558},"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"},"loopAfterFinish":true,"uid":"gjrLmkxO14","builderData":{"uid":"gjrLmkxO14","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1707608247558,"timeZone":"UTC+7","timerDaily":{"hours":10,"mins":30,"format":"am"},"timerEverygreen":{"days":0,"hours":12,"mins":0,"endTime":1708349773769,"startTime":1707003447558},"enableDay":true,"dayLabel":"Days","enableHour":true,"hourLabel":"Hours","enableMinute":true,"minuteLabel":"Minutes","enableSecond":true,"secondLabel":"Seconds","enableWeek":false,"weekLabel":"Weeks","redirectUrl":{"link":"#","target":"_self"},"loopAfterFinish":true},"styles":{"numTypo":{"type":"heading-2","attrs":{"color":"text-2","bold":true},"custom":{"fontSize":{"desktop":"26px","tablet":"22px","mobile":"25px"},"fontWeight":"400","lineHeight":"120%","fontFamily":"Poppins","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"]}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-1","attrs":{"color":"text-1"},"custom":{"fontSize":{"desktop":"13px","tablet":"13px","mobile":"14px"},"lineHeight":"130%","fontWeight":"400","fontFamily":"Poppins","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"]}},"colorLabel":"text-1","textAlign":{"desktop":"center","mobile":"center"},"backgroundItemColor":"#D9E2EC","verticalGap":"0px","horizontalGap":"0px","itemPadding":{"type":"small"},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"radiusType":"none"}}},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-l)"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"borderType":"none","border":"solid","borderWidth":"1px","width":"0px","color":"#121212","isCustom":true,"position":"all"},"rounded":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"},"hasBoxShadow":false,"boxShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90},"op":{"desktop":"100%"},"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}}},"childrens":[],"type":"component"}}'
     style="--jc:center;--jc-mobile:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max relative" style="gap:0px;--jc:center;--jc-mobile:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="absolute inset-0 z-1"
          > </a>
          
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9E2EC"
    class="flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="day"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--lh:120%;--size:26px;--size-tablet:22px;--size-mobile:25px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:130%;--size:13px;--size-tablet:13px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word"
        >
        Days
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9E2EC"
    class="flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="hour"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--lh:120%;--size:26px;--size-tablet:22px;--size-mobile:25px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:130%;--size:13px;--size-tablet:13px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word"
        >
        Hours
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9E2EC"
    class="flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="minute"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--lh:120%;--size:26px;--size-tablet:22px;--size-mobile:25px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:130%;--size:13px;--size-tablet:13px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word"
        >
        Minutes
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--bs:none;--bw:1px 1px 1px 1px;--bg:#D9E2EC"
    class="flex-1 text-center min-w-max !max-w-max g-s-small">
    
    <div
      id="second"
        class=" "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--lh:120%;--size:26px;--size-tablet:22px;--size-mobile:25px;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:130%;--size:13px;--size-tablet:13px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word"
        >
        Seconds
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-countdown.js" defer="defer"></script>
  
      </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"#gF9JKQBEYW","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"sign me up"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:40px;--mb-mobile:30px;--mb-tablet:0px;--pt-tablet:10px;--pb-tablet:20px;--ta:center"
    class=""
  >
    <style>
    .gT3JNeC-Wt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #DD8525;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gT3JNeC-Wt:hover::before {
      
      
    }
  </style>
    <a
      href="#gF9JKQBEYW" target="_self" data-id="gT3JNeC-Wt" aria-label="sign me up"
      data-state="idle"
      class="gT3JNeC-Wt gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:#FFE0B7;--bg:#FDEAD2;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#DD8728;--w:40%;--w-tablet:70%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:uppercase;--ff:var(--g-font-Montserrat, Montserrat);--ls:1px;--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:18px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        sign me up
      </span>
    </a>
  </div>
  </gp-button>
  
    <div
      parentTag="Col"
        class="giCKALb2vg "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, Poppins);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;word-break:break-word"
        >
        <p><u>Order today and we'll include this flavor sample.</u></p><p>You'll see it at checkout!</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXlmGFkhmA "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--pt:20px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:17px;--weight:bold;word-break:break-word"
        >
        <p>*While Supplies Last.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-501252600272848102 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=501252600172119270&sectionId=501252600272848102)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
