

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-485854940166685580.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-485854940166685580.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-485854940166685580.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-485854940166685580.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-485854940166685580.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-485854940166685580.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-485854940166685580.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-485854940166685580.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-485854940166685580.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-485854940166685580.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-485854940166685580.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-485854940166685580.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-485854940166685580.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-485854940166685580.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-485854940166685580.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-485854940166685580.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-485854940166685580.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-485854940166685580.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-485854940166685580.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-485854940166685580.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-485854940166685580.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-485854940166685580.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-485854940166685580.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-485854940166685580.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-485854940166685580.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-485854940166685580.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-485854940166685580.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-485854940166685580.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-485854940166685580.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-485854940166685580.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-485854940166685580.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-485854940166685580.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-485854940166685580.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-485854940166685580.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-485854940166685580.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-485854940166685580.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-485854940166685580.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-485854940166685580.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-485854940166685580.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-485854940166685580.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-485854940166685580.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-485854940166685580.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-485854940166685580.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-485854940166685580.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-485854940166685580.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-485854940166685580.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-485854940166685580.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-485854940166685580.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-485854940166685580.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-485854940166685580.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-485854940166685580.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-485854940166685580.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-485854940166685580.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-485854940166685580.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-485854940166685580.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-485854940166685580.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-485854940166685580.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-485854940166685580.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-485854940166685580.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-485854940166685580.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-485854940166685580.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-485854940166685580.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-485854940166685580.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-485854940166685580.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-485854940166685580.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-485854940166685580.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-485854940166685580.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-485854940166685580.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-485854940166685580.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-485854940166685580.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-485854940166685580.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-485854940166685580.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-485854940166685580.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-485854940166685580.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-485854940166685580.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-485854940166685580.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-485854940166685580.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-485854940166685580.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-485854940166685580.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-485854940166685580.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-485854940166685580.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-485854940166685580.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-485854940166685580.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-485854940166685580.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-485854940166685580.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-485854940166685580.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-485854940166685580.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-485854940166685580.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-485854940166685580 .gp-relative{position:relative}.gps-485854940166685580 .gp-z-1{z-index:1}.gps-485854940166685580 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940166685580 .gp-mb-0{margin-bottom:0}.gps-485854940166685580 .gp-flex{display:flex}.gps-485854940166685580 .gp-inline-flex{display:inline-flex}.gps-485854940166685580 .gp-grid{display:grid}.gps-485854940166685580 .gp-contents{display:contents}.gps-485854940166685580 .\!gp-hidden{display:none!important}.gps-485854940166685580 .gp-hidden{display:none}.gps-485854940166685580 .gp-h-full{height:100%}.gps-485854940166685580 .gp-w-full{width:100%}.gps-485854940166685580 .gp-max-w-full{max-width:100%}.gps-485854940166685580 .gp-flex-col{flex-direction:column}.gps-485854940166685580 .gp-items-center{align-items:center}.gps-485854940166685580 .gp-justify-center{justify-content:center}.gps-485854940166685580 .gp-gap-y-0{row-gap:0}.gps-485854940166685580 .gp-overflow-hidden{overflow:hidden}.gps-485854940166685580 .gp-break-words{overflow-wrap:break-word}.gps-485854940166685580 .gp-rounded-none{border-radius:0}.gps-485854940166685580 .gp-text-center{text-align:center}.gps-485854940166685580 .gp-no-underline{text-decoration-line:none}.gps-485854940166685580 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166685580 .gp-duration-200{transition-duration:.2s}.gps-485854940166685580 .gp-duration-300{transition-duration:.3s}.gps-485854940166685580 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940166685580 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485854940166685580 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485854940166685580 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485854940166685580 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-485854940166685580 .tablet\:\!gp-hidden{display:none!important}.gps-485854940166685580 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-485854940166685580 .mobile\:\!gp-hidden{display:none!important}.gps-485854940166685580 .mobile\:gp-hidden{display:none}}.gps-485854940166685580 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485854940166685580 .\[\&_p\]\:gp-inline p{display:inline}.gps-485854940166685580 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-485854940166685580 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485854940166685580 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="i2l260cb3cd6e" data-id="i2l260cb3cd6e"
        style="--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:auto;--mb:50px;--mr:auto;--pt:0px;--pl:0px;--pb:50px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:50px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:50px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:30px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#334F68;--bgc-tablet:#334F68;--bgc-mobile:#334F68;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp-tablet:;--bgp-mobile:;--bgs-tablet:;--bgs-mobile:;--bgr-tablet:;--bgr-mobile:;--bga-tablet:;--bga-mobile:"
        class="i2l260cb3cd6e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-w-i2l260cb3cd6e gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g5xcGgkImW" data-id="g5xcGgkImW"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:250px;--pr:250px;--mb-mobile:var(--g-s-l);--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pl-tablet:200px;--pr-tablet:200px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5xcGgkImW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghMmD1EJWs gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g1bqYspXfp"
    role="presentation"
    class="gp-group/image g1bqYspXfp"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--mb:-5px;--pt:5px;--pl:0px;--pr:0px;--mt-mobile:20px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_484137708004836523-9fe9cafa-c7d4-4027-bd27-5f969d0eed21_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTM4ODkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMzg4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiBmaWxsPSJ1cmwoI2ctNTAwMC0zODg5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_484137708004836523-9fe9cafa-c7d4-4027-bd27-5f969d0eed21_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTM4ODkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMzg4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiBmaWxsPSJ1cmwoI2ctNTAwMC0zODg5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTM4ODkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMzg4OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIzODg5IiBmaWxsPSJ1cmwoI2ctNTAwMC0zODg5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_484137708004836523-9fe9cafa-c7d4-4027-bd27-5f969d0eed21.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--objf-tablet:cover;--h:auto;--h-tablet:auto;--h-mobile:325px"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggvXc9f2sL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ggvXc9f2sL "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl:410px;--pr:400px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-tablet:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.4px;--size:19px;--size-tablet:14px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#F7FCFC;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggvXc9f2sL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--mb-mobile:0px;--pt-mobile:15px;--pb-mobile:30px;--ta:center"
    
  >
    <style>
    .gFaqN5ph1d.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-color: #DF8619;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .gFaqN5ph1d:hover::before {
      
      
    }

    .gFaqN5ph1d:hover .gp-button-icon {
      color: #7F4D10;
    }

     .gFaqN5ph1d .gp-button-icon {
      color: #DF8619;
    }

    .gFaqN5ph1d:hover .gp-button-price {
      color: #7F4D10;
    }

    .gFaqN5ph1d .gp-button-price {
      color: #DF8619;
    }

    .gFaqN5ph1d .gp-product-dot-price {
       color: #DF8619;
    }

    .gFaqN5ph1d:hover .gp-product-dot-price {
      color: #7F4D10;
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="gFaqN5ph1d" aria-label="Build My Subscription"
      
      data-state="idle"
      class="gFaqN5ph1d gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#FFDAAE;--bg:#FEEAD1;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--w:55%;--w-tablet:55%;--w-mobile:95%;--h:55px;--h-tablet:55px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#7F4D10;--c:#DF8619;--size:18px;--size-tablet:16px;--size-mobile:16px;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:200%;--lh-tablet:200%;--lh-mobile:200%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:18px;--size-tablet:16px;--size-mobile:16px"
      >
        {{ section.settings.ggFaqN5ph1d_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-485854940166685580 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940166685580)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggvXc9f2sL_text","label":"gggvXc9f2sL_text","default":"<p>1. You can reschedule your next shipment for a specific day.</p><p>&nbsp;</p><p>2. You can skip as many shipments as you need to. This way you can keep your savings tier and club bonuses, without getting too much product.</p><p>&nbsp;</p><p>3. Manage your bundle to cancel, upgrade, or edit the items in your shipment.</p>"},{"type":"html","id":"ggFaqN5ph1d_label","label":"ggFaqN5ph1d_label","default":"Build My Subscription"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
