
  
  
      <style>
        @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-485854940133065612 .-translate-y-1\/2,.gps-485854940133065612 .mobile\:-translate-y-1\/2,.gps-485854940133065612 .mobile\:rotate-0,.gps-485854940133065612 .mobile\:rotate-180,.gps-485854940133065612 .mobile\:translate-x-0,.gps-485854940133065612 .mobile\:translate-y-1\/2,.gps-485854940133065612 .rotate-0,.gps-485854940133065612 .rotate-180,.gps-485854940133065612 .tablet\:-translate-y-1\/2,.gps-485854940133065612 .tablet\:rotate-0,.gps-485854940133065612 .tablet\:rotate-180,.gps-485854940133065612 .tablet\:translate-x-0,.gps-485854940133065612 .tablet\:translate-y-1\/2,.gps-485854940133065612 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485854940133065612 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485854940133065612 .pointer-events-auto{pointer-events:auto}.gps-485854940133065612 .invisible{visibility:hidden}.gps-485854940133065612 .absolute{position:absolute}.gps-485854940133065612 .relative{position:relative}.gps-485854940133065612 .bottom-1\/2{bottom:50%}.gps-485854940133065612 .left-4{left:16px}.gps-485854940133065612 .right-4{right:16px}.gps-485854940133065612 .top-1\/2{top:50%}.gps-485854940133065612 .z-1{z-index:1}.gps-485854940133065612 .z-2{z-index:2}.gps-485854940133065612 .mx-auto{margin-left:auto;margin-right:auto}.gps-485854940133065612 .my-0{margin-bottom:0;margin-top:0}.gps-485854940133065612 .mb-0{margin-bottom:0}.gps-485854940133065612 .mt-2{margin-top:8px}.gps-485854940133065612 .block{display:block}.gps-485854940133065612 .\!inline{display:inline!important}.gps-485854940133065612 .flex{display:flex}.gps-485854940133065612 .inline-flex{display:inline-flex}.gps-485854940133065612 .grid{display:grid}.gps-485854940133065612 .hidden{display:none}.gps-485854940133065612 .aspect-square{aspect-ratio:1/1}.gps-485854940133065612 .h-5{height:20px}.gps-485854940133065612 .h-6{height:24px}.gps-485854940133065612 .h-full{height:100%}.gps-485854940133065612 .w-5{width:20px}.gps-485854940133065612 .w-6{width:24px}.gps-485854940133065612 .w-\[12px\]{width:12px}.gps-485854940133065612 .w-full{width:100%}.gps-485854940133065612 .max-w-full{max-width:100%}.gps-485854940133065612 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-485854940133065612 .-translate-y-1\/2,.gps-485854940133065612 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .translate-y-1\/2{--tw-translate-y:50%}.gps-485854940133065612 .rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .rotate-0,.gps-485854940133065612 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-485854940133065612 .animate-spin{animation:spin 1s linear infinite}.gps-485854940133065612 .cursor-pointer{cursor:pointer}.gps-485854940133065612 .flex-row{flex-direction:row}.gps-485854940133065612 .flex-col{flex-direction:column}.gps-485854940133065612 .items-center{align-items:center}.gps-485854940133065612 .justify-center{justify-content:center}.gps-485854940133065612 .gap-2{gap:8px}.gps-485854940133065612 .gap-y-0{row-gap:0}.gps-485854940133065612 .overflow-hidden{overflow:hidden}.gps-485854940133065612 .break-words{overflow-wrap:break-word}.gps-485854940133065612 .rounded-full{border-radius:9999px}.gps-485854940133065612 .rounded-none{border-radius:0}.gps-485854940133065612 .text-center{text-align:center}.gps-485854940133065612 .text-g-text-3{color:var(--g-c-text-3)}.gps-485854940133065612 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485854940133065612 .no-underline{text-decoration-line:none}.gps-485854940133065612 .opacity-25{opacity:.25}.gps-485854940133065612 .opacity-75{opacity:.75}.gps-485854940133065612 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485854940133065612 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940133065612 .duration-200{transition-duration:.2s}.gps-485854940133065612 .duration-300{transition-duration:.3s}.gps-485854940133065612 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940133065612 .disabled\:btn-disabled:disabled{cursor:default}.gps-485854940133065612 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-485854940133065612 .disabled\:cursor-default:disabled{cursor:default}.gps-485854940133065612 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-485854940133065612 .disabled\:opacity-30:disabled{opacity:.3}.gps-485854940133065612 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-485854940133065612 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-485854940133065612 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-485854940133065612 .tablet\:bottom-1\/2{bottom:50%}.gps-485854940133065612 .tablet\:left-4{left:16px}.gps-485854940133065612 .tablet\:right-4{right:16px}.gps-485854940133065612 .tablet\:top-1\/2{top:50%}.gps-485854940133065612 .tablet\:mt-2{margin-top:8px}.gps-485854940133065612 .tablet\:block{display:block}.gps-485854940133065612 .tablet\:\!inline{display:inline!important}.gps-485854940133065612 .tablet\:\!flex{display:flex!important}.gps-485854940133065612 .tablet\:w-full{width:100%}.gps-485854940133065612 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485854940133065612 .tablet\:-translate-y-1\/2,.gps-485854940133065612 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-485854940133065612 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-485854940133065612 .tablet\:rotate-0,.gps-485854940133065612 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .tablet\:rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .tablet\:flex-row{flex-direction:row}.gps-485854940133065612 .tablet\:px-0{padding-left:0;padding-right:0}.gps-485854940133065612 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-485854940133065612 .mobile\:bottom-1\/2{bottom:50%}.gps-485854940133065612 .mobile\:left-4{left:16px}.gps-485854940133065612 .mobile\:right-4{right:16px}.gps-485854940133065612 .mobile\:top-1\/2{top:50%}.gps-485854940133065612 .mobile\:mt-2{margin-top:8px}.gps-485854940133065612 .mobile\:block{display:block}.gps-485854940133065612 .mobile\:\!inline{display:inline!important}.gps-485854940133065612 .mobile\:\!hidden{display:none!important}.gps-485854940133065612 .mobile\:w-full{width:100%}.gps-485854940133065612 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-485854940133065612 .mobile\:-translate-y-1\/2,.gps-485854940133065612 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-485854940133065612 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-485854940133065612 .mobile\:rotate-0,.gps-485854940133065612 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .mobile\:rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .mobile\:flex-row{flex-direction:row}.gps-485854940133065612 .mobile\:px-0{padding-left:0;padding-right:0}.gps-485854940133065612 .mobile\:pl-1{padding-left:4px}}.gps-485854940133065612 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-485854940133065612 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-485854940133065612 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-485854940133065612 .\[\&_p\]\:inline p{display:inline}.gps-485854940133065612 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-485854940133065612 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485854940133065612 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l265d1bf57e"
        style="--b:solid;--bc:#DDDDDD;--bw:1px 1px 1px 1px;--d:grid;--d-mobile:none;--d-tablet:grid;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F9F9FB;--bgc-tablet:#F8FAFB;--bgc-mobile:#F4FDFF"
        class="i2l265d1bf57e mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l4293e7cd2f relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4s2cfnlHe"
        style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--cg:32px;--cg-tablet:10px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4s2cfnlHe mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geiHPyiZwz relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lfbde94a88f test"
        style="--ta:left;--mt:15px;--ml:0px;--mb:15px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:15px;--mr-tablet:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:130%;--size:26px;--size-tablet:20px;--size-mobile:23px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>long run club details</p>
        </div>
      </div>
    </div><div style="" class="i2la8f3dc3113 ">
      
    
      
      
    <div
      uid="i2la8f3dc3113"
       style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--ta:center;--bgc:transparent;--bgc-mobile:#F4FDFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:35px;--rg-tablet:20px;--rg-mobile:35px"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2le63e0d2c02 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g3CvoITmSq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png" | asset_url }}" data-srcset="{{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-a275fa55-a35f-4b7c-b8b1-d4bf1ec84761.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l2906c7b14a relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l2906c7b14a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l2906c7b14a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l2906c7b14a relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2la996ad185c "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>savings</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9d27c4b951 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Club members enjoy savings of 10% - 25% on all coffee. And LRC is guaranteeing that club members will never see price increases, regardless of inflation.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l1b2b08d844 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g2A5N5xTbe"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png" | asset_url }}" data-srcset="{{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-7b6114f1-29c8-4d2f-ad0d-642dd2f89f97.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l218c4d7cc3 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l218c4d7cc3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l218c4d7cc3 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l218c4d7cc3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2le43d428ae8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>shipping</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9c0f073ac2 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>If your plan includes free shipping, you always get free shipping. Not just subscription shipments, but any other LRC orders as well.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l463858d762 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gXunSZeHEM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png" | asset_url }}" data-srcset="{{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-76004250-e467-4f41-accf-ac4d8107c783.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2lf9bda0d6bb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lf9bda0d6bb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lf9bda0d6bb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lf9bda0d6bb relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lee401ee7f4 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>free limited edition coffee</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvyyWXcO_h "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Every 3 shipments, you're gifted limited edition coffee (can choose flavored or traditional). We routinely release new coffees and you'll always have a new one to try.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l4588c64034 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gPfokZgMc7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png" | asset_url }}" data-srcset="{{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ca7ff0e4-f593-4b15-8607-268a0b03f99e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="6250" height="6250" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:6250/6250;--aspect-tablet:6250/6250;--aspect-mobile:6250/6250;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l62a964a7e3 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l62a964a7e3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l62a964a7e3 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l62a964a7e3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2leaf9c20d40 "
        style="--ta:left;--mt:0px;--ml:-5px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#122942;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>complimetary boco hat / hydro flask</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2lcaf04636d8 "
        style="--ta:left;--mt:0px;--ml:-5px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, Poppins);--lh:180%;--size:16px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Get a free welcome LRC x Hydro Flask and/or LRC x Boco Hat included with your third shipment. This is automatic in your shipment!</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://longruncoffee.com/apps/subscriptions/bb/nKl4wajj#/","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"Build My Subscription"}}'>
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--pt:20px;--pb:0px;--mb-mobile:27px;--pt-mobile:0px;--mb-tablet:0px;--pt-tablet:20px;--pb-tablet:20px;--ta:center"
    class=""
  >
    <style>
    .g6C-0mqAd-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .g6C-0mqAd-:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/apps/subscriptions/bb/nKl4wajj#/" target="_self" data-id="g6C-0mqAd-" aria-label="Build My Subscription"
      data-state="idle"
      class="g6C-0mqAd- gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#CB7A22;--bg:#E59A4E;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3);--w:500px;--w-tablet:80%;--w-mobile:70%;--h:45px;--h-tablet:40px;--h-mobile:40px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Inter, Inter);--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:15px;--weight:bold"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Build My Subscription
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gETeT-jIez relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-g6gSRTMhhW-{{section.id}}" class=" "  gp-data='{"id":"g6gSRTMhhW-{{section.id}}","setting":{"arrow":{"desktop":true,"mobile":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":true,"autoplayTimeout":"3","background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7FCFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 2","Slide 1"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":false,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":true,"loop":{"desktop":true,"mobile":true},"pauseOnHover":true,"slidesToShow":{"desktop":1,"mobile":1,"tablet":1},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true,"mobile":true},"fullWidth":{"desktop":true,"mobile":true,"tablet":false},"height":{"desktop":"300px"},"spacing":{"desktop":16,"mobile":"0"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block mx-auto g6gSRTMhhW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--pb-mobile:0px;--h:auto;--h-mobile:auto;--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;visibility:hidden;--bgc:transparent;--bgc-mobile:#F7FCFC;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-g6gSRTMhhW-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gznw9ak2X1"
    >
      <div
    
    role="presentation"
    class="group/image goIUAm6Sv8"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://longruncoffee.com/products/club-exclusive-lrc-x-boco-run-hat" target="_self" title
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/d14c45c0-1620-4568-b0bd-c0f7e2463e0b/-/format/auto/" data-srcset="https://ucarecdn.com/d14c45c0-1620-4568-b0bd-c0f7e2463e0b/-/format/auto/ 768w,https://ucarecdn.com/d14c45c0-1620-4568-b0bd-c0f7e2463e0b/-/format/auto/ 1024w,https://ucarecdn.com/d14c45c0-1620-4568-b0bd-c0f7e2463e0b/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4000" height="4000" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gwKpTapN_0"
    >
      <div
    
    role="presentation"
    class="group/image g-3cCLMFCP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="https://longruncoffee.com/products/copy-of-lrc-x-hydro-flask-16oz-bottle" target="_self" title
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "484137708004836523-ed418a18-5297-4f89-b027-f0d027bc8d89.png" | asset_url }}" data-srcset="{{ '484137708004836523-ed418a18-5297-4f89-b027-f0d027bc8d89.png' | asset_img_url: '768x768' }} 768w, {{ '484137708004836523-ed418a18-5297-4f89-b027-f0d027bc8d89.png' | asset_img_url: '1024x1024' }} 1024w, {{ '484137708004836523-ed418a18-5297-4f89-b027-f0d027bc8d89.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4000" height="4000" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </a>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back g6gSRTMhhW-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next g6gSRTMhhW-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-g6gSRTMhhW-{{section.id}} hidden flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-485854940133065612 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940133065612)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
