
  <style> @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); </style>
  <style> .gps-485854940133065612 .gp-rotate-0,.gps-485854940133065612 .gp-rotate-180,.gps-485854940133065612 .mobile\:gp-rotate-0,.gps-485854940133065612 .mobile\:gp-rotate-180,.gps-485854940133065612 .tablet\:gp-rotate-0,.gps-485854940133065612 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-485854940133065612 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-485854940133065612 .gp-invisible{visibility:hidden}.gps-485854940133065612 .\!gp-absolute{position:absolute!important}.gps-485854940133065612 .gp-absolute{position:absolute}.gps-485854940133065612 .gp-relative{position:relative}.gps-485854940133065612 .gp-z-1{z-index:1}.gps-485854940133065612 .gp-z-2{z-index:2}.gps-485854940133065612 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-485854940133065612 .gp-my-0{margin-bottom:0;margin-top:0}.gps-485854940133065612 .gp-mb-0{margin-bottom:0}.gps-485854940133065612 .gp-block{display:block}.gps-485854940133065612 .\!gp-inline{display:inline!important}.gps-485854940133065612 .\!gp-flex{display:flex!important}.gps-485854940133065612 .gp-flex{display:flex}.gps-485854940133065612 .gp-inline-flex{display:inline-flex}.gps-485854940133065612 .gp-grid{display:grid}.gps-485854940133065612 .\!gp-hidden{display:none!important}.gps-485854940133065612 .gp-hidden{display:none}.gps-485854940133065612 .gp-aspect-square{aspect-ratio:1/1}.gps-485854940133065612 .gp-h-5{height:20px}.gps-485854940133065612 .gp-h-full{height:100%}.gps-485854940133065612 .\!gp-min-h-full{min-height:100%!important}.gps-485854940133065612 .gp-w-5{width:20px}.gps-485854940133065612 .gp-w-\[12px\]{width:12px}.gps-485854940133065612 .gp-w-full{width:100%}.gps-485854940133065612 .gp-max-w-full{max-width:100%}.gps-485854940133065612 .gp-shrink-0{flex-shrink:0}.gps-485854940133065612 .gp-rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .gp-rotate-0,.gps-485854940133065612 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .gp-rotate-180{--tw-rotate:180deg}.gps-485854940133065612 .gp-cursor-pointer{cursor:pointer}.gps-485854940133065612 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-485854940133065612 .\!gp-flex-row{flex-direction:row!important}.gps-485854940133065612 .gp-flex-row{flex-direction:row}.gps-485854940133065612 .gp-flex-col{flex-direction:column}.gps-485854940133065612 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940133065612 .gp-items-center{align-items:center}.gps-485854940133065612 .gp-justify-center{justify-content:center}.gps-485854940133065612 .gp-justify-between{justify-content:space-between}.gps-485854940133065612 .gp-gap-2{gap:8px}.gps-485854940133065612 .gp-gap-y-0{row-gap:0}.gps-485854940133065612 .gp-overflow-hidden{overflow:hidden}.gps-485854940133065612 .gp-break-words{overflow-wrap:break-word}.gps-485854940133065612 .gp-rounded-full{border-radius:9999px}.gps-485854940133065612 .gp-rounded-none{border-radius:0}.gps-485854940133065612 .gp-text-center{text-align:center}.gps-485854940133065612 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-485854940133065612 .gp-no-underline{text-decoration-line:none}.gps-485854940133065612 .gp-opacity-25{opacity:.25}.gps-485854940133065612 .gp-opacity-75{opacity:.75}.gps-485854940133065612 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-485854940133065612 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940133065612 .gp-duration-200{transition-duration:.2s}.gps-485854940133065612 .gp-duration-300{transition-duration:.3s}.gps-485854940133065612 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-485854940133065612 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-485854940133065612 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-485854940133065612 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-485854940133065612 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-485854940133065612 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-485854940133065612 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-485854940133065612 .tablet\:\!gp-absolute{position:absolute!important}.gps-485854940133065612 .tablet\:gp-z-2{z-index:2}.gps-485854940133065612 .tablet\:gp-block{display:block}.gps-485854940133065612 .tablet\:\!gp-flex{display:flex!important}.gps-485854940133065612 .tablet\:\!gp-hidden{display:none!important}.gps-485854940133065612 .tablet\:gp-hidden{display:none}.gps-485854940133065612 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-485854940133065612 .tablet\:gp-w-full{width:100%}.gps-485854940133065612 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .tablet\:gp-rotate-0,.gps-485854940133065612 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-485854940133065612 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-485854940133065612 .tablet\:gp-flex-row{flex-direction:row}.gps-485854940133065612 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940133065612 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-485854940133065612 .mobile\:\!gp-absolute{position:absolute!important}.gps-485854940133065612 .mobile\:gp-z-2{z-index:2}.gps-485854940133065612 .mobile\:gp-block{display:block}.gps-485854940133065612 .mobile\:\!gp-flex{display:flex!important}.gps-485854940133065612 .mobile\:\!gp-hidden{display:none!important}.gps-485854940133065612 .mobile\:gp-hidden{display:none}.gps-485854940133065612 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-485854940133065612 .mobile\:gp-w-full{width:100%}.gps-485854940133065612 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-485854940133065612 .mobile\:gp-rotate-0,.gps-485854940133065612 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-485854940133065612 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-485854940133065612 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-485854940133065612 .mobile\:gp-flex-row{flex-direction:row}.gps-485854940133065612 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-485854940133065612 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-485854940133065612 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-485854940133065612 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-485854940133065612 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-485854940133065612 .\[\&_p\]\:gp-inline p{display:inline}.gps-485854940133065612 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-485854940133065612 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-485854940133065612 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l265d1bf57e"
        style="--b:solid;--bc:#EFEFEF;--bw:1px 1px 1px 1px;--d:grid;--d-mobile:none;--d-tablet:grid;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:90%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F9F9FB;--bgc-tablet:#F8FAFB;--bgc-mobile:#F4FDFF"
        class="i2l265d1bf57e gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-i2l4293e7cd2f gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4s2cfnlHe"
        style="--b:solid;--bc:#121212;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:0px;--cg:30px;--cg-tablet:10px;--pc:start;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4s2cfnlHe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geiHPyiZwz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lfbde94a88f test"
        style="--ta:left;--mt:15px;--ml:0px;--mb:15px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:15px;--mr-tablet:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-heading, heading);--ls:-0.5px;--lh:130%;--size:25px;--size-tablet:20px;--size-mobile:23px;--weight:bold;--c:#4AC2D0;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2lfbde94a88f_text | downcase }}</div>
      </div>
    </div><div style="" class="i2la8f3dc3113 ">
      
    
      
      
    <div
      uid="i2la8f3dc3113"
       style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--ta:center;--bgc:transparent;--bgc-mobile:#F4FDFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:35px;--rg-tablet:20px;--rg-mobile:35px"
        >
        
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2le63e0d2c02 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g3CvoITmSq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-discount-tag.png?v=1714951094 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l2906c7b14a gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l2906c7b14a"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l2906c7b14a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l2906c7b14a gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2la996ad185c "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:130%;--size:21px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#4FC2CF;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2la996ad185c_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9d27c4b951 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:180%;--size:19px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2l9d27c4b951_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l1b2b08d844 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g2A5N5xTbe"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:25px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-box.png?v=1714951420 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:25px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l218c4d7cc3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l218c4d7cc3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l218c4d7cc3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l218c4d7cc3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2le43d428ae8 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:130%;--size:21px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#4AC2D0;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2le43d428ae8_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2l9c0f073ac2 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:180%;--size:19px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2l9c0f073ac2_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l463858d762 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gXunSZeHEM"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-coffee-bag.png?v=1714951386 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2lf9bda0d6bb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2lf9bda0d6bb"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2lf9bda0d6bb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lf9bda0d6bb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2lee401ee7f4 "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:130%;--size:21px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#4AC2D0;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2lee401ee7f4_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvyyWXcO_h "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-1px;--lh:180%;--size:19px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvyyWXcO_h_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
    <li
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item"
      style="--cg:20px;--cg-tablet:25px;--cg-mobile:15px"
    >
    <div
      
      style=""
      class="c-i2l4588c64034 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gPfokZgMc7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/lrc-hat.png?v=1714951264 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:2000/2000;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:35px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      
      style=""
      class="c-sp-i2l62a964a7e3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="sp-i2l62a964a7e3"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-i2l62a964a7e3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l62a964a7e3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="i2leaf9c20d40 "
        style="--ta:left;--mt:0px;--ml:-5px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-1px;--lh:130%;--size:21px;--size-tablet:16px;--size-mobile:15px;--weight:bold;--c:#4AC2D0;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2leaf9c20d40_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="i2lcaf04636d8 "
        style="--ta:left;--mt:0px;--ml:-5px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--ls:-0.5px;--lh:180%;--size:19px;--size-tablet:13px;--size-mobile:13px;--weight:bold;--c:rgb(78, 77, 78);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gi2lcaf04636d8_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  </li>
      </ul>
  </div>
  
      </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:12px;--pt:20px;--pb:0px;--mb-mobile:27px;--pt-mobile:0px;--mb-tablet:0px;--pt-tablet:20px;--pb-tablet:20px;--ta:center"
    class=""
  >
    <style>
    .g6C-0mqAd-.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #DD8728;
  
      
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      
    }

    .g6C-0mqAd-:hover::before {
      
      
    }
  </style>
    <a
      href="https://longruncoffee.com/collections/subscribe-save" target="_self" data-id="g6C-0mqAd-" aria-label="Build My Subscription"
      
      data-state="idle"
      class="g6C-0mqAd- gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#CB7A22;--bg:#FFF1E0;--bblr:7px;--bbrr:7px;--btlr:7px;--btrr:7px;--shadow:none;--hvr-c:#FFFFFF;--c:#DD8728;--w:80%;--w-tablet:80%;--w-mobile:70%;--h:55px;--h-tablet:40px;--h-mobile:40px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:17px;--size-mobile:15px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gg6C-0mqAd-_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gETeT-jIez gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel  id="gp-root-carousel-g6gSRTMhhW-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"g6gSRTMhhW-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":"3","background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7FCFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 2","Slide 1","Slide 3"],"controlOverContent":{"desktop":true,"mobile":true},"dot":{"desktop":false,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"none","mobile":"none","tablet":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":1,"mobile":1,"tablet":1},"loop":{"desktop":true,"mobile":true},"navigationStyle":{"desktop":"inside","mobile":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16,"mobile":"0"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block g6gSRTMhhW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--pb-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:calc(100% - 12px - 16px);--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous g6gSRTMhhW-{{section.id}} gp-carousel-arrow-g6gSRTMhhW gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-g6gSRTMhhW {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g6gSRTMhhW::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-g6gSRTMhhW {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g6gSRTMhhW::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g6gSRTMhhW {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g6gSRTMhhW::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-g6gSRTMhhW-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:0px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gznw9ak2X1"
    >
      <div
    
    role="presentation"
    class="gp-group/image goIUAm6Sv8"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-1.png?v=1716058246 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gwKpTapN_0"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-3cCLMFCP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg" | file_url }}" srcset="{{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: 'master' }} 1440w" width="4000" height="4000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg" | file_url }}" data-srcset="{{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_484137708004836523-53972ccb-dd58-4c6b-aac9-74d21c6525ec.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4000" height="4000" alt="Alt image"
      sizes="100vw"
      style="--aspect:4000/4000;--aspect-tablet:4000/4000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--bgc-mobile:#F7FCFC;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gecBWpVvS2"
    >
      <div
    
    role="presentation"
    class="gp-group/image gozuBFkgIT"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246" srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 1440w" width="2000" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246" data-srcset="https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 768w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 1024w,https://cdn.shopify.com/s/files/1/0761/6924/9081/files/benefit-2.png?v=1716058246 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2000" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:2000/2000;--aspect-tablet:2000/2000;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next g6gSRTMhhW-{{section.id}} gp-carousel-arrow-g6gSRTMhhW gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-g6gSRTMhhW {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g6gSRTMhhW::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-g6gSRTMhhW {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g6gSRTMhhW::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g6gSRTMhhW {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g6gSRTMhhW::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-g6gSRTMhhW-{{section.id}} gp-flex-row gp-w-full tablet:gp-flex-row tablet:gp-w-full mobile:gp-flex-row mobile:gp-w-full"
    style="--bottom:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:flex;--d-mobile:none"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-485854940133065612 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/longruncoffee/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=485854940049179532&sectionId=485854940133065612)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gi2lfbde94a88f_text","label":"gi2lfbde94a88f_text","default":"<p>Long Run Club Details</p>"},{"type":"text","id":"gi2la996ad185c_text","label":"gi2la996ad185c_text","default":"<p>SAVINGS</p>"},{"type":"text","id":"gi2l9d27c4b951_text","label":"gi2l9d27c4b951_text","default":"<p>Club members enjoy savings of 10% - 25%. LRC also guarantees that club members will never see price increases, regardless of inflation.&nbsp;</p>"},{"type":"text","id":"gi2le43d428ae8_text","label":"gi2le43d428ae8_text","default":"<p>Shipping</p>"},{"type":"text","id":"gi2l9c0f073ac2_text","label":"gi2l9c0f073ac2_text","default":"<p>We use expedited shipping for club members. Yes, it's free. We got you.</p>"},{"type":"text","id":"gi2lee401ee7f4_text","label":"gi2lee401ee7f4_text","default":"<p>Free Experimental Roasts</p>"},{"type":"text","id":"ggvyyWXcO_h_text","label":"ggvyyWXcO_h_text","default":"<p><u>Every</u> shipment includes two new experimental samples - this is automatic! Club members test new roasts &amp; flavors, and decide what LRC's next products will be. &nbsp;</p>"},{"type":"text","id":"gi2leaf9c20d40_text","label":"gi2leaf9c20d40_text","default":"<p>Complimentary boco hat / YETI</p>"},{"type":"text","id":"gi2lcaf04636d8_text","label":"gi2lcaf04636d8_text","default":"<p>Get a free welcome LRC x YETI and/or LRC x BOCO Hat included with your third shipment. This is automatic!</p>"},{"type":"text","id":"gg6C-0mqAd-_label","label":"gg6C-0mqAd-_label","default":"Build My Subscription"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
