<div>
  <div class='relative'>
    <div class='-z-10 absolute inset-0 bg-tan-900/10'></div>
    <img
      src='{{ "img-home-hero.webp" | asset_url }}'
      width='100'
      height='100'
      loading='eager'
      class='object-cover absolute inset-0 w-full h-full transform scale-x-[-1] -z-20 brightness-75'
      alt='hero'
    >
    <div class='flex flex-col lg:max-w-4xl px-8 lg:px-24 h-full justify-center py-12 lg:py-48'>
      <h1 class='text-center lg:text-left font-accent text-6xl tracking-tight leading-[3.5rem] lg:text-7xl lg:leading-[4rem] text-tan-50'>
        Fuel your passion
      </h1>
      <p class='text-center lg:text-left font-semibold text-2xl text-tan-50 mt-6 pl-1'>
        Electrolyte Infused Coffee for Athletes
      </p>
      <a
        href='/collections/coffee'
        class='bg-cyan-600 text-white font-accent self-center lg:self-start mt-6 px-4 py-1.5'
      >
        Shop
      </a>
    </div>
  </div>
  <div class='bg-tan-100 w-full px-8'>
    <div class='mx-auto lg:max-w-3xl grid grid-cols-7 py-4 gap-2 lg:gap-8'>
      <img
        src='{{ "img-banner-hoka.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='hoka'
      >
      <img
        src='{{ "img-banner-believe-in-the-run.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='believe in the run'
      >
      <img
        src='{{ "img-banner-ten-junk-miles.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='ten junk miles'
      >
      <img
        src='{{ "img-banner-bigger-than-the-trail.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='bigger than the trail'
      >
      <img
        src='{{ "img-banner-aravaipa-running.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='aravaipa running'
      >
      <img
        src='{{ "img-banner-ornery-mule-racing.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='ornery mule racing'
      >
      <img
        src='{{ "img-banner-vacation-races.png" | asset_url }}'
        width='100'
        height='100'
        loading='lazy'
        class='object-contain w-full h-full bg-center'
        alt='vacation races'
      >
    </div>
  </div>
  <div class='px-6 py-12 py:my-24'>
    <div class='grid grid-cols-1 lg:grid-cols-2 mx-auto max-w-7xl bg-tan-100 lg:h-[30rem] shadow'>
      <div class='flex flex-col items-center justify-center space-y-8 px-4 h-[26rem] lg:h-auto border-b border-tan-200 lg:border-none'>
        <h3 class='font-accent text-4xl lg:text-6xl text-cyan-700 text-center'>Electrolyte power</h3>
        <p class='text-neutral-900 text-xl max-w-md text-center'>
          Achieve your ideal running performance and overall well-being in a sustainable and enjoyable way, without
          sacrificing taste or wasting time. Our athletes find fulfillment, while we Fuel Your Passion.
        </p>
        <a
          href='/pages/the-science'
          class='font-semibold text-[1rem] text-neutral-900 border rounded-full border-neutral-900 px-4 py-1.5'
        >
          Learn More
        </a>
      </div>
      <div class='relative h-80 lg:h-auto'>
        <img
          src='{{ "img-home-electrolyte-power.jpeg" | asset_url }}'
          width='100'
          height='100'
          loading='lazy'
          class='object-cover w-full h-full bg-center'
          alt='mountains'
        >
        <div class='absolute inset-0 flex items-center justify-center'>
          <img
            src='{{ "img-home-electrolyte-power-coffee-cup.png" | asset_url }}'
            width='100'
            height='100'
            loading='lazy'
            class='object-contain w-4/5 h-4/5 bg-center'
            alt='coffee cup'
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home-hero.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.home-hero.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
