<div>
    <div class="bg-cyan-50 grid grid-cols-1 lg:grid-cols-2 mt-8">
    <div class="relative border-b border-cyan-200 lg:border-none h-96 lg:h-auto">
        <img
            src={{ "LRC4.jpg" | asset_url }}
            width="100"
            height="100"
            loading="lazy"
            class="object-cover w-full h-full bg-center"
            alt="trees"
        />
    </div>
    <div class="relative flex flex-col justify-center space-y-6 lg:space-y-8 px-6 lg:px-24 py-12 mx-auto lg:max-w-4xl">
        <h3 class="font-accent text-4xl lg:text-5xl text-cyan-900">
        Join the club.
        </h3>
        <p class="text-neutral-900 lg:text-lg">
        Never stop Fueling Your Passion & Performance. Get fresh supply
        delivered to your door regularly, and enjoy the convenience and ease
        of being a Long Run Coffee member.
        </p>
        <div class="grid grid-cols-4 gap-4 lg:gap-4">
        <div>
            <img
            src={{ "img-home-box.png" | asset_url }}
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="shipping box"
            />
            <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Free Shipping
            </p>
        </div>
        <div>
            <img
            src={{ "img-home-discount.png" | asset_url }}
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="discount"
            />
            <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            10% Savings
            </p>
        </div>
        <div>
            <img
            src={{ "img-home-bonus.png" | asset_url }}
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="surprise package"
            />
            <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Bonus Gear
            </p>
        </div>
        <div>
            <img
            src={{ "img-home-customization.png" | asset_url }}
            width="100"
            height="100"
            loading="lazy"
            class="h-10 w-10 object-contain mx-auto lg:mx-0"
            alt="coffee bag"
            />
            <p class="text-xs text-center lg:text-left lg:text-[0.9rem] mt-2 font-medium text-neutral-700">
            Fully Customizable
            </p>
        </div>
        </div>
        <div class="flex flex-col lg:flex-row items-start lg:items-center space-y-2 lg:space-y-0 lg:space-x-4">
        <a
            href="/apps/subscriptions/bb/nKl4wajj"
            class="bg-tan-200 px-4 lg:px-6 py-2 border border-tan-800 text-tan-800 lg:text-lg font-medium tracking-wider uppercase"
        >
            Build my subscription
        </a>
        <a
            href="/pages/coffee-club"
            class="px-4 lg:px-6 py-2 border border-cyan-800 text-cyan-800 lg:text-lg font-medium tracking-wider uppercase"
        >
            Learn more
        </a>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.home-coffee-club-cta.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.home-coffee-club-cta.presets.name",
      "blocks": []
    }
  ]
}
{% endschema %}
